
body {
    background-color: #f1f1f1;
    margin: 0 !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: 0 !important;
 

}
body::-webkit-scrollbar {
    display: none;
}
body {
    font-family: 'Spline Sans';
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}