@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Spline Sans', sans-serif;
}
.header-border {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 20px;
}
.worki-image {
    height: 35px;
    width: auto;
    vertical-align: middle;
}

.bi-eye-slash {}
.create-account-container {
    width: 508px;
    margin: auto auto auto auto;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
}

#create-account-title {
    font-size: 18px;
    padding-bottom: 20px;
}

.font-fam {
    font-family: 'Spline Sans', sans-serif;
}

.create-account-under-container {
    width: 100%;
    margin-top: 0;
}

.input-text {
    border-radius: 30px;
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    border: 0.5px solid #D4D5D6;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    color: #9E9E9E;
}

.input-text:focus {
    outline: none;
}

.input-text::placeholder {
    color: #9E9E9E;
}

.first-name-form-div {
    margin-right: 20px;
    width: 100%;
}

#password:focus {
    outline: none;
}

.password-input::placeholder {
    color: #9E9E9E;
}

/* .name-surname-width {
    width: 48%;
} */

.surname-input {
    font-family: 'Spline Sans', sans-serif;
}

/* .name-input, .surname-input, .email-input {
    margin-bottom: 20px;
} */

.name-input {
    margin-right: 20px;
}

.create-account-first-name-surname {
    display: flex; 
    width: 100%; 
}

.create-account-inputs-divs {
    margin-bottom: 20px;
}

.same-color-of-paragraphs {
    color: #9E9E9E;
}

.terms-conditions-link, .sign-in-link {
    color: #1877F2;
    text-decoration: none;
}

.first-paragraph {
    padding-left: 10px;
}

.first-paragraph, .second-paragraph {
    margin: 0;
    padding-bottom: 20px;
    font-size: 16px;
}

.second-paragraph, .sign-up-submit-input {
    text-align: center;
}

.sign-up-google {
    text-align: center;
    color: #9E9E9E;
    text-decoration: none;
}

.sign-up-submit-input {
    padding: 10px 0px;
    background-color: #1877F2;
    color: white;
    cursor: pointer;
    border: 0.5px solid #1877F2;
}

.sign-up-submit-input:focus {
    outline: none;
}

.third-paragraph {
    font-size: 16px;
    padding-left: 10px;
    margin: 0;
    padding-top: 20px;
}

.input-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

.input-main-form-div {
    margin-bottom: 20px;
}

.input-form-google-sign-up-in {
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    left: 10px;
    height: 55%;
}

#togglePassword {
    position: absolute;
    right: 20px;
}

.incorrect-div {
    padding-left: 10px;
    margin-bottom: 20px;
    color: #FF0000;

}


@media screen and (max-width: 1024px) and (min-width: 481px) {

    .create-account-container {
        width: 488px;
    }

}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    /* body {
        padding: 0px 36px 36px 36px;

    }
    .create-account-container {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .header-border {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .create-account-under-container {
        width: 420px;
    }
    #create-account-title {
        font-size: 36px;
        width: 300px;
        padding-bottom: 36px;
    }
    .first-paragraph, .second-paragraph {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .third-paragraph {
        padding-top: 18px;
    }
    .first-paragraph, .second-paragraph, .third-paragraph {
        font-size: 15px;
    }
    .name-input, .surname-input, .email-input {
        margin-bottom: 18px;
    }
    .name-input, .surname-input, .email-input, .password-input, .sign-up-submit-input, .sign-up-google {
        font-size: 17px;
        padding-top: 9px;
        padding-bottom: 9px;
    } */
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    /* body {
        padding: 0px 20px 20px 20px;

    }
    .create-account-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header-border {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .create-account-under-container {
        width: 380px;
    }
    .first-paragraph, .second-paragraph {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .third-paragraph {
        padding-top: 15px;
    }
    .first-paragraph, .second-paragraph, .third-paragraph {
        font-size: 14px;
    }
    .name-input, .surname-input, .email-input {
        margin-bottom: 15px;
    }
    .name-input, .surname-input, .email-input, .password-input, .sign-up-submit-input, .sign-up-google {
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    } */
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    .create-account-first-name-surname {
        display: block;
    }
    .create-account-container {
        margin-top: 0px;
    }

    .header-border {
        display: none;
    }
    #togglePassword {
        position: absolute;
        right: 15px;
    }

    .first-name-form-div {
        margin-bottom: 20px;
    }

    .create-account-container {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #create-account-title {
        padding-bottom: 20px;
        font-size: 16px;
    }
    /* .first-paragraph, .second-paragraph {
        padding-top: 10px;
        padding-bottom: 10px;
    } */
    .third-paragraph {
        padding-top: 20px;
    }
    .first-paragraph, .second-paragraph, .third-paragraph {
        /* font-size: 14px; */
    }
    .name-input, .surname-input, .email-input, .password-input, .sign-up-google {
        /* font-size: 14px; */
        padding: 8px 0px 8px 8px;
    }

    .sign-up-submit-input {
        height: 36px;
        padding: 0px;
    }
    .name-input {
        /* margin-bottom: 15px; */
        padding: 8px 0px 8px 8px;
    }
    .name-input, .surname-input, .email-input {
        /* margin-bottom: 15px; */
    }
}