



.NoResult{
padding-left:40px;
padding-top:20px;
color:#65676B !important;
font-size:18px !important;
}
@media screen and (max-width: 970px) and (min-width: 768px) {

    .experience-first-row {
        width: 100px;
    }
    
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .jobs-main-div {
        margin-left: -10px;
    }
    .main-buttons-div {
        margin-left: -10px;
    }
    .edit-job-button {
        width: 28px;
        height: 28px;
    }
    .right-jobs-main-div {
        margin-right: -10px;
    }
}
@media screen and (max-width: 767px) and (min-width: 481px) {

    .right-jobs-main-div {
        display: none;
        width: 100% !important;
    }
    .right-jobs {
        margin-bottom: 20px;
        height: 100vh;
        margin-left: 10px;
        margin-right: 10px;
    }
    .jobs-left {
        width: 100%;
    }
    .exit-job-description {
        margin-bottom: 30px;
        display: block;
        width: 18px;
        height: 18px;
    }    
    
    .jobs-rows-img {
        margin: 0px 10px 20px 20px;
    }
    .last-job-margin-bottom {
        margin-bottom: -10px;
    }
    .right-jobs-rows-img-second {
        margin-top: 20px;
    }
    .different-background-jobs {
        background-color: white;
    }
    .mutual-padding-of-div {
    }

    .edit-job-button {
        width: 26px;
        height: 26px;
        margin-right: 30px;
    }

    .edit-job-button-different-margin {
        margin-top: 30px;
    }
    .jobs-rows-img {
        padding-left: 30px;
    }

    .main-buttons-div {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        margin-left: -20px;
    }
    .container-fluid {
    }

    .right-jobs-rows-img, .right-jobs-rows-img-second {
        margin-right: 10px;
    };
    .last-input-form {
        margin-right: 20px;
    }
}



@media screen and (max-width: 480px) {
    .NoResult{
    padding-left:20px;
padding-top:20px;
color:#65676B !important;
font-size:18px !important;
    }
    .mobile-margin-top{
        margin-top: 20px !important;
    }
    .right-job-margin-top{
        margin-top: 20px !important;
    }
    textarea{
        font-size: 16px;
    }
    .move{
        margin-top: 0!important;
    }
    .jobs-main-div {
     }
     .jobs-left-title, .mobile-title-font-size, .first-row-second-div {
        font-size: 16px;
    }
    .applied-posted-buttons-mobile {
        margin-top: 5px !important;
        margin-bottom: -10px !important;
    }
    .applied-posted-plus-icon-mobile {
        width: 16px;
        height: 16px;
        padding: 8px;
        margin-top: 4px;
    }
    .mobile-under-title-font-size {
        font-size: 16px;
    }
    .first-job-applied {
        
    }
    .mobile-rows-font-size, .second-row-second-div, .second-div-second-paragraph {
        font-size: 16px !important;

    }
    .applied-button-jobs, .posted-button-jobs, .applied-button-posted-jobs, .posted-button-posted-jobs {
        font-size: 16px;
        height: 32px;
        padding-left: 26px;
        padding-right: 26px;
    }

    .first-row-jobs {
        padding-bottom: 8px;
    }
    .jobs-third-row {
        margin-top: 40px;
        margin-bottom: -5px;   /* margin-bottom: -5px sepse margin e rreshtit te pare ($12.00/hour) barazohet
                                  me marginen e rreshtave poshte tij (pra te gjithe rreshtat jane te larguar
                                  nga 20px nga njeri tjetri (rreshti i pare ka qene i larguar 25px
                                  nga rreshti i dyte, prandaj eshte perdorur margin-bottom: -5px.  */
    }
    .jobs-mutual-margin-rows {
        margin-top: 20px;
    }
    .experience-second-row, .experience-third-row, .experience-fourth-row {
        font-size: 16px;
    }
    
    .right-jobs-main-div {
        margin-top: 10px;
        display: none;
        width: 100% !important;
    }
    .applied-posted-right-main-div-mobile {
        margin-top: -10px;
    }
    .right-jobs {
        height: 100vh;
        margin-bottom: 10px;
        width: 100%;
    }
    .jobs-left {
        width: 100% !important;
        margin-bottom: 10px;
        margin-top: 10px;
        position:absolute;
    }
    .outline-none {
        margin-top: 5px;
                        /* margin-top e butonit Apply fillimisht eshte 15px, per ta bere margin-top: 20px,
                               duhet te shenojme margin-top: 5px dhe keshtu, ne mobile kemi distancen                          e njejte  margin-top: 20px, ne te gjithe rreshtat (nga "$12.00/hour" hour deri                           te Apply */
    }
    .exit-job-description {
        margin-bottom: 20px;
        display: block;
        width: 15px;
        height: 15px;
     /* margin-top: -10px;  duke marre parasysh se margin-top: 30px eshte
                               ne fillim, i bie qe margin-top: 20px */
    }
    .jobs-rows-img {
        margin-right: 10px !important;
    }
    .last-job-margin-bottom {
        margin-bottom: -10px;
    }
    .right-jobs-rows-img-second {
        margin-top: 10px;
        border-radius: 20px;
        margin-bottom: 10px 
    }
    .different-background-jobs {
        background-color: white;
    }
    .mutual-padding-of-div {
        padding-right: 10px;
        
    }
    .edit-job-button {
        width: 22px;
        height: 22px;
        margin-right: 20px;
    }
    .edit-job-button-different-margin {
        margin-top: 30px;
    }

    .jobs-rows-img {
        padding: 20px;
        border-radius: 20px;
    }

    .jobs-buttons {
        margin: 0;
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
    .second-jobs-buttons {
        
    }
    .right-jobs-rows-img, .right-jobs-rows-img-second  {
        margin-right: 10px;
        border-radius: 20px;
    };
    .container-add-a-job {
        border-radius: 20px !important;
    }
};