body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Spline Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.submit-button {
    background-color: #1877F2;
    color: white;
}
.back-button {
    background-color: white;
    color: #1877F2;
    border: 1px solid #1877F2;
}
.submit-button:hover, .back-button:hover {
filter: brightness(0.95);
}
.upload-file-div {
    border: 0.5px solid #9E9E9E;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    background-color: #1877F2;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: white;
    border: none;
}

.navbar-brand {
    padding: 0;
}

.modal-bg {
    width: 100%;
    height: 100%;
    position: relative;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.content {
    text-align: center;
    background-color: white;
    padding: 30px 40px 40px 40px;
    border-radius: 40px;
    box-sizing: border-box;
    position: absolute;
    /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.sign-up-pop-up-paragraph {
    margin: 0;
    margin-top: 40px;
    color: #858585;
    font-size: 18px;
}
.sign-up-pop-up-button {
    margin-top: 40px;
    background-color: #858585;
    color: white;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 30px;
}
.company-name {
    color: black;
}
.upload>input[type="file"] {
}
.dropdown {
    position: absolute;
}
.dropdown-content-text {
    text-decoration: none;
    color: gray;
}
.logo-label {
    width: 100%;
    margin-bottom: 0;
}
.input-form {
display: flex;
flex-direction: row-reverse;
align-items: center;
position: relative;
}

.icon {
    position: absolute;
    left: 10px;
    height: 22px;
    width: 22px;
    border-radius: 4px;
}

.under-main-modal-bg {
display: none;
margin: 20px 40px 20px 40px; 
padding: 40px; 
background-color: white; 
border-radius: 40px;
}
.submit-button, .back-button {
margin-top: 40px;
border-radius: 30px;
padding: 8px 35px;
background-color: #1877F2;
font-size: 18px;
cursor: pointer;
}
.submit-button {
background-color: #1877F2;
color: white;
border: none;
}
.back-button {
background-color: white;
color: #1877F2;
border: 1px solid #1877F2;
}
.submit-button:hover, .back-button:hover {
filter: brightness(0.95);
}
.imgs-over-textarea {
display: flex; 
width: calc(100% - 120px);
margin: auto;
}
.scroll {
width: calc(100% - 120px);
margin-left: 40px;
margin-right: 40px;
height: 400px; 
background-color: white; 
border-radius: 40px;
resize: none; 
border: 1px solid #9E9E9E; 
font-size: 18px; 
color: #757575; 
padding: 10px;
margin: auto;
outline: none;  
margin-top: 20px;
}
.textarea-imgs {
display: flex;
flex-direction: column;
}
.margin-top-job-title {
padding-top: 30px;
}
.back-submit-buttons {
width: 450px;
display: flex;
justify-content: space-between;
margin: auto;
}
.back-button-description {
color: #1877F2;
}
.title-job-description {
padding-bottom: 40px; 
text-align: center; 
font-size: 40px;
}

@media screen and (max-width: 480px) {
    .register-form {
        width: 100%;
    }
    .scroll {
        width: 100%;
        height: 300px;
    }
    .imgs-over-textarea {
        width: 100%;
    }
    .title-font-size {
        font-size: 30px;
    }
    img {
        height: 40px;
    }
    .first-form-group {
         /* margin-top ne llaptop: 10px 
                                        +
                             margin-top ne mobile: 10px
                                         =
                                        20px */								 
    }
    input {
    }
.back-submit-buttons {
    display: flex;
    justify-content: space-between;
}
.back-button-description {
    margin-right: 0;
}
.submit-button-description {
    margin-right: 0;
}
.back-submit-buttons {
}
.title-job-description {
    font-size: 30px;
    margin-top: 0;
}
}


@media screen and (max-width: 767px) and (min-width: 481px) {
}