* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    margin: 10px;
    background-color: red;
    font-family: 'Spline Sans', sans-serif;
  }

  a:active {
    box-shadow: 0px 0px 0px 3.2px #9cc5ff80 !important;
  }

  a {
  }

  h1 {
      margin-top: 0px;
      width: 350px;
      margin: auto;
    font-family: 'Spline Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 40px;
  /* or 70px */
  
  text-align: center;
  
  color: #1877F2;
  
  text-shadow: 0px 0px 0px #399EAC;
  }
  
  .second-paragraph .sign-in-submit-input {
      text-align: center;
  }
  
  .sign-in-submit-input {
      padding: 10px 0px;
      border-radius: 30px;
      background-color: #1877F2 !important;
      color: white;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      border: 0.5px solid #1877F2;
      margin-top: 40px;
      font-family: 'Spline Sans', sans-serif;
  }
  .font-fam:hover {
    filter: brightness(0.95) !important;
  }
  
  .sign-in-submit-input:focus {
      outline: none;
  }

  .p{
    font-family: 'Spline Sans', sans-serif;
  font-size: 18px !important;
  line-height: 28px;
  text-align: center;
  margin-top: 40px;
  color: #858585;
  }
  
  body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color:#f1f1f1;
  }
  
  #notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    background-color: white;
    border-radius: 40px;
    
  }
  .notfound {
    margin: auto;
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #notfound .notfound {
  }
  
  .notfound {
    width: 100%;
    line-height: 1.4;
    padding: 0px 15px;
  }
  
  .notfound .notfound-404 {
    position: relative;
  }
  
  .notfound .notfound-404 h1 {
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    width: 150px;
  }
  
  .notfound h2 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
  }
  
  .notfound p {
   margin-bottom: 0px;
  }
  
  .notfound a {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: none;
    /* background: #5c91fe; */
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 1px;
    /* -webkit-transition: 0.2s all;
    transition: 0.2s all; */
  }
  
  /* .notfound a:hover {
    opacity: 0.8;
  } */

  @media only screen and (max-width: 1024px) and (min-width: 768px) {

    .h{
        font-size: 36px;
    }
    .p {
        font-size: 17px !important;
    }
    .sign-in-submit-input {
        font-size: 17px;
    }
    .notfound {
        padding-left: 40px;
        padding-right: 40px;
    }

    
  }
  
  @media only screen and (max-width: 767px) and (min-width: 481px) {

    .h{
        font-size: 32px;
    }
    .p {
        font-size: 16px !important;
    }
    .sign-in-submit-input {
        font-size: 16px;
    }
    #notfound {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    .notfound {
        padding-left: 30px;
        padding-right: 30px;
    }

  }

  @media only screen and (max-width: 767px) {
    img {
        width: 80%;
    }
  }

  @media only screen and (max-width: 480px) {
    .h{
        font-size: 30px;
        margin-bottom: 30px;
        display: flex;
        width: 250px;
        align-items: center;
    }
    #notfound {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border-radius: 20px;
    }
    .notfound {
        padding-left: 20px;
        padding-right: 20px;
    }
    .p {
        font-size: 16px !important;
        margin-top: 30px;
    }
    .notfound a {
        font-size: 16px;
        margin-top: 30px;
        padding: 8px 30px 8px 30px;
    }
  }