{% load static %}

    {% for i in job %}
    <div onclick="getMyJobs('{{i.id}}');showRightJobsMainDiv();" class="job-left-row pixel move"  id="select{{i.id}}">
        <img class="job-logo" src="{{i.logo.url}}" alt="">
        <div class="job-left-content">
            <div class="first-row-and-edit-img ">
                <div class="job-left-title">{{i.job_title}}</div>
                <div style="display: flex; flex-direction: column;">
                    <a onclick="testApp({{i.id}})"><img class="edit-job-button" title="Edit Job"  src="{% static 'img/Three-dots.svg'%}" alt=""></a>
                    <div class="profileDropDown edit_dropdown recruter-job-dropdown" id="edit_dropdown{{i.id}}">
                        <div class="profileDropDown-content"><a href="{% url 'editJob' i.id%}" class="profileDropDown-text">Edit Job</a></div>
                        {% if i.status == "Open" %}
                        <div class="profileDropDown-content"><a href="{% url 'closeJob' i.id%}" class="profileDropDown-text">Close Job</a></div>
                        {% else %}
                        <div class="profileDropDown-content"><a href="{% url 'openJob' i.id%}" class="profileDropDown-text">Open Job</a></div>
                        {% endif %}
                        <div style="" class="profileDropDown-content"><a href="{% url 'applicant' i.id %}" class="profileDropDown-text">View Applicants </a></div>
                    </div>
                </div>
            </div>
            {% if i.country_j == "USA" %}
            <div class="job-left-salary job-left-details">${{i.salary_per_hour|floatformat:2}}/hour{%if i.tips %} + tips {% endif %} </div>
            {% else %}
            <div class="job-left-salary job-left-details">€{{i.salary_per_hour|floatformat:2}}/hour{%if i.tips %} + tips {% endif %}</div>
            {% endif%}
            <div class="job-left-company job-left-details">{{i.company}}</div>
            <div class="job-left-details">{{i.city_j}}, {{i.country_j}}</div>
        </div>
    </div>

    {% endfor %}
