{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worki</title>
    <link rel="stylesheet" href="{% static 'css/authenticated.css'%}">
    <link rel="stylesheet" href="{% static 'css/non-authenticated.css'%}">
    <link rel="stylesheet" href="{% static 'css/profile-header.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    {% if user.is_authenticated %}
    <header id="header-border">
        <img id="worki-image" src="{% static 'img/Worki_Logo.png'%}" title="Worki_Logo">
        <div id="jobs-and-profile">
          <a href="#"><img class="jobs-icon-button" title="Jobs" src="{% static 'img/JOBS_icon.png'%}"></a>
            <img src="{{user.profile.url}}" id="profile-image-button" class="profilePic"title="Profile" alt="">
        </div>
    </header>
    <div class="dropdown">
        <div class="dropdown-content" ><a href="{% url 'profile'  %}" class="dropdown-content-text">My profile</a></div>
        <div class="dropdown-mid-content"><a href="" class="dropdown-content-text">My jobs</a></div>
        <div class="dropdown-content"><a href="{% url 'logout' %}" class="dropdown-content-text">Sign out</a></div>
     </div>
    {% else %}
         <header id="header-border">
            <img id="worki-image" src="{% static 'img/Worki_Logo.png'%}" alt="" title="Worki_Logo">
            <div id="img-and-buttons">
                <a href="#"><img class="jobs-icon-button" title="Jobs" src="{% static 'img/JOBS_icon copy 1.png'%}" alt=""></a>
                <a href="{% url 'login' %}"><button id="sign-in-button">Sign in</button></a> 
                <a href="{% url 'register' %}"><button id="sign-up-button">Create Account</button></a>
            </div>
        </header> 
    {% endif %}
</head>
<body>
    
    
        
    {% block content %}
    

    {% endblock content%}

</body>

    <script src="{% static 'js/profile_dropdown.js'%}"></script>
</html>