
{% load static %}
{% block content %}
{% include 'header-links.html'%}
    <link rel="icon" href="{% static 'img/123.png' %}">
    <link rel="stylesheet" href="{% static 'css/reserve-post-a-job.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <div id="reserve-form" class="successfully-applied-form reserve-form" method="POST" style="text-align: center;">
    <div class="contact-information-form under-successfully-applied-form">
       <div class="successfully-applied-content-div">
        <img class="applying-img" width="55" src="{% static 'img/checkbox2.svg' %}" alt="">
        <div class="successfully-applied-div">You have successfully applied</div>
        <div class="check-email-div">Please check your email for updates on your application</div>
        <div class="done-button-div" style="">
           <a href="{% url 'home' %}" id="" class="done-successful-applying" style="">Done</a>
        </div>
        </div>
    </div>
</div>

{% endblock content %}