{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "Filters/filters.html"%}
{% if check %}
<input style="display:none;" id="PostID" value="{{post_id}}">
<input type="hidden" id="MainJobs" name="variable" value="{{checkMainJobs}}">
<div class="jobs-main-div" >
    <div class="job-left" style="" id="myDIV">
    {% include "MainJobs/left-jobs.html" %}
    </div>
    {% include "MainJobs/right-jobs.html" %}
</div>
{% else %}
    <div class="job-first-row NoResult" style="">No results were found</div>
{% endif %}
{% endblock content %}