{% extends 'base.html' %}
{% load static %}
{% block content %}




<link rel="stylesheet" href="{% static 'css/jobi.css' %}">
<link rel="stylesheet" href="{% static 'css/labels.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/posted-jobs-media-queries.css' %}"> -->


{% include "Filters/filters.html" %}

{% if check %}
<input style="display:none;" id="PostID" value="{{post_id}}">
<div class="jobs-main-div" style="display: flex; justify-content: space-between;">
    <div class="jobs-left mobile-margin-top" style="" id="myDIV">
<!--        Left Jobs-->
         {% for i in job %}

               <div onclick="getNumber('{{i.id}}')" class="jobs-rows-img second-jobs margin-top-jobs-rows-img same-background-jobs pixel"  id="select{{i.id}}">
                   <img class="experience-education-img" src="{{i.logo.url}}" alt="">
                   <span class="experience-rows">
                   <span class="experience-first-row">{{i.job_title}} </span>
                       {% if i.country_j == "USA" %}
                            <span class="experience-second-row">${{i.salary_per_hour}}/hour</span>
                       {% else %}
                            <span class="experience-second-row">€{{i.salary_per_hour}}/hour</span>
                       {% endif%}
                   <span class="experience-third-row">{{i.company}}</span>

                   <span class="experience-third-row">{{i.city_j}}, {{i.country_j}}</span>
                       <div class="experience-fifth-row">
                           {% if i.positionLeft <= 3 and i.positionLeft > 0 %}
                        <div class="jobs-availability experience-fifth-row-positions" title="{{i.positionLeft}} positions left">{{i.positionLeft}} positions left</div>

                           {% endif %}
                           {% if i.daysLeftDeadline <= 7 and i.daysLeftDeadline > 0 %}
                           <div class="jobs-availability experience-fifth-row-days" title="Expiring in {{i.daysLeftDeadline}} days">{{i.daysLeftDeadline}} days left</div>
                           {% endif %}
                           {% if i.postDate.year == getYear and i.postDate.month == getMonth %}
                            <div class="jobs-availability experience-fifth-row-new" title="New job">New</div>
                           {% endif %}

                        </div>

                   </span>
               </div>
        <div class="move"></div>

       {% endfor %}
  
    </div>
    <div class="right-jobs-main-div right-job-margin-top">
        <div class="right-jobs" id="detailsRow" style="display:none;flex-direction: column;">

        <div class="right-jobs-rows-img" style="padding: 3; margin-left: 10px; background-color: white;">
                    <div class="experience-rows" style="">
                        <img class="exit-job-description" title="Exit" style="float: left; cursor: pointer;"
                            src="{% static 'img/Vector 81 (1).png'%}" alt="">
                        <div class="first-row-jobs mobile-title-font-size" id="job_title"></div>
                        <div class="second-row-jobs mobile-under-title-font-size">
                            <span id="company"></span>
                            <span style="color: #858585;">
                                &nbsp;·&nbsp;
                            <span id="city"></span>&nbsp;&nbsp;·&nbsp;
                            <span id="countApplicant"></span></span></div>
                                
                        <div style="" class="jobs-third-row mobile-rows-font-size"><span id="salary"></span>&nbsp&nbsp·&nbsp&nbsp <span id="totsalary" style="color:#00AA11;"></span></div>
                        <div  class="experience-fourth-row mobile-rows-font-size  jobs-mutual-margin-rows">
                            <span id="typeOfWork"></span>&nbsp;·&nbsp;
                            <span id="hourPerWork"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows" id="sDate"></div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span id="housing"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="housingCost"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span id="program"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="programCost"></span>
                        </div>

                        <div id="button" style="margin-top: 20px;padding-bottom: 8px"></div>
                    </div>
                </div>
                <div class="right-jobs-rows-img-second">
                    <div class="experience-rows">
                        <span id="message" ></span>
                </div>
  

            </div>
    </div>
    

</div>
{% else %}
    <div class="experience-first-row NoResult" style="">No results were found</div>

{% endif %}

<script src="{% static 'js/Ajax/right-jobs-ajax.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>






{% endblock content %}