{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "Filters/filters.html"%}
{% if check %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<input type="hidden" id="PostID" value="{{post_id}}">
<input type="hidden" id="MainJobs" name="variable" value=True>
<script src="https://ajax.googleapis.com/ajax/libs/handlebars/4.7.7/handlebars.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGdAo48zrdXuutzUUc0fVSrWCzi0Kn5OE&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v6_cAF" async defer></script>


<div class="jobs-main-div jobs-gigs-main-div" style="display: flex; justify-content: space-between;">

  <div class="job-left" id="detailsRow" style="">
    {% include "MainJobs/left-jobs.html" %}
    </div>
    {% include "MainJobs/right-jobs.html" %}
</div>
{% else %}
    <div class="job-first-row NoResult" style="">No results were found</div>
{% endif %}
<script>


// Trigger a click on the first .job-left-row element when the window loads
$(document).ready(function() {
    $('.job-left-row').eq(0).click();

});
</script>

<script>
  const mediaQuery = window.matchMedia('(max-width: 480px');
    if (mediaQuery.matches) {
        $(document).ready(function() {

            // Function to show right jobs and hide left jobs
            function showRightJobsMainDiv() {
                $('.job-left, .profileHeader, .header-wishes, .jobs-buttons').hide();
                $('.right-jobs, .right-jobs-main-div').show();
                history.pushState({ showJobLeft: true }, '');
            }

            // Function to show left jobs and hide right jobs
            function showJobLeft() {
                $('.job-left, .profileHeader, .header-wishes, .jobs-buttons').show();
                $('.right-jobs, .right-jobs-main-div').hide();
            }

            // Event listener for back button
            window.addEventListener('popstate', function(event) {
                if (event.state) {
                    if (event.state.showJobLeft) {
                        showJobLeft(); // Show the job-left div
                    } else {
                        showRightJobsMainDiv(); // Show the right-jobs-main-div
                    }
                }
            });

            // Attach click events to elements
            $('.job-left-row').click(function() {




                showRightJobsMainDiv();
                var id =  $(this).attr('id'); // Your ID
                var strippedId = id.substring("select".length);

                console.log(strippedId); // This will print "147"
                var newURL = window.location.origin + "/jobs" + '/' + strippedId;
                history.pushState({ showJobLeft: false }, "",newURL);
            });

            // You can add more click event handlers as needed
            // For example, if you have a close button to go back to left jobs
            $('.job-right-exit').click(function() {
                showJobLeft();
                // Push a state to the history to track the change
                var newURL = window.location.origin + "/jobs/"
                history.pushState({ showJobLeft: true }, '',newURL);
            });
            function closeButton(){
                showJobLeft();
                // Push a state to the history to track the change
                var newURL = window.location.origin + "/jobs/"
                history.pushState({ showJobLeft: true }, '',newURL);
            }
        });
  }else{
    $(document).ready(function() {

            var newURL = window.location.origin + "/jobs" + '/' + '{{post_id}}';

            history.pushState({ showJobLeft: false }, "",newURL);
            // Function to show right jobs and hide left jobs
            function showRightJobsMainDiv() {
                if (mediaQuery.matches){
                    $('.job-left, .profileHeader, .header-wishes, .jobs-buttons').hide();
                $('.right-jobs, .right-jobs-main-div').show();
                history.pushState({ showJobLeft: true }, '');

                }else{

                $('.job-left, .profileHeader, .header-wishes, .jobs-buttons').show();
                $('.right-jobs, .right-jobs-main-div').show();
                history.pushState({ showJobLeft: true }, 't');
                }
            }

            // Function to show left jobs and hide right jobs
            function showJobLeft() {
                if (mediaQuery.matches) {
                $('.job-left, .profileHeader, .header-wishes, .jobs-buttons').show();
                $('.right-jobs, .right-jobs-main-div').hide();
                }else{
                $('.job-left, .profileHeader, .header-wishes, .jobs-buttons').show();
                $('.right-jobs, .right-jobs-main-div').show();
                }
            }

            // Event listener for back button
            window.addEventListener('popstate', function(event) {
                if (event.state) {
                    if (event.state.showJobLeft) {
                        showJobLeft(); // Show the job-left div
                    } else {
                        showRightJobsMainDiv(); // Show the right-jobs-main-div
                    }
                }
            });

            // Attach click events to elements
            $('.job-left-row').click(function() {
                var id =  $(this).attr('id'); // Your ID
                var strippedId = id.substring("select".length);

                console.log(strippedId); // This will print "147"
                showRightJobsMainDiv();
                // Push a state to the history to track the change
                var newURL = window.location.origin + "/jobs" + '/' + strippedId;
                history.pushState({ showJobLeft: false }, "",newURL);
            });

            // You can add more click event handlers as needed
            // For example, if you have a close button to go back to left jobs

            function closeButton(){
                if (mediaQuery.matches) {
                showJobLeft();
                // Push a state to the history to track the change
                var newURL = window.location.origin + "/jobs/"
                history.pushState({ showJobLeft: true }, '',newURL);
                }else{
                showJobLeft();
                // Push a state to the history to track the change
                history.pushState({ showJobLeft: true }, '');
                }
            }
        });
  }
</script>





<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/handlebars/4.7.7/handlebars.min.js"></script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGdAo48zrdXuutzUUc0fVSrWCzi0Kn5OE&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_locatorplus_v6_cAF" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock content %}