{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "Filters/filters.html" %}
{% if check %}
<input type="hidden" id="MainJobs" name="variable" value="{{checkMainJobs}}">
<input style="display:none;" id="PostID" value="{{post_id}}">
<div class="jobs-main-div" >

    <div class="job-left" style="" id="myDIV">
        <div onclick="getNumber('{{FJob.id}}')" class="job-left-row pixel"  id="select{{FJob.id}}">
               <img class="job-logo" src="{{FJob.logo.url}}" alt="">
               <span class="job-left-content">
               <span class="job-left-title">{{FJob.job_title}}</span>
                   {% if FJob.country_j == "USA" %}
                        <span class="job-left-salary job-left-details">${{FJob.salary_per_hour|floatformat:2}}/hour{%if FJob.tips %} + tips {% endif %}</span>
                   {% else %}
                        <span class="job-left-salary job-left-details">€{{FJob.salary_per_hour|floatformat:2}}/hour{%if FJob.tips %} + tips {% endif %}</span>
                   {% endif%}
               <span class="job-left-company job-left-details">{{FJob.company}}</span>
               <span class="job-left-details">{{FJob.city_j}}, {{FJob.country_j}}</span>

               </span>
           </div>
        <div class="move"></div>
        {% include "MainJobs/left-jobs.html" %}
    </div>
    {% include "MainJobs/right-jobs.html" %}
{% else %}
    <div class="experience-first-row NoResult" style="">No results were found</div>

{% endif %}

{% endblock content %}