.profile-header {
    margin: 0px 40px 20px 10px;
}

.pro-img {
    height: 9vw;
}

.experience-education-languages {
    margin: 0px 20px 20px 10px;
}
.right-jobs {
}

.experience-education-margin-bottom {
    margin: 20px 20px 20px 10px;
}
.experience-education-languages {
    margin: 0px 40px 20px 10px;
}

.profile-image {
    width: 140px;
    height: 140px;
    margin-top: -70px;
}
