{% load static %}
<div class="main-buttons-div">
    <div class="jobs-buttons applied-posted-buttons-mobile all-aplicants-main-div scrolling-wrapper">
         <div class="main-input-form">
            <div class="input-form inputs-right-margin all-applicants-button-form" style="">
             <button title="All Applicants" class="applied-button-jobs outline-none all-applicants-button" >{% if q == "All" %}All Applicants{% elif q == "Q" %}Qualified {% else %} Not Qualified {% endif %}</button>
             <div class="div-white-icon" style="">
                <img style="cursor: pointer;top:3;position: absolute;right: 10px;" class=""
                    src="{% static 'img/white-dropdown-icon.png' %}" alt="">
            </div>
            </div>
             <div class="all-applicants-dropdown profileDropDown" id="all-applicants-dropdown">
                 {% if q == "Q" %}
               <label for="mutual1" onclick="AllApplicant()" id="qualify" class="profileDropDown-content profileDropDown-text"><input id="mutual1" style="display: none;" type="checkbox" class="input_type"
                    onchange="checkboxStatusChange()" disabled value="Qualified" name="Qualified" />All Applicants</label>
                <label style="" onclick="NoQualified()" id="nqualify" class="profileDropDown-content all-applicants-dropdown-content profileDropDown-text"><input style="display: none;" type="checkbox" class="input_type"
                value="NQualified"  name="Not Qualified" />Not Qualified</label>
                 {% elif q == "notQ" %}

                 <label for="mutual1" onclick="AllApplicant()" id="qualify" class="profileDropDown-content profileDropDown-text"><input id="mutual1" style="display: none;" type="checkbox" class="input_type"
                    onchange="checkboxStatusChange()" disabled value="All Applicant" name="All Applicant" /> All Applicant</label>
                <label style="" onclick="NoQualified()" id="nqualify" class="profileDropDown-content all-applicants-dropdown-content profileDropDown-text"><input style="display: none;" type="checkbox" class="input_type"
                value="Qualified"  name="Qualified" /> Qualified</label>

                 {% else %}
                <label for="mutual1" onclick="Qualified()" id="qualify" class="profileDropDown-content profileDropDown-text filterDropDown"><input id="mutual1" style="display: none;" type="checkbox" class="input_type"
                    onchange="checkboxStatusChange()"   value="Qualified" name="Qualified" /> Qualified</label>
                <label style="" onclick="NoQualified()" id="nqualify" class="profileDropDown-content all-applicants-dropdown-content profileDropDown-text filterDropDown"><input style="display: none;" type="checkbox" class="input_type"
                value="NQualified"  name="Not Qualified" /> Not Qualified </label>
                 {% endif %}

                 <a title="Select an option to click here" class="move-phase-button phaseButton " id="moveToPhase" style="text-align:center;width: calc(100% - 40px);">Select to move  </a>
              </div>
         </div>
         <div class="main-input-form">
            <div class="input-form inputs-right-margin all-applicants-button-form" style="">
                {% if appSub%}
                <button title="All Applicants" class="applied-button-jobs outline-none phase-on-board-button" >{{appSub}}</button>
                <div class="div-white-icon" style="">
                    <img style="cursor: pointer;top:3;position: absolute;right: 10px;" class=""
                        src="{% static 'img/white-dropdown-icon.png' %}" alt="">
                </div>
                {% else %}
             <button title="All Applicants" class="applied-button-jobs outline-none phase-on-board-button" style="background-color:white;color:black;">On-Boarding</button>
             
             <div class="div-white-icon" style="">
                <img style="cursor: pointer;top:3;position: absolute;right: 10px;" class=""
                    src="{% static 'img/dropdown-icon.png' %}" alt="">
            </div>
             {% endif %}
             
            </div>

             <div class="phase-on-board-dropdown profileDropDown" id="all-applicants-dropdown">
                {% for i in OnBoardPhase%}
                    {% if i != appSub %}
                    <label for="{{i}}" onclick="GoToPhase('{{i}}')" id="" class="profileDropDown-content profileDropDown-text"> {{i}}</label>
                    {% endif %}
                {% endfor %}
               
                <!-- <label style="" onclick="" id="" class="profileDropDown-content profileDropDown-text"><input style="display: none;" type="checkbox" class="input_type"
                value="NQualified"  name="" />Meet with us</label>
                 <label style="" onclick="" id="" class="profileDropDown-content profileDropDown-text"><input style="display: none;" type="checkbox" class="input_type"
                value="NQualified"  name="" />Documents for work permit</label>
                <label style="" onclick="" id="" class="profileDropDown-content all-applicants-dropdown-content profileDropDown-text filterDropDown"><input style="display: none;" type="checkbox" class="input_type"
                value="NQualified"  name="" />Your work permit is here</label> -->

              </div>
            </div>
    </div>
</div>


<script>
    function GoToPhase(phase){
        console.log(phase);
        var appSub =phase;

    }

    function Qualified(){
        window.location="{% url 'qualified-applicant' jpk %}";
    }
    function NoQualified(){
        window.location="{% url 'nonqualified-applicant' jpk %}";
    }
    function AllApplicant(){
        window.location="{% url 'applicant' jpk %}";
    }


    function Close(){
       var on = document.getElementById("All");
       $('.drop').css('display','none');
            if (on.style.display === "none") {
                on.style.display = "block";
              } else {
                on.style.display = "none";
              }
       }
   </script>
