body {}

.jobs-buttons {
    /* position: relative; */
}

.form-group {}

.multiselect {}

.container-fluid {}

.selectBox {}

.selectBox select {}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#mySelectOptions::-webkit-scrollbar {
    display: none;
}

#mySelectOptions label {
    display: block;
    font-weight: normal;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0px 20px;
    /* padding: .375rem 2.25rem .375rem .75rem; */
}

#mySelectOptions label:hover {}

.search-input::placeholder {
    color: #b1b2b8;
    font-size: 18px;
}

.input-form {}

.buttons-form {}

.search-input {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
    width: 200px;
    color: #65676B;
    outline: none;
}

.search-input {
    transition: all 0.5s ease-in-out;
    display: none;
}

#mySelectOptions {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border: none;
    box-sizing: border-box;
    cursor: auto;
    /* transition: all 0.5s ease-in-out; */
    margin-top: 10px;
    -webkit-box-shadow: 0 0 5px #e7e7e7;
    box-shadow: 0 0 5px #e7e7e7;
    position: absolute;
    top: 100%;
    display: none;
    background-color: #ffffff;
    max-height: 140px;
    overflow-y: scroll !important;
    z-index: 2;
    border-radius: 16px;
}

.labels-stats {
    font-size: 18px;
    color: #65676B;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    display: inline-block;
}

.first-label-margin {
    margin-top: 20px;
}

input[type=checkbox] {
    accent-color: white;
    border: none;
}

.input-form {}

.scrolling-wrapper {
    overflow-x: auto;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    display: inline-block;
    flex: 0 0 auto;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
}

.button-dropdown {}