
textarea {
    height:auto;
    resize: none;
    border:none;
    width:85%;
    background-color: white;
    font-size: 18px;
    color: #757575;
    overflow: scroll;
    font-family: 'Spline Sans', sans-serif;
    padding: 5px;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: #b1b2b8;
    font-size: 18px;
}
.search-input {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    padding-right: 20px;
    width: 200px;
    color: #65676B;
    outline: none;
}
.search-input {
    transition: all 0.5s ease-in-out;
}


.scroll::-webkit-scrollbar { width: 0 !important }
.scroll { overflow: -moz-scrollbars-none; }
.scroll { -ms-overflow-style: none; }

.jobs-buttons {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 40px;
}
.mutual-padding-of-div {
    padding-right: 20px;
}
.jobs-rows-img {
    cursor: pointer;
}
.applied-button-jobs, .applied-button-posted-jobs {
    border: solid  1.2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 36px;
}
.right-jobs-main-div {
    width: 50%;
}
.applied-button-jobs, .posted-button-posted-jobs {
    color: white;
    background-color: #1877F2;
    border: none;
}
.posted-button-jobs, .applied-button-posted-jobs {
    color: #65676B;
    background-color: white;
}
.plus-jobs-posted {
    padding-left: 0px;
    padding-right: 0px;
    width: 36px;
    font-size: 28px;
}
.applied-button-posted-jobs {
    border: none;
}
.outline-none:focus {
    outline: none;
}
.first-button-plus-jobs {
    padding-right: 20px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.posted-button-jobs, .posted-button-posted-jobs {
    border: solid  1.2px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    border: none;
    height: 36px;
}
.jobs-left, .right-jobs {
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 86vh;
}
.right-jobs {
    flex-direction: column;
}
.plus-icon-jobs {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
}

.jobs-left::-webkit-scrollbar {
    display: none;
}
.right-jobs::-webkit-scrollbar {
    display: none;
}
.jobs-left-content {
}
.edit-job-button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 30px;
    cursor: pointer;
    background-color:transparent;
    border:0px;
}

.exit-job-description {
    margin-bottom: 50px;
    display: none;
}

.first-row-jobs, .first-row-second-div {
    color: #131419;
    padding-bottom: 10px;
}
.first-row-jobs {
    font-size: 24px;
}
.first-row-second-div {
    font-size: 20px;
}
.second-row-jobs {
    font-size: 22px;
    color: #1877F2;
}
.second-row-second-div, .second-div-second-paragraph {
    font-size: 20px;
    color: #858585;
    line-height: 35px;
}
.jobs-rows-img {
    padding: 30px;
    background-color: white;
}
.c{
    background-color:#E7F1FE;
}
.move{
    margin-top: 20px;
}
.right-jobs-rows-img {
    font-size: 20px;
}
.right-jobs-rows-img-second {
    padding: 30px;
    margin-left: 10px;
    background-color: white;
    margin-top: 20px;
}
.text-decoration-none {
    text-decoration: none;
}
.same-background-jobs {
    background-color: white;
}
.different-background-jobs {
    background-color: #E7F1FE;
}
.jobs-third-row, .first-row-jobs-third-row-second-div {
    margin-top: 50px;
}
.jobs-third-row-second-div {
    font-size: 20px;
}
.first-row-jobs-third-row-second-div {
    color: #131419;
}
.jobs-mutual-margin-rows {
    margin-top: 15px;
}
.first-paragraph-second-div, .second-div-second-paragraph {
    line-height: 35px;
}
.here-link {
    color: #1877F2;
    text-decoration-color: #1877F2;
}
.second-part {
    height: 400px;
    overflow-y: scroll;
}
.second-part::-webkit-scrollbar {
    display: none;
}
.jobs-left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50%;
    position: relative;
}

@media screen {

}