{% load static %}
<div class="move"></div>
<div class="right-jobs-main-div applied-posted-right-main-div-mobile" style="">
            <div class="right-jobs" id="detailsRow" >
                <div class="right-profile"></div>
                <div class="right-jobs-rows-img " style="margin-left: 10px; background-color: white; margin-bottom: 20px;">
                    <div class="experience-rows">
                        <img class="exit-job-description" title="Exit" style="float: left; cursor: pointer;"
                            src="{% static 'img/Vector 81 (1).png'%}" alt="">
                        <div class="first-row-jobs mobile-title-font-size" id="fname"></div>
                        <div class="second-row-jobs mobile-under-title-font-size" id="Stat"></div>
                        <div style="" class="jobs-third-row mobile-rows-font-size" id="email"></div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" id="phone">
                        </div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" id="location"></div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" >Applied on: <span id="appdate"></span></div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" > <span id="cv"></span></div>
                    </div>
                </div>

                <div class="experience-main-div experience-education-languages experience-education-margin-bottom">
                <div class="experience-div">
                    <div class="experience-paragraph-img-rows" id="UserExp">
                        <div class="aaa">
                            <p class="experience-paragraph">Experience</p>

                        </div>
                    </div>

                </div>

                </div>
                <div class="languages-main-div experience-education-languages experience-education-margin-bottom">
                    <div class="education-div">
                        <div class="experience-paragraph-img-rows" id="UserEdu">
                            <div class="aaa">
                            <p class="experience-paragraph">Education</p>

                        </div>
                        </div>

                    </div>
                </div>
                <div class="experience-education-languages languages-main-div">
                    <div class="languages-div" >
                        <div class="languages-paragraphs-div" id="UserLang">
                            <div class="experience-paragraph language-paragraph">Languages</div>

                        </div>

                    </div>
                </div>
            </div>

        </div>




