{% load static %}

<div class="right-jobs-main-div right-job-margin-top">
        <div class="right-jobs" id="detailsRow" style="display:none;flex-direction: column;">
            <div class="job-right-details" style=" ">
                <div class="job-right-content" style="">
                        <img class="job-right-exit" title="Exit" style=""
                            src="{% static 'img/Vector 81 (1).png'%}" onclick="closeButton()" alt="">
                        <div class="job-left-title job-right-title" id="fname"></div>
                        <div class="second-row-jobs mobile-under-title-font-size" id="Stat"></div>
                        <div style="" class="jobs-third-row mobile-rows-font-size" id="email"></div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" id="phone">
                        </div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" id="location"></div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" >Applied on: <span id="appdate"></span></div>
                        <div style="" class="experience-fourth-row jobs-mutual-margin-rows mobile-rows-font-size" > <span id="cv"></span></div>
                </div>
            </div>
            <div class="move"></div>
            <div class="job-right-details" >
                <div class="job-right-content">
                    <div class="experience-paragraph-img-rows" id="UserExp" style="padding:0;">
                        <div class="aaa">
                            <p class="experience-paragraph">Experience</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="move"></div>

            <div class="job-right-details">
                    <div class="job-right-content">
                        <div class="experience-paragraph-img-rows" id="UserEdu" style="padding:0;">
                            <div class="aaa">
                            <p class="experience-paragraph">Education</p>
                        </div>
                        </div>
                    </div>
            </div>
            <div class="move"></div>

             <div class="job-right-details">
                    <div class="job-right-content" >
                        <div class="languages-paragraphs-div" id="UserLang" style="padding:0;">
                            <div class="experience-paragraph language-paragraph">Languages</div>

                        </div>
                    </div>
             </div>

        </div>
</div>










