{% extends 'base.html'%}
{% load static %}
{% block content %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Jobs</title>
<link rel="stylesheet" href="{% static 'css/authenticated.css'%}">
<link rel="stylesheet" href="{% static 'css/jobs.css'%}">
<link rel="stylesheet" href="{% static 'css/profile-header.css'%}">
<link rel="stylesheet" href="{% static 'css/posted-jobs-media-queries.css'%}">

<div class="jobs-buttons">
    <div class="mutual-padding-of-div plus-div">
        <a href="{% url 'addJob'%}"><img title="Add a Job" class="plus-icon-jobs" src="{% static 'img/add.png'%}"
                alt=""></a>
    </div>
    <div class="mutual-padding-of-div">
        <button title="Applied Jobs" class="applied-button-jobs outline-none">Applied</button>
    </div>
    <a href="{% url 'postedJob'%}"><button title="Posted Jobs"
            class="posted-button-jobs outline-none">Posted</button></a>
</div>
{% if check %}

<div class="jobs-main-div" style="display: flex; justify-content: space-between; width: 100%;">

    <div class="jobs-left" style="">
        {% for i in job %}


        <div onclick="getNumber({{i.job_id.id}})"
            class="jobs-rows-img second-jobs margin-top-jobs-rows-img same-background-jobs pixel" id="select{{i.job_id.id}}">
            <img class="experience-education-img" src="{{i.job_id.logo.url}}" alt="">
            <div class="experience-rows">
                <div class="experience-first-row">{{i.job_id.job_title}}</div>
                <div class="experience-second-row">{{i.job_id.company}}</div>
                <div class="experience-third-row">{{i.job_id.city_j}}, {{i.job_id.city_j.country}}</div>
                <div class="experience-fourth-row">{{i.job_id.program}}</div>

            </div>
        </div>
        <div class="move"></div>




        {% endfor %}


    </div>
    <div class="right-jobs-main-div">
        <div class="right-jobs" id="detailsRow" style=" flex-direction: column;">
            <div class="right-jobs-rows-img" style="padding: 30px; margin-left: 10px; background-color: white;">
                <div class="experience-rows">
                    <img class="exit-job-description" title="Exit" style="float: left; width: 22px; height: 22px;"
                        src="{% static 'img/Vector 81 (1).png'%}" alt="">
                    <div class="first-row-jobs">
                        <p class="" id="job_title">asd</p>
                    </div>
                    <div class="second-row-jobs"><span id="company"></span>&nbsp;&nbsp;<span style="color: #858585;"
                            id="city">·&nbsp;&nbsp &nbsp;·&nbsp;23
                            applicants</span></div>
                    <div style="" class="experience-third-row jobs-third-row">$<span id="salary"></span></div>
                    <div style="" class="experience-fourth-row jobs-mutual-margin-rows"><span id="typeOfWork"></span> ·
                        <span id="hourPerWork"></span> hours/week
                    </div>
                    <div style="margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows" id="sDate">
                    </div>
                    <div style="margin-top: 5px; margin-top: 20px;"
                        class="experience-fourth-row jobs-mutual-margin-rows">
                        <span id="housing"></span> · $<span id="housingCost"></span>/week
                    </div>
                    <div style="margin-top: 5px; margin-top: 20px;"
                        class="experience-fourth-row jobs-mutual-margin-rows">
                        <span id="program"></span>· Program Cost: $<span id="programCost"></span>
                    </div>
                    <div style="margin-top: 5px; margin-top: 20px; height: 100%;"
                        class="experience-fourth-row jobs-mutual-margin-rows">Applied on: <span id="posted"></span>
                    </div>
                </div>
            </div>
            <div class="right-jobs-rows-img-second">
                <div class="col-5">
                    <textarea rows="50" cols="100" id="message" class="scroll" disabled>

                        </textarea>
                </div>

            </div>
        </div>

    </div>
</div>


{% else %}
<link rel="stylesheet" href="{% static 'css/404.css'%}">

        <div id="notfound">
            <div class="notfound">
                <h1 class="h" >Oops! No Application Found!</h1>
                <div class="notfound-404">
                    <img src="{% static 'img/oopss.png'%}">
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class="p">When u apply in anyy jobs your application will appear here</p>
                <input name="submit" type="submit" class="sign-in-submit-input font-fam" value="Go Back" onClick="history.go(-1);">
            </div>
        </div>

{% endif %}
<!-- <script src="{% static 'js/main.js'%}"></script>-->
<!--<script src="{% static 'js/jobs-img.js'%}"></script>-->
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="{% static 'js/exit-job-description-button.js'%}"></script>
<script>
    async function getNumber(id) {


        var elements = document.getElementsByClassName('pixel'); // get all elements

        for (var i = 0; i < elements.length; i++) {
            elements[i].style.backgroundColor = "white";
        }

        post_id = id
        console.log("post__id=" + post_id)
        let response = await fetch('', {

            method: "get",

            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "Content-Type": 'application/json',
                text: post_id,
            }

        }

        )

        let data = await response.json()

        var element = document.getElementById("detailsRow");

        if (element) {
            var display = element.style.display;

            if (display == "none") {
                element.style.display = "block";
            }
        }
        console.log(id)
        if(id == 0){
            id=data["post_id"]
        }
        if (id != 0) {
            var select = document.getElementById('select' + id)
            select.style.backgroundColor = "#E7F1FE";
        }

        let textarea = document.getElementById('message')
        textarea.value = ""
        textarea.value += data["description"]


        var element = document.getElementById("job_title");
        element.innerHTML = data["title"]

        var city_jobs = document.getElementById("city")
        city_jobs.innerHTML = data["city_j"] + ",  " + data["country"]

        var start_date = document.getElementById("sDate")
        start_date.innerHTML = data["start_date"] + " - " + data["end_date"]

        var company = document.getElementById("company")
        company.innerHTML = data["company"]

        var salary = document.getElementById("salary")
        salary.innerHTML = data["salary"] + "/hour"

        var typeOfWork = document.getElementById('typeOfWork')
        typeOfWork.innerHTML = data["typeOfWork"]

        var hourPerWork = document.getElementById('hourPerWork')
        hourPerWork.innerHTML = data['hourPerWork']

        var housing = document.getElementById("housing")
        housing.innerHTML = data['housing']

        var housingCost = document.getElementById("housingCost")
        housingCost.innerHTML = data["housingCost"]

        var program = document.getElementById('program')
        program.innerHTML = data["program"]

        var programCost = document.getElementById("programCost")
        programCost.innerHTML = data["programCost"]

        var posted = document.getElementById("posted")
        posted.innerHTML = data["posted"]
        var button = document.getElementById("button")


        var firstMediaQuery = window.matchMedia('(min-width: 768px');
        const mediaQuery = window.matchMedia('(max-width: 767px)');
        var right_jobs_main_div = document.querySelector('.right-jobs-main-div');
        var jobs_left = document.querySelector('.jobs-left');
        var jobs_buttons = document.querySelector('.jobs-buttons');

        if (mediaQuery.matches) {
            right_jobs_main_div.style.display = "block";
            jobs_left.style.display = "none";
            jobs_buttons.style.display = "none";
            if (id == 0) {
                var select = document.getElementById('select' + id)
                select.style.backgroundColor = "white";
            }
        }
        ;
    }


    var nul = "";

    var firstMediaQuery = window.matchMedia('(min-width: 768px');
    const mediaQuery = window.matchMedia('(max-width: 767px)');
    var right_jobs_main_div = document.querySelector('.right-jobs-main-div');
    var jobs_left = document.querySelector('.jobs-left');
    var jobs_buttons = document.querySelector('.jobs-buttons');

    if (mediaQuery.matches) {
        right_jobs_main_div.style.display = "none";
        jobs_left.style.display = "block";
        jobs_buttons.style.display = "block";
        if (id == 0) {
            var select = document.getElementById('select' + id)
            select.style.backgroundColor = "white";
        }
    };
    window.onload = getNumber(nul);

</script>


{% endblock content%}