{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <title>Sign In</title>
</head>

<body>
    <header class="header-border">
        <div class="first-image">
            <img class="worki-image" src="{% static 'img/Worki_Logo.png'%}" title="Worki_Icon">
        </div>
    </header>

    <div class="container">
        <div class="under-container">
            <h1 id="title">Forgot Password?</h1>
            <p class="second-paragraph same-color-of-paragraphs">Please enter your email to search for your account.</p>
            <form method="POST" action="" class="sign-in-form">
                {% csrf_token %}
                <input name="email" type="email" class="email-input mutual-stats font-fam" placeholder="Email" id="id_email"></input>

               
                <div class="sign-in-input">
                    <input name="submit" type="submit" class="sign-in-submit-input font-fam" value="Search your account">
                </div>
            </form>

            <p class="second-paragraph same-color-of-paragraphs">or</p>
            
            <p class="second-paragraph same-color-of-paragraphs">Already know it ?: <a class="sign-up-link"
                    href="{% url 'register' %}">  Sign In</a></p>
        </div>
    </div>

</body>

<script src="{% static 'js/password_icon.js'%}"></script>

</html>