
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="icon" href="{% static 'img/123.png' %}">

    <title>Sign In</title>
</head>

<body>
    <header class="header-border">
        <div class="first-image">
            <a href="{% url 'home' %}"><img class="worki-image" src="{% static 'img/Header/Vector.svg' %}" title="Worki"></a>
        </div>
    </header>


    <div class="container">
        <div class="under-container">
            <div id="title" style="">Forgot Password?</div>
            <form method="POST" action="" class="sign-in-form">
                {% csrf_token %}
                    <input name="email" type="email" id="id_email" class="email-input input-text font-fam" placeholder="Email"></input>
                
                <div class="sign-in-input">
                    <input name="submit" type="submit" class="sign-in-submit-input font-fam" value="Reset Password">
                </div>
                <p class="same-color-of-paragraphs"><a class="password-link" href="{% url 'login' %}"><span style="color: gray">Go back to</span> Sign In</a></p>
            </form>

           
           
        </div>
    </div>

</body>

<script src="{% static 'js/password_icon.js'%}"></script>

</html>

