
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="icon" href="{% static 'img/123.png' %}">

    <title>Sign In</title>
</head>

<body>
    <header class="header-border">
        <div class="first-image">
            <a href="{% url 'home' %}"><img class="worki-image" src="{% static 'img/Header/Vector.svg' %}" title="Worki"></a>
        </div>
    </header>

    <div class="container">
        <div class="under-container">
            <h1 id="title" style="width: 100%;">Create a new <br>password</h1>
            <form method="POST" action="" class="sign-in-form">
                {% csrf_token %}
                <input type="password" name="new_password1" autocomplete="new-password"class="email-input input-text font-fam" placeholder="Password" id="id_new_password1"></input>
                <input type="password" name="new_password2" autocomplete="new-password"class="email-input input-text font-fam" placeholder="Confirm Password" id="id_new_password2"></input>

               
                <div class="sign-in-input">
                    <input name="submit" type="submit" class="sign-in-submit-input font-fam" value="Set Password">
                </div>
            </form>

            
            <p class="third-paragraph same-color-of-paragraphs">Remembered your password?<a class="sign-up-link"href="{% url 'login' %}"> Sign in</a></p>
        </div>
    </div>

</body>

<script src="{% static 'js/password_icon.js'%}"></script>

</html>
{% endblock content %}