{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <title>AutoComplete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>
    <style>
        $('input').attr('autocomplete','off');
     </style>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
        type="text/css" />
        <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">

    <link rel="stylesheet" href="{% static 'css/authenticated.css' %}">
<link rel="stylesheet" href="{% static 'css/profile-header.css'%}"> 
    <link rel="stylesheet" href="{% static 'css/edit-profile.css'%}">
    <link rel="stylesheet" href="{% static 'css/add-profile-picture.css'%}">
    <link rel="stylesheet" href="{% static 'css/experience-font-family.css'%}">
    <link rel="stylesheet" href="{% static 'css/add-experience.css'%}">
    <link rel="stylesheet" href="{% static 'css/edit-cover.css'%}">
</head>
<div style="overflow-y:scroll;">
<div class="profile-header">
    <div id="example1">
    <img class="pro-img" src="{{user.cover.url}}" alt="">
    <img class="edit-button-cover" title="Edit Cover Picture" onclick="disableScroll()" src="{% static 'img/pen.png' %}" alt="">
    </div>
    <div class="second-part-profile-header">
        <div class="profile-image-and-edit">
            <div class="profile-image-and-add-button">
                
                <a href="" title="Profile Picture" ><img class="profile-image" src="{{user.profile.url}}" alt=""></a>
                
                <img src="{% static 'img/Asset 3.png' %}" title="Add Profile" onclick="disableScroll()" id="plus-icon" alt="">
            </div>

            <img class="edit-button" title="Edit Profile" src="{% static 'img/Ikona_edit-01 56.png' %}" alt="">
        </div>
        <div class="profile-name"><span class="profile-firstname">{{user.first_name}}</span> <span class="profile-surname">{{user.last_name}}</span></div>
        {% if user.city != None and user.country != None %}
        <div class="profile-birthplace"><span class="profile-city">{{user.city}}</span><span>,</span> <span class="profile-country">{{user.country}} </span>
            {% else %}
                    <div class="profile-birthplace"><span class="profile-city"></span><span></span> <span class="profile-country"> </span>

            {% endif %}
        </div>
    </div>
</div>
<div class="experience-main-div experience-education-languages">
    <div class="experience-div">
        <div class="experience-paragraph-img-rows">
            <div class="aaa">
            <p class="experience-paragraph">Experience </p>
            {% for i in usExp%}
            <div class="experience-rows-img">
                <img class="experience-education-img" src="{% static 'img/worki_icons-18.jpg' %}" alt="">
                <div class="experience-rows">
                <div class="experience-first-row">{{i.title}}</div>
                <div class="experience-second-row">{{i.company}}</div>
                <div class="experience-third-row">{{i.city_usExp}}, {{i.Country}}</div>
                <div class="experience-fourth-row">{{i.start_date|date:'d/m/Y'}} - {% if i.start_date == i.end_date%}Present
                    {%elif i.end_date == null %} Present {% else %} {{i.end_date|date:'d/m/Y'}}{% endif %} </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="add-and-edit-experience">
            <img class="add-experience-button" title="Add Experience" onclick="disableScroll()" src="{% static 'img/Vector 80.png' %}" alt="">
            <a href="{% url 'editExprience' %}"><img class="edit-experience" title="Edit Experience" src="{% static 'img/Ikona_edit-01 56.png' %}" alt=""></a>
        </div>
    </div>
</div>
<div class="languages-main-div experience-education-languages">
    <div class="education-div">
        <div class="experience-paragraph-img-rows">
            <div class="aaa">
            <p class="experience-paragraph">Education</p>
            {% for i in usEdu%}
            <div class="experience-rows-img">
                <img class="experience-education-img" src="{% static 'img/worki_icons-19.jpg' %}" alt="">
                <div class="experience-rows">
                <div class="experience-first-row">{{i.university}}</div>
                <div class="experience-second-row">{{i.field_of_study}}</div>
                <div class="experience-third-row">{{i.city_e}}, {{i.country_e}}</div>

                <div class="experience-fourth-row">{{i.start_year|date:'d/m/Y'}} -
                    {% if i.end_year == null%}
                    Present
                    {% else %}
                    {{i.end_year |date:'d/m/Y'}}
                    {% endif%}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="add-and-edit-experience">
            <img class="add-experience-button add-education-button" title="Add Education"  onclick="disableScroll()" src="{% static 'img/Vector 80.png' %}" alt="">
            <a href="{% url 'editEdu' %}"><img class="edit-experience" title="Edit Education" src="{% static 'img/Ikona_edit-01 56.png' %}" alt=""></a>
        </div>
    </div>   
</div>
<div class="experience-education-languages languages-main-div">
    <div class="languages-div">
        <div class="languages-paragraphs-div">
            <div class="experience-paragraph language-paragraph">Languages</div>
            {% for i in usLang %}
            <div style="" class="experience-rows-img-languages">
                <div class="education-second-paragraph">{{i.language}}</div>
                <div class="language-rate">{{i.level}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="add-and-edit-experience">
            <img class="add-experience-button add-languages-button" id="" title="Add Language"  onclick="disableScroll()" src="{% static 'img/Vector 80.png' %}" alt="">
            <a href="{% url 'editLanguage'%}">
            <img class="edit-experience" title="Edit Languages" src="{% static 'img/Ikona_edit-01 56.png' %}" alt=""></a>
        </div>
    </div>
</div>
<div class="bg-cover-edit">
    <div class="cover-edit">
        <div class="exit-img exit-img-cover-picture">
            <div>
                <img title="Exit" class="exit-button exit-button-cover-picture" onclick="enableScroll()" src="{% static 'img/Vector 81 (1).png' %}" alt="">
            </div>
        </div>
        <h2 class="change-cover-picture-title">Edit Cover Picture</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="div-of-changed-cover">
                <div style="display: none;">
               
                    {{form.last_name}}
                    {{form.first_name}}
                    {{form.country}}
                    {{form.city}}
                </div>

                <label for="id_cover">
                    <img class="changed-cover" id="coverPic" height="250"  src="{{user.cover.url}}" title="Profile Cover" alt="">
                </label>
                {{form.cover}}
            </div>

            <div class="save-button">
                <input name="save" type="submit" class="save-submit-input save-cover font-fam" value="Save">
            </div>
        </form>

        
    </div>
</div>

<div class="edit-profile-bg">
    <div class="container-edit-profile">
        <div class="under-container-edit-profile">
            <div class="exit-img exit-img-edit-profile">
            <img title="Exit" class="exit-button exit-button-edit-profile editprofile" onclick="enableScroll()"src="{% static 'img/Vector 81 (1).png' %}" alt="">
            </div>
            <h1 id="title" class="edit-profile-title">Edit Profile</h1>
            <form method="post" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}

                <div style="margin: 0;">
                    <p class="paragraph-of-name paragraphs-stats">First name</p>
                    {{form.first_name}}
                </div>
                <div>
                    <p class="paragraph-of-surname paragraphs-stats">Last name</p>
                    {{form.last_name}}
                </div>
                <div>
                    <p class="paragraph-of-country paragraphs-stats">Country</p>
                    {{form.country}}
                    <datalist id="countryList">
                        {% for i in countrys %}
                    <option>{{i}}</option>
                        {% endfor %}
                    </datalist>

                </div>
                <div>
                    <p class="paragraph-of-city paragraphs-stats">City of residence</p>
                    {{ form.city }}
                    <datalist id="cityList">
                        {% for i in cityes %}
                            <option>{{i.name}}</option>
                        {% endfor %}
                    </datalist>

                </div>
                <div class="save-button">
                    <input name="save" type="submit" class="save-submit-input font-fam" value="Save">
                </div>

            </form>
        </div>
    </div>
</div>
<div class="bg-change-profile-picture">
    <div class="change-profile-picture">
        <div class="exit-img exit-img-profile-picture">
            <div>
                <img title="Exit" class="exit-button exit-button-profile-picture" onclick="enableScroll()" src="{% static 'img/Vector 81 (1).png' %}" alt="">
            </div>
        </div>
        <h2 class="change-profile-picture-title">Edit Profile Picture</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="div-of-changed-cover">
                <div style="display: none;">
                    {{ form.city }}
                    {{form.country}}
                    {{form.last_name}}
                    {{form.first_name}}
                </div>

                <label for="id_profile">
                    <img class="changed-profile  proImg" id="profilePic"  src="{{user.profile.url}}" title="Profile Cover" alt="">

                </label>
                {{form.profile}}



            </div>


            <div class="save-button">
                <input name="save" type="submit" class="save-submit-input save-cover font-fam"  value="Save">
            </div>
        </form>
    </div>
</div>
<div class="bg-add-and-edit">
    <div class="add-experience">
        <div class="under-container">
            <div class="exit-img exit-img-edit-profile">
                    <img title="Exit" class="exit-button exit-button-edit-profile exp" onclick="enableScroll()" src="{% static 'img/Vector 81 (1).png' %}" alt="">
            </div>    
            <h1 id="title-experience">Add Experience</h1>
            <form method="POST" action="" class="sign-up-form">
                {% csrf_token %}
                <div style="display: none;">
                    {{form}}
                    {{for_usExp.user_id}}
                </div>
                <div class="div-of-job-experience">
                    <p class="paragraph-of-name paragraphs-stats">Job title</p>
                    {{for_usExp.title}}
                </div>

                <div>
                    <p class="paragraph-of-surname paragraphs-stats">Company </p>
                    {{for_usExp.company}}
                </div>
                <div>
                    <p class="paragraph-of-country paragraphs-stats">Country </p>
                    {{for_usExp.Country}}
                    <datalist id="usExpCountryList">
                        {% for i in countrys %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>
                    <p class="paragraph-of-city paragraphs-stats">City </p>
                    {{for_usExp.city_usExp}}
                    <datalist id="usExpCityList">
                        {% for i in cityes %}
                            <option>{{i.name}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>

                    <div style="display: flex; justify-content: space-between;">
                        <div style="width: 48%;">
                            <p class="paragraphs-stats paragraph-of-start-date">Start date</p>
                            <input id="id_start_date" class="start-date-input mutual-stats font-fam" onchange="checkStartDate();" name="start_date" type="tel" maxlength="10" placeholder="dd/mm/yyyy" required="" oninput="this.value = MMDDYYYY(this.value, event)" />
                            <label class="paragraphs-stats paragraph-of-start-date"  id="sdateError" style="padding:0;display: none;color:red;">Date not valid</label>

                        </div>
                        <div style="width: 48%;
                    float: right;">
                            <p class="paragraphs-stats paragraph-of-end-date">End date</p>
                            <input id="id_end_date" class="end-date-input mutual-stats font-fam" name="end_date" onchange="checkEndDate();" type="tel" maxlength="10" placeholder="dd/mm/yyyy"  oninput="this.value = MMDDYYYY(this.value, event)" />
                            <input class="paragraphs-stats  paragraph-of-end-date" style="margin-right:0;" onchange="present()"type="checkbox" >
                            <label class="paragraphs-stats paragraph-of-end-date" style="margin-top: 8px;">Present</label>
                            <label class="paragraphs-stats paragraph-of-start-date" id="edateError" style="display: none;color:red;">Date not valid</label>

                            
                        </div>
                    </div>
                    <div class="save-button save-button-edit-add-education-480">
                        <input name="save" type="submit" class="save-submit-input save-picture font-fam" value="Save">

                    </div>
            </form>
        </div>
    </div>
</div>    
<div class="add-languages">
    <div class="under-container">
        <div class="exit-img exit-img-edit-profile">
                <img title="Exit" class="exit-button exit-button-languages" onclick="enableScroll()"  src="{% static 'img/Vector 81 (1).png' %}" alt="">
        </div>    
        <h1 id="title-experience">Add Languages</h1>
        <form method="POST" action="" class="sign-up-form">
            {% csrf_token %}
            <div style="display:none;">
                {{form}}
                {{form_usLang.user_id}}
            </div>

            <div class="div-of-job-experience">
            <p class="paragraph-of-name paragraphs-stats">Language </p>
            <select name="language" required="" id="id_language">
                <option value="" selected=""></option>
                {% for i in lang %}
                <option value="{{i.id}}">{{i}}</option>
                {% endfor %}
              </select>
            </div>
            
            <div>
            <p class="paragraph-of-surname paragraphs-stats">Level </p>
            <select name="level" required="" id="id_level">
                <option value="" selected=""></option>
                <option value="N/A">N/A</option>
                <option value="Basic">Basic</option>
                <option value="Low-Intermediate">Low-Intermediate</option>

                
                <option value="High-Intermediate">High-Intermediate</option>
              
                <option value="Advanced">Advanced</option>
              
              
              
              
              </select>
            </div>
            <div class="save-button save-button-edit-add-education-480">
            <a href=""><input name="save" type="submit" class="save-submit-input font-fam" value="Save"></a>
            </div>
        </form>
    </div>
</div>
<div class="add-education">
    <div class="under-container">
        <div class="exit-img exit-img-edit-profile">
                <img title="Exit" class="exit-button exit-button-edit-profile" onclick="enableScroll()"  src="{% static 'img/Vector 81 (1).png' %}" alt="">
        </div>    
        <h1 id="title-experience">Add Education</h1>
        <form method="POST" action="" class="sign-up-form">
            {% csrf_token %}
            <div style="display: none;">
                {{form}}
                {{form_usEdu.user_id}}
            </div>
            <div class="div-of-job-experience">
            <p class="paragraph-of-name paragraphs-stats">University </p>
            {{form_usEdu.university}}
            <datalist id="University" style="width: 100%;"> 
                {% for i in uniList %}
                    <option>{{i}}</option>
                {% endfor %}
            </datalist>
            </div>
            <div>
            <p class="paragraph-of-surname paragraphs-stats">Field of study </p>
            {{form_usEdu.field_of_study}}
            </div>
            <div >
                <p class="paragraph-of-surname paragraphs-stats">Degree </p>
                <select name="degree" required="" id="id_degree">
                    <option selected></option>
                    <option value="Bachelor" >Bachelor’s Degree</option>

                    <option value="Master" >Master’s Degree</option>
                </select>
            </div>
            <div >
                <p class="paragraph-of-surname paragraphs-stats">Country </p>
                {{form_usEdu.country_e}}
                <datalist id="EduCountryList">
                    {% for i in countrys %}
                        <option>{{i}}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div >
                <p class="paragraph-of-surname paragraphs-stats">City </p>
                {{form_usEdu.city_e}}
                <datalist id="EduCityList">
                    {% for i in cityes %}
                        <option>{{i.name}}</option>

                    {% endfor %}
                </datalist>
            </div>
            <div>
                <p class="paragraph-of-surname paragraphs-stats">Total Exams Passed </p>
                <input type="number" name="total_examples_passed" placeholder="0" class="name-input mutual-stats font-fam" required="" id="id_total_examples_passed">
            </div>
            <div>
                <p class="paragraph-of-surname paragraphs-stats">GPA </p>
                <input type="number" name="GPA" placeholder="0.0" class="name-input mutual-stats font-fam" step="any" required="" id="id_GPA">
            </div>
            <div>
            
            <div style="display: flex; justify-content: space-between;">
            <div style="width: 48%;">
            <p class="paragraphs-stats paragraph-of-start-date">Start year </p>
            <input id="id_start_year" class="start-date-input mutual-stats font-fam" name="start_year" onchange="checkStartYear()" type="tel" maxlength="10" placeholder="dd/mm/yyyy" required="" oninput="this.value = MMDDYYYY(this.value, event)" />
            <p class="paragraphs-stats paragraph-of-start-date" id="sYear" style="color:red;display: none;">Date not valid </p>

            </div>
            <div style="width: 48%;
            float: right;">
            <p class="paragraphs-stats paragraph-of-end-date">End year </p>
            <input id="id_end_year" class="end-date-input mutual-stats font-fam" name="end_year" onchange="checkEndYear()" type="tel" maxlength="10" placeholder="dd/mm/yyyy" oninput="this.value = MMDDYYYY(this.value, event)" />
            <input class="paragraphs-stats  paragraph-of-end-date" style="margin-right:0;" onchange="presentEnd()"type="checkbox" >
            <label class="paragraphs-stats paragraph-of-end-date" style="margin-top: 8px;">Present</label>
            <p class="paragraphs-stats paragraph-of-start-date" id="eYear" style="color:red;display: none;">Date not valid </p>

            </div>
            </div>


            
            <div class="save-button save-edu">
            <a href=""><input name="save" type="submit" class="save-submit-input font-fam" value="Save"></a>
            </div>
        </form>
    </div>
</div>
</div>
<script>
    function disableScroll(){
        document.body.style.overflow = 'hidden';
    }
    function enableScroll(){
        document.body.style.overflow="scroll";
    }
</script>

<footer>
    
    
    <script src="{% static 'js/dropdown-jobs.js'%}"></script>
    <script src="{% static 'js/Profile/dropdown.js'%}"></script>


    <script src="{% static 'js/edit-button.js'%}"></script>

    <script src="{% static 'js/change-profile.js'%}"></script>

    <script src="{% static 'js/exit-button.js'%}"></script>

    <script src="{% static 'js/edit-button.js'%}"></script>
    
    <script src="{% static 'js/add-button.js'%}"></script>

    <script src="{% static 'js/edit-experience-button.js'%}"></script>

    <script src="{% static 'js/edit-cover.js'%}"></script>

    <script src="{% static 'js/add-experience-education-language.js'%}"></script>

    <script src="{% static 'js/profile_dropdown_2.js'%}"></script>
</footer>
{% endblock content %}

