{% extends 'base.html' %}
{% load static %}
{% block title %}My Jobs{% endblock %}
{% block description %}View and manage your temporary job applications on Worki.{% endblock %}

{% block content %}
{% if check %}
{% include "MyJobs/myjobs-filter.html" %}
<input style="display:none;" id="PostID" value="{{post_id}}">
<input type="hidden" id="MainJobs" name="variable" value="{{checkMainJobs}}">

<div class="jobs-main-div jobs-gigs-main-div" style="display: flex; justify-content: space-between;">

  <div class="job-left" id="detailsRow" style="">
    {% include "MyJobs/left-jobs.html" %}
  </div>
    {% include "MainJobs/right-jobs.html" %}
</div>
{% else %}
<div class="job-first-row NoResult" style="">No results were found</div>
{% endif %}
<script>

$(document).ready(function() {
        if (window.innerWidth >= 768){
            $('.job-left-row').eq(0).click();
        }
    });
</script>


{% endblock content %}