{% load static %}
<div class="job-left" style="" id="myDIV">
    {% for i in job %}
    <div onclick="getNumber('{{i.job_id.id}}')" class="job-left-row pixel"  id="select{{i.job_id.id}}">
        <img class="job-logo" src="{{i.job_id.logo.url}}" alt="">
        <div class="job-left-content">
            <div class="job-left-title">{{i.job_id.job_title}}</div>
            {% if i.country_j == "USA" %}
            <div class="job-left-salary job-left-details">${{i.job_id.salary_per_hour|floatformat:2}}/hour{%if i.tips %} + tips {% endif %} </div>
            {% else %}
            <div class="job-left-salary job-left-details">€{{i.job_id.salary_per_hour|floatformat:2}}/hour{%if i.tips %} + tips {% endif %}</div>
            {% endif%}
            <div class="job-left-company job-left-details">{{i.job_id.company}}</div>
            <div class="job-left-details">{{i.job_id.city_j}}, {{i.job_id.country_j}}</div>
        </div>
    </div>
    <div class="move"></div>
    {% endfor %}
</div>