{% load static %}
<div class="right-jobs-main-div right-job-margin-top">
        <div class="right-jobs" id="detailsRow" style="display:none;flex-direction: column;">

        <div class="job-right-details" style=" ">
                    <div class="job-right-content" style="">
                        <img class="job-right-exit" title="Exit" style="" src="{% static 'img/Vector 81 (1).png'%}" onclick="closeButton()" alt="">
                        <div class="job-left-title job-right-title" id="job_title" ></div>
                        <div class=" job-left-details">
                            <span class="job-left-salary" id="salary"></span>
                            <span style="color: #858585;">
                                &nbsp;·&nbsp;
                            <span id="totsalary" style="color:#00AA11;" ></span>&nbsp;&nbsp;·&nbsp;
                            <span id="countApplicant"></span></span></div>
                        <div style="" class="job-right-company job-left-details"><span id="company"></span></ div>
                        <div style="" class="job-right-text-details job-left-details"><span id="city"></span></div>
                        <div  class="job-right-text-details job-left-details">
                            <span id="typeOfWork"></span>&nbsp;·&nbsp;
                            <span id="hourPerWork"></span>
                        </div>
                        <div style="" class="job-right-text-details job-left-details" id="sDate"></div>
                        <div style="" class="job-right-text-details job-left-details">
                            <span id="housing"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="housingCost"></span>
                        </div>
                        <div style="" class="job-right-text-details job-left-details">
                            <span id="program"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="programCost"></span>
                        </div>
                        <div id="button" class="job-right-apply-button" style=""></div>
                    </div>
        </div>
        <div class="job-right-details job-right-description">
            <div class="job-left-details">
                <span id="message" ></span>
            </div>
        </div>
    </div>
</div>