{% load static %}

<div class="right-jobs-main-div">
<div class="right-jobs" style="">
    <div id="doc-app">
        <div class="mutual-form-stats application-update-form-content" style="">
            <div class="payment-under-form-content" style="">
                <div class="mutual-pages-stats only-application-update-style" style="">
                <div class="mutual-pages-stats only-under-application-update-style" style="">
                    <img class="myjob-right-exit" title="Exit" style=""
                    src="{% static 'img/Applicant/close(2).png' %}" onclick="closeButton()"  alt="">    
                    <div class="application-update-title" style="">Application Update</div>
                    <div class="applied-on-date mutual-padding-applied">
                        <div style="padding-bottom: 20px;">Applied on:</div>
                        <div class="" style="display: flex;">
                            <div class="applied-qualified-margin-right" style="display: flex;">
                                <img src="{% static 'img/interview-date-icon.svg' %}" alt="">
                                <div class="main-divs-color interview-distance-between-div-img"><span id="applyDate" ></span></div>
                            </div>
                            <div style="display: flex;">
                                <img src="{% static 'img/interview-time-icon.svg' %}" alt="">
                                <div class="main-divs-color interview-distance-between-div-img"><span id="applyDateTime"></span></div>                                    </div>
                        </div>
                </div>
                <div class="applied-on-date">
                    <div style="padding-bottom: 20px;"><span id="Stat" ></span>:</div>
                    <div class="" style="display: flex;">
                        <div class="applied-qualified-margin-right" style="display: flex;">
                            <img src="{% static 'img/interview-date-icon.svg' %}" alt="">
                            <div class="main-divs-color interview-distance-between-div-img"><span id="ApplicantStatDate" ></span></div>
                        </div>
                        <div style="display: flex;">
                            <img src="{% static 'img/interview-time-icon.svg' %}" alt="">
                            <div class="main-divs-color interview-distance-between-div-img"><span id="ApplicantStatDateTime"></span></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="second-screening-question-div documents-div divs-pointer-event-auto" style="padding-top: 20px; padding-bottom: 20px; margin-left: 0px;">
                <div class="screening-questions-title second-screening-question mutual-font-size-18px">Documents for Work Permit</div>
            </div>
            </div>
            <div class="second-screening-question-div work-permit-div divs-pointer-event-auto" style="padding-top: 20px; padding-bottom: 20px;">
                <div class="screening-questions-title second-screening-question mutual-font-size-18px">Your Work Permit is here</div>
            </div>
        </div>
        </div>
        <div class="mutual-form-stats documents-for-work-permit-form-content" style="display: none;">
            <div class="payment-under-form-content" style="">
                <div class="documents-border-div documents-main-border-div">
                    <div class="application-update-div">
                        <div class="contact-information-third-page pd-ci-cursor font-size-18px-16px">Application Update</div>
                    </div>
                <div class="documents-border-div documents-under-main-border-div" style="">
                    <img class="myjob-right-exit" title="Exit" style=""
                    src="{% static 'img/Applicant/close(2).png' %}"  onclick="closeButton()" alt="">
                    <div class="div-title-documents-zip-icon">
                    <div class="title_documents" style="">Documents for Work Permit</div>
                    <div class="parent-img-zip mutual-three-dots-imgs">
                    </div>
                    </div>
                    <div id="documentList" class="document-images" style="">
                    </div>
        </div>
            <div class="second-screening-question-div work-permit-div divs-pointer-event-auto" style="padding-top: 20px; padding-bottom: 20px; margin-left: 0px;">
                <div class="screening-questions-title second-screening-question mutual-font-size-18px">Your Work Permit is here</div>
            </div>
        </div>
    </div>
        </div>

        <div class="mutual-form-stats your-work-permit-is-here-form-content" style="display: none;">
            <div class="payment-under-form-content">
                    <div class="documents-border-div">
                        <div class="application-update-div">
                            <div class="contact-information-third-page application-update-under-div pd-ci-cursor font-size-18px-16px">Application Update</div>
                        </div>        
                    <div class="documents-div docs-work-permit-page-border mutual-pages-stats">
                        <div class="contact-information-third-page pd-ci-cursor font-size-18px-16px">Documents for Work Permit</div>
                    </div>
                    <div class="documents-border-div documents-under-main-border-div">
                        <img class="myjob-right-exit job-right-exit " title="Exit" style=""
                        src="{% static 'img/Applicant/close(2).png' %}" onclick="closeButton()" alt="">
                        <div class="div-title-documents-zip-icon">
                    <div class="work-permit-title">Your Work Permit is Here</div>
                    <div class="parent-img-zip mutual-three-dots-imgs" id="parent-img-zip2">
                    </div>
                </div>
                    <div id="recdocumentList" class="document-images">
                        
                    </div>
            </div>
            </div>
        </div>
        </div>

    </div>
    
        <div class="job-right-details" >
                    <div class="job-right-content" style="">
                        
                        <div class="job-left-title job-right-title" id="job_title" ></div>
                        <div class=" job-left-details">
                            <span class="job-left-salary" id="salary"></span>
                            <span style="color: #858585;">
                                &nbsp;·&nbsp;
                            <span id="totsalary" style="color:#00AA11;" ></span>&nbsp;&nbsp;·&nbsp;
                            <span id="countApplicant"></span></span></div>
                        <div style="" class="job-right-company job-left-details"><span id="company"></span></div>
                        <div style="" class="job-right-text-details job-left-details"><span id="city"></span></div>
                        <div  class="job-right-text-details job-left-details">
                            <span id="typeOfWork"></span>&nbsp;·&nbsp;
                            <span id="hourPerWork"></span>
                        </div>
                        <div style="" class="job-right-text-details job-left-details" id="sDate"></div>
                        <div style="" class="job-right-text-details job-left-details">
                            <span id="housing"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="housingCost"></span>
                        </div>
                        <div style="" class="job-right-text-details job-left-details">
                            <span id="program"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="programCost"></span>
                        </div>
                        
                    </div>
        </div>
        <div class="job-right-details job-right-description">
          <div class="job-left-details" style="width: 100%;">
            <span style="word-wrap: break-word;" id="message" ></span>
        </div>
        </div>
    </div>
</div>




  <script>
    const dropArea = document.getElementById('drop-area');
    const fileInput = document.getElementById('id_document');
    const fileList = document.querySelector('#file-list ul');
    let uploadedFile = null;

    dropArea.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropArea.style.backgroundColor = '#f0f0f0';
    });

    dropArea.addEventListener('dragleave', () => {
        dropArea.style.backgroundColor = '#ffffff';
    });

    dropArea.addEventListener('drop', (e) => {
        e.preventDefault();
        dropArea.style.backgroundColor = '#ffffff';
        const file = e.dataTransfer.files[0];
        handleFile(file);
    });

    fileInput.addEventListener('change', () => {
        const file = fileInput.files[0];
        handleFile(file);
    });

    function handleFile(file) {
        // Clear previously uploaded file
        fileList.innerHTML = '';
        uploadedFile = null;

        if (file) {
            const listItem = document.createElement('li');
            listItem.textContent = `${file.name} (${formatSize(file.size)})`;
            fileList.appendChild(listItem);
            uploadedFile = file;
        }
    }

    function formatSize(bytes) {
        if (bytes < 1024) {
            return bytes + " bytes";
        } else if (bytes < 1048576) {
            return (bytes / 1024).toFixed(1) + " KB";
        } else if (bytes < 1073741824) {
            return (bytes / 1048576).toFixed(1) + " MB";
        } else {
            return (bytes / 1073741824).toFixed(1) + " GB";
        }
    }

    // Add a click event listener to the drop area to trigger the file input
    dropArea.addEventListener('click', () => {
        fileInput.click();
    });
</script>
<script>
    $(document).ready(function() {
        $('.open-popup').click(function() {
            var number = $(this).data('number'); // Get the number from the data attribute of the clicked button
            $('#document_id').val(number); // Set the value of the input field in your popup
            $('.overlay').show();
            $('.popup').show();
        });
    
      $('#close-popup').click(function() {
        $('.overlay').hide();
        $('.popup').hide();
      });
    
      $('#id_document').on('change', function() {
        var fileInput = this.files[0];
    
        if (fileInput) {
          // Check the file extension
          var allowedExtensions = ['.pdf', '.jpg', '.jpeg', '.png', '.svg'];
          var fileExtension = fileInput.name.slice(((fileInput.name.lastIndexOf(".") - 1) >>> 0) + 2);
          if (allowedExtensions.indexOf('.' + fileExtension.toLowerCase()) === -1) {
            // Invalid file extension, update the input border color
            $('#id_document').css('border', '2px solid red');
            $('#error').css('display', 'block');
            $('#error').css('color', 'red');
          } else {
            // Reset the input border color if the file is valid
            $('#error').css('display', 'none');
    
            $('#id_document').css('border', '1px solid #ffff');
          }
        }
      });
    
      $('#upload-form').submit(function(e) {
        e.preventDefault();
    
        var formData = new FormData(this);
    
        $.ajax({
          type: 'POST',
          url: '/upload_documents/',
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            $('.overlay').hide();
            $('.popup').hide();
          },
          error: function(response) {
            $('#status').text(response.responseJSON.error);
          }
        });
      });
    });
    </script>