{% extends 'base.html'%}
{% block content %}
{% load static %}


<div class="experience-main-div experience-education-languages different_exp">
    <div class="experience-div second-experience-div">
        <div class="experience-paragraph-img-rows">
            <div class="aaa">
            <p class="experience-paragraph">Education</p>
            {% for i in userEdu%}
            <div class="experience-rows-img" style="">
                <img class="experience-education-img" src="{% static 'img/worki_icons-19.jpg' %}" alt="">
                <div class="experience-rows">
                <div style="display: flex; width: 100%;">
                    <div class="experience-first-row">{{i.university}}</div>
                    <div class="two-imgs-experience">
                    
                <a href="{% url 'editEduId' i.id %}">
                    <img class="edit-experience edit-experience-pop-up-button" title="Edit Experience" src="{% static 'img/Ikona_edit-01 56.png' %}" alt=""></a>
                </div>
                </div>
                <div class="experience-second-row">{{i.field_of_study}}</div>
                <div class="experience-third-row">{{i.city_e}}, {{i.country_e}}</div>

                    <div class="experience-fourth-row">{{i.start_year|date:'d/m/Y'}} -
                        {% if i.end_year == null%}
                        Present
                        {% else %}
                        {{i.end_year |date:'d/m/Y'}}
                        {% endif%}</div>
                    </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="add-and-edit-experience">
          <a href="{% url 'profile'%}"><img class="back-icon" title="Go Back" src="{% static 'img/backButton.png' %}" alt=""></a>         
          <img class="add-experience-button plus-button-exp" title="Add Experience" src="{% static 'img/Vector 80.png' %}" alt="">
        </div>
    </div>
</div>
<div class="bg-add-and-edit bg-add-experience">
    <div class="edit-experience-pop-up edit-education-parent-scroll">
        <div class="under-container edit-education-scroll" style="overflow-y: scroll;">
            <div class="exit-img exit-img-edit-experience">
                <a href="{% url 'editEdu'%}">
                    <img class="exit-button exit-button-second-add-education" src="{% static 'img/Vector 81 (1).png' %}" alt="">
                </a>
            </div>
            <h1 id="title-experience">Add Education</h1>
            <form method="POST" action="" class="sign-up-form">
                {% csrf_token %}
                <div style="display: none;">
                    {{edit.user_id}}
                </div>
                <div class="div-of-job-experience">
                    <p class="paragraph-of-name paragraphs-stats">University</p>
                    {{edit.university}}
                </div>
                <div>
                    <p class="paragraph-of-country paragraphs-stats">Field Of Study</p>
                    {{edit.field_of_study}}
                </div>

                <div>
                    <p class="paragraph-of-surname paragraphs-stats">Degree</p>
                    <select name="degree" required="" id="id_degree">
						<option selected></option>
						<option value="Bachelor" >Bachelor’s Degree</option>

						<option value="Master" >Master’s Degree</option>
					</select>
                </div>
                <div>
                    <p class="paragraph-of-surname paragraphs-stats">Country</p>
                    {{edit.country_e}}
                    <datalist id="EduCountryList">
                        {% for i in country %}
                        <option>{{i}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div>
                    <p class="paragraph-of-surname paragraphs-stats">City</p>
                    {{edit.city_e}}
                    <datalist id="EduCityList">
                        {% for i in city %}
                        <option>{{i.name}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                
                <div>
                    <p class="paragraph-of-country paragraphs-stats">Total Exams Passed</p>
                    <input type="number" name="total_examples_passed" placeholder="0" class="name-input mutual-stats font-fam" required="" id="id_total_examples_passed">
                </div>
                <div>
                    <p class="paragraph-of-country paragraphs-stats">GPA</p>
                    <input type="number" name="GPA" placeholder="0.0" class="name-input mutual-stats font-fam" step="any" required="" id="id_GPA">
                </div>
                
                <div>

                    <div style="display: flex; justify-content: space-between;">
                        <div style="width: 48%;">
                            <p class="paragraphs-stats paragraph-of-start-date">Start date</p>
                            <input id="id_start_year" class="start-date-input mutual-stats font-fam" name="start_year" onchange="checkStartYear()" type="tel" maxlength="10" placeholder="dd/mm/yyyy" required="" oninput="this.value = MMDDYYYY(this.value, event)" />
                            <p class="paragraphs-stats paragraph-of-start-date" id="sYear" style="color:red;display: none;">Date not valid </p>

                        </div>
                        <div style="width: 48%;
                    float: right;">
                            <p class="paragraphs-stats paragraph-of-end-date">End date</p>
                            <input id="id_end_year" class="end-date-input mutual-stats font-fam" name="end_year" onchange="checkEndYear()" type="tel" maxlength="10" placeholder="dd/mm/yyyy" oninput="this.value = MMDDYYYY(this.value, event)" />
                            <input class="paragraphs-stats  paragraph-of-end-date" style="margin-right:0;" onchange="presentEnd()"type="checkbox" >
                            <label class="paragraphs-stats paragraph-of-end-date" style="margin-top: 8px;">Present</label>
                            <p class="paragraphs-stats paragraph-of-start-date" id="eYear" style="color:red;display: none;">Date not valid </p>

                            
                        </div>
                    </div>
                    </div>
                    <div class="save-button save-button-edit-add-education-480">
                        <input name="save" type="submit" class="save-submit-input save-picture font-fam" value="Save">

                    </div>
            </form>
        </div>
    </div>
</div>
    



{% endblock content %}