{% include "header-links.html" %}

{% block content %}
{% load static %}
<div class="experience-main-div experience-education-languages different_exp">
    <div class="experience-div second-experience-div">
        <div class="experience-paragraph-img-rows">
            <div class="aaa">
                <p class="experience-paragraph">Experience</p>
                {% for i in usExp%}
                <div class="experience-rows-img" style="">
                    <img class="experience-education-img" src="{% static 'img/worki_icons-18.jpg' %}" alt="">
                    <div class="experience-rows">
                        <div style="display: flex; width: 100%;">
                            <div class="experience-first-row">{{i.title}}</div>
                            <div class="two-imgs-experience">

                                <a href="{% url 'editExprienceId' i.id %}">
                                    <img class="edit-experience edit-experience-pop-up-button" title="Edit Experience"
                                        src="{% static 'img/Three-dots.svg' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="experience-second-row">{{i.company}}</div>
                        <div class="experience-third-row">{{i.city_usExp}}, {{i.Country}}</div>
                        <div class="experience-fourth-row">
                            {{i.start_date|date:'d/m/Y'}} -
                            {% if i.end_date == null%}
                            Present
                            {% else %}
                            {{i.end_date |date:'d/m/Y'}}
                            {% endif%}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="add-and-edit-experience">
              <a href="{% url 'profile'%}"><img class="back-icon add-edit-buttons-hover" title="Go Back" src="{% static 'img/backButton.png' %}" alt=""></a>
              <img class="second-add-experience-button plus-button-exp add-edit-buttons-hover" title="Add Experience" src="{% static 'img/Vector 80.png' %}" id="addExperienceButton" alt="">
            </div>

    </div>
</div>
<div class="bg-add-and-edit add-experience-second" id="addExperience">
    <div class="add-experience under-container-mutual-mutual-stats">
        <div class="mutual-titles-pop-ups-stats">Add Experience</div>
        <form method="post" class="sign-up-form" enctype="multipart/form-data" style="margin-bottom:0;">
            {% csrf_token %}
            <div style="display: none;">
                {{form}}
                {{for_usExp.user_id}}
            </div>
                {{for_usExp.title}}
                {{for_usExp.company}}
                {{for_usExp.Country}}
                {{for_usExp.city_usExp}}
                <div class="start-and-end-date-main-div">
                    <input id="id_start_date" class="start-date-input date-of-birth-input inputs-job-details start-end-date all-inputs profile-all-inputs-option"
                    name="start_date" onchange="checkForm();checkStartDate();" value="" type="text" maxlength="10"
                    placeholder="Start Date (mm/dd/yyyy)" oninput="this.value = MMDDYYYY(this.value, event)" />
                    <input id="id_end_date" class="end-date-input date-of-birth-input inputs-job-details start-end-date all-inputs profile-all-inputs-option"
                    name="end_date" onchange="checkForm();checkStartDate();" value="" type="text" maxlength="10"
                    placeholder="End Date (mm/dd/yyyy)" oninput="this.value = MMDDYYYY(this.value, event)" />
                    
                </div>
                <div style="float: right; border:0;width:auto;font-size: 16px;color: #858585;padding:0;" class="profile-all-inputs-option">
                    <label class="" style=""><input class="" style="" onchange="present()"type="checkbox" > Present</label>
                </div>
                <div class="save-button save-button-edit-profile-photo">
                <input name="back" title="Back to Profile" type="button"   class="back-input font-fam back-save-buttons" value="Back">
                <input title="Save Profile Data" name="save" type="submit" class="save-submit-input font-fam back-save-buttons" value="Save">
            </div>
        </form>
</div>
</div>


<script>
$(document).ready(function() {
    $(".bg-add-and-edit").click(function() {
        $(this).hide();
    });
});
</script>

    {% include 'scripts.html' %}

{% endblock content %}