{% include "header-links.html" %}

{% load static %}
{% block content %}
<div class="experience-main-div experience-education-languages different_exp">
    <div class="experience-div second-experience-div">
        <div class="experience-paragraph-img-rows">
            <div class="aaa">
            <p class="experience-paragraph">Languages</p>
            {% for i in User_lang%}
            <div class="experience-rows-img" style="">
                <div class="experience-rows">
                <div style="display: flex; width: 100%;">
                    <div class="experience-first-row">{{i.language}}</div>
                    <div class="two-imgs-experience">
                    
                <a href="{% url 'editLanguageId' i.id %}">
                    <img class="edit-experience edit-experience-pop-up-button" title="edit Experience" src="{% static 'img/Three-dots.svg' %}" alt=""></a>
                </div>
                </div>
                <div class="experience-third-row">{{i.level}}</div>  
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="add-and-edit-experience">
                    <a href="{% url 'profile'%}"><img class="back-icon add-edit-buttons-hover" title="Go Back" src="{% static 'img/backButton.png' %}" alt=""></a>
                    <img class="second-add-languages-button plus-button-exp add-edit-buttons-hover" title="Add Languages" src="{% static 'img/Vector 80.png' %}" alt="">
                </div>

    </div>
</div>



<div class="bg-add-and-edit">
    <div class="add-languages under-container-mutual-mutual-stats">
 
        <div class="add-language-title mutual-titles-pop-ups-stats">Add Language</div>
        <form method="POST" action="" class="sign-up-form add-language-form">
            {% csrf_token %}
            <div style="display: none;">
               
                {{edit.user_id}}
            </div>
            <div class="div-of-job-experience">
                <select name="language" required="" id="id_language" class="profile-all-inputs-option">
                    <option style="display: none;" selected>Language</option>
                    {% for i in lang %}
                        <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
            <select id="id_level" name="level" type="text" required class="surname-input mutual-stats font-fam">
                <option style="display: none;" selected>Level</option>   
                <option value="N/A">N/A</option>
                    <option value="Basic">Basic</option>
                    <option value="Low-Intermediate">Low-Intermediate</option>
    
    
                    <option value="High-Intermediate">High-Intermediate</option>
    
                    <option value="Advanced">Advanced</option>
            </select>
            </div>
            <div class="save-button save-button-edit-profile">
                <input title="Back to Profile" name="back" type="button" class="back-input font-fam back-save-buttons" value="Back">
                <input title="Save Profile Data" name="save" type="submit" class="save-submit-input font-fam back-save-buttons" value="Save">
            </div>
        </form>
    </div>
</div>
    {% include 'scripts.html' %}

{% endblock content %}