{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="experience-main-div experience-education-languages different_exp">
    <div class="experience-div second-experience-div">
        <div class="experience-paragraph-img-rows">
            <div class="aaa">
            <p class="experience-paragraph">Languages</p>
            {% for i in User_lang%}
            <div class="experience-rows-img" style="">
                <div class="experience-rows">
                <div style="display: flex; width: 100%;">
                    <div class="experience-first-row">{{i.language}}</div>
                    <div class="two-imgs-experience">
                    
                <a href="{% url 'editLanguageId' i.id %}">
                    <img class="edit-experience edit-experience-pop-up-button" title="Edit Experience" src="{% static 'img/Ikona_edit-01 56.png' %}" alt=""></a>
                </div>
                </div>
                <div class="experience-third-row">{{i.level}}</div>  
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="add-and-edit-experience">
          <a href="{% url 'profile'%}"><img class="back-icon" title="Go Back" src="{% static 'img/backButton.png' %}" alt=""></a>         
          <img class="add-experience-button plus-button-exp" title="Add Experience" src="{% static 'img/Vector 80.png' %}" alt="">
        </div>
    </div>
</div>

<div class="bg-edit-experience" style="display: flex;">
    <div class="edit-languages-pop-up">
        <div class="under-container">
            <div class="exit-img exit-img-edit-experience">
                <a href="{% url 'editLanguage'%}">
                    <img class="exit-button" src="{% static 'img/Vector 81 (1).png' %}" alt="">
                </a>
            </div>
            <h1 id="title-experience">Edit Language</h1>
            <form method="POST" action="" class="sign-up-form">
                {% csrf_token %}
                <div style="display: none;">
                    {{edit.user_id}}
                </div>
                <div class="div-of-job-experience">
                    <p class="paragraph-of-name paragraphs-stats">Language</p>
                    <select name="language" required="" id="id_language">
                        
                        
                        {% for i in lang %}
                        {% if i == uslang %}
                        <option value="{{i.id}}" selected>{{i}}</option>
                        {% else  %}
                        <option value="{{i.id}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <p class="paragraph-of-surname paragraphs-stats">Level</p>
                    <select name="level" required="" id="id_level">
                        
                      
                        {% if asd1 == "N/A" %}
                        <option value="N/A" selected>N/A</option>
                        {% else %}
                        <option value="N/A">N/A</option>

                        {% endif %}
                        {% if asd1 == "Basic" %}
                        <option value="Basic" selected>Basic</option>
                        {% else %}
                        <option value="Basic">Basic</option>

                        {% endif %}
                        {% if asd1 == "Low-Intermediate" %}
                        <option value="Low-Intermediate" selected>Low-Intermediate</option>

                        {% else %}
                        <option value="Low-Intermediate">Low-Intermediate</option>

                        {% endif %}

                        {% if asd1 == "High-Intermediate" %}
                        <option value="High-Intermediate" selected>High-Intermediate</option>
                        {% else %}
                        <option value="High-Intermediate">High-Intermediate</option>
                        {% endif %}
                        {% if  asd1 == "Advanced" %}
                        <option value="Advanced" selected>Advanced</option>
                        {% else %}
                        <option value="Advanced">Advanced</option>
                        
                        {% endif %}
                      
                      </select>

                    


                </div>
                
                <div class="save-button">
                    <input name="save" type="submit" class="save-submit-input save-picture font-fam" value="Save">
                </div>  
            </form>
        </div>
    </div>
</div>

{% endblock content %}