{% load static %}
    
    <div class="job-left" style="" id="myDIV">

            {% for i in users %}
            {% if i.user_id.id == uid %}
            <div onclick="getUser({{i.user_id.id}})" class="job-left-row pixel" id="select{{i.user_id.id}}">
                <img class="job-logo" src="{{i.user_id.profile.url}}" alt="" style="border-radius: 10px;">
                <div class="job-left-content">
                    <div style="display: flex;">

                    <div style="width: 200px;" class=" job-left-title">{{i.user_id.first_name}} {{i.user_id.last_name}}</div>
                    <label for="select-all" title="Select all" style="position: absolute; right: 31.7px; top: 15px; background-color: #E7F1FE; cursor: pointer;">
                        <input title="Select all" value="Select" onclick="Check()" name="select-all" type="checkbox" class="select-all-button selAll" id="select-all" style="display: none;"></input>All</label>
                    <input title="Select applicant" class="checkbox-jobs" onchange="Check({{i.user_id.id}})" name="checkb" id="{{i.user_id.id}}" style="height: 22px; width: 22px; position: absolute; right: 20px; top: 40px;" type="checkbox"></input>
                    </div>
                    <div class="job-left-details job-left-company">{{i.user_id.email}}</div>
                    <div class="job-left-details job-left-company">{{i.user_id.phone_number}}</div>
                    <div class="job-left-details job-left-company">{{i.user_id.city}}, {{i.user_id.country}}</div>

                </div>
            </div>
            <div class="move"></div>
            {% else %}
            <div onclick="getUser({{i.user_id.id}})" class="job-left-row pixel"  id="select{{i.user_id.id}}">
                <img class="job-logo" src="{{i.user_id.profile.url}}" alt="">
                <div class="job-left-content">
                    <div style="display: flex;">

                        <div style="width: 200px;" class=" job-left-title">{{i.user_id.first_name}} {{i.user_id.last_name}}</div>

                            <input title="Select all" value="Select" onclick="Check()" name="select-all" type="checkbox" class="select-all-button selAll" id="select-all" style="display: none;"></input>
                        <input title="Select applicant" class="checkbox-jobs" onchange="Check({{i.user_id.id}})" name="checkb" id="{{i.user_id.id}}" style="height: 22px; width: 22px; position: absolute; right: 20px; top: 40px;" type="checkbox"></input>
                    </div>
                    <div class=" job-left-details job-left-company">{{i.user_id.email}}</div>
                    <div class="job-left-details job-left-company">{{i.user_id.phone_number}}</div>
                    <div class="job-left-details job-left-company">{{i.user_id.city}}, {{i.user_id.country}}</div>
                </div>
            </div>
            <div class="move"></div>
            {% endif %}
            {% endfor %}
</div>
<script>
    function closeButton(){
var right_jobs_main_div = $('.right-jobs-main-div');
var jobs_left = $('.job-left');
var jobs_buttons = $('.jobs-buttons');
right_jobs_main_div.hide();
jobs_left.css('display', 'flex');
jobs_buttons.css('display', 'flex');

};
</script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <script>
        $(".jobs-rows-img input").click(function (e) {
            // Do something
            e.stopPropagation();
        });
        </script>
 <script>

var phase = "";
const ct = [];
var url;


          function Check(id){
                console.log("testttt");
                console.log(ct);
                string = ct;
                substring=id;
                checkBox = document.getElementById(substring);
                console.log(ct.toString());
                console.log(ct);


                if ($('.checkbox-jobs:checkbox:checked').length > 0) {
        this.title = "Deselect applicant";

        if ($('.checkbox-jobs:checkbox:checked').length == 1) {

            $('.input_type').css("display", "flex");

            $('.testbutton').prop("onclick", null).off("click");

            $('.input_type').css("float", "left");
            $('.all-applicants-dropdown').css("alignItems", "flex-start");
            $('.move-phase-button').css("display", "block");
            $('.move-phase-button').css("cursor", "not-allowed");
            $('.all-applicants-dropdown').css("padding-bottom", "0px");
            $('.all-applicants-button').css("-webkit-transition-duration", "0.4s");
            $('.all-applicants-button').css("transition-duration", "0.4s");
            $('.all-applicants-button').css("overflow", "hidden");

            if(!$('.all-applicants-dropdown').is(':visible')) {



            $('.all-applicants-button').css("opacity", "1");
            $('.all-applicants-button').css("display", "block");

            $('.all-applicants-button').css("content", "");
            $('.all-applicants-button').css({
               transition : 'all 0.8s'
            });
            $('.all-applicants-button').toggleClass('changed');


        }

        $('#qualify').prop("onclick", null).off("click");

            $('.input_type').click(function(e) {

                phase=$('.input_type:checked').val();

                $('.input_type').not(this).prop('checked', false);

                if (this.checked) {

                    $('#qualify').prop("onclick", null).off("click");
                    $('#nqualify').prop("onclick", null).off("click");
                    $('.all-applicants-dropdown').css("alignItems", "flex-start");
                    $('.move-phase-button').css("background-color", "#1877F2");
                    $('.move-phase-button').css("color", "white");

                    $('.move-phase-button').text("Move to" + " " + $('.input_type:checked').attr("name"));
                    var nameCh = ""+$('.input_type:checked').attr("name");
                    console.log(nameCh);
                    $('.move-phase-button').css("cursor", "pointer");

                    if(nameCh === "Qualified"){
                        url = "JobID="+job+"/userid="+ct.toString();
                    }else
                    {
                        url = "/Administrator/Applicant/No/JobID="+job+"/userid="+ct.toString();
                    }
                    console.log(url);

                    $('#moveToPhase').attr('href',url);







                }
                else {
                    $('.all-applicants-dropdown').css("alignItems", "flex-start");
                    $('.move-phase-button').css("background-color", "rgb(221, 221, 221)");
                    $('.move-phase-button').css("color", "rgb(145, 143, 143)");
                    $('.move-phase-button').prop('title', 'Select an option to click here');
                    $('.move-phase-button').css("cursor", "not-allowed");
                    $('.move-phase-button').text("Select to move");
                }
            })
        }

       }
    else {
            this.title = "Select applicant";


        $('.input_type').not(this).prop('checked', false);

        $('.all-applicants-dropdown').css("alignItems", "flex-start");
                    $('.move-phase-button').css("background-color", "rgb(221, 221, 221)");
                    $('.move-phase-button').css("color", "rgb(145, 143, 143)");
                    // $('.move-phase-button').css("color", "rgb(146, 146, 146)");

                    $('.move-phase-button').prop('title', 'Select an option to click here');
                    $('.move-phase-button').css("cursor", "not-allowed");
                    $('.move-phase-button').text("Select to move");

        if ($('.checkbox-jobs:checkbox:checked').length > 0) {
            $('.input_type').css("display", "flex");
            $('.input_type').css("float", "left");
            $('.all-applicants-dropdown').css("alignItems", "flex-start");
            $('.move-phase-button').css("background-color", "rgb(221, 221, 221)");
                    $('.move-phase-button').css("color", "rgb(145, 143, 143)");
                    // $('.move-phase-button').css("color", "rgb(146, 146, 146)");

                    $('.move-phase-button').prop('title', 'Select an option to click here');
                    $('.move-phase-button').css("cursor", "not-allowed");
                    $('.move-phase-button').text("Select to move");

            // $('.all-applicants-button').css("background-color", "#71a6eb");
            }
        else {
        $('.all-applicants-dropdown').css("alignItems", "center");
        $('.all-applicants-dropdown').css("padding-bottom", "5px");
        // if ($('.checkbox-jobs').is(':checked')) {
        $("#qualify").on('click', function() {
        $('.all-applicants-dropdown').css("alignItems", "center");
        // $('.all-applicants-button').css("background-color", "#1877F2");

        window.location = "http://www.worki.global/";
        });



        if ($('.checkbox-jobs:checkbox:checked').length < 1) {
            // $('.all-applicants-button').css("background-color", "#1877F2");

        }

        $('.move-phase-button').css("display", "none");
        $('.input_type').css("display", "none");
        if ($('checkbox-jobs').is(':checked')) {

        $('.input_type').click(function(e) {

                if (this.checked) {
                    $('.move-phase-button').css("display", "none");
                    $('.all-applicants-dropdown').css("alignItems", "center");
                }
                else {
                    $('.move-phase-button').css("display", "block");

                }
            })
        }
        else {
            $('.input_type').click(function(e) {
                $('.all-applicants-dropdown').css("alignItems", "center");
            })

        }
    }
    }


                if(checkBox.checked) {

                    if(string.includes(substring)){
                        console.log(substring);
                    }else{
                        ct.push(id);
                    }
                    var uid = parseInt(id);
                    var job = {{jpk}}
                    var c = document.querySelectorAll(".checkbox-jobs:checked")
                    if(c.length === 0){
                        document.getElementById("qualify").href="{% url 'qualified-applicant' jpk %} "
                    }else{
                        var url = "JobID="+job+"/userid="+ct.toString();
                        document.getElementById("qualify").href=url;
                        document.getElementById("notqualify").href="/Administrator/Applicant/No/"+url;
                        document.getElementById("qualify").innerHTML ="Move to qual";
                    }
                }else{
                    if(string.includes(substring)){
                        for( var i = 0; i < ct.length; i++){

                            if ( ct[i] === substring) {

                                ct.splice(i, 1);
                            }

                        }
                    }


                }
                console.log("testttt");
                console.log(ct);
            }
        $('#select-all').click(function(event) {
            if(this.checked) {
             var c = document.querySelectorAll(".checkbox-jobs")
                    for(var i = 0; i < c.length; i++){
                    c[i].checked = true;
                    var round = Math.round;
                    var x = round(c[i].getAttribute( 'id' ));
                    string = ct;
                    substring=x;
                    if(!string.includes(substring)){
                        ct.push(x);

                    }

                    }
                    var job = {{jpk}}
                    console.log(ct);
                    var url = "JobID="+job+"/userid="+ct.toString();
                    console.log(url)
                    console.log("damm im here ");
                    document.getElementById("qualify").href=url;
                    document.getElementById("notqualify").href="/Administrator/Applicant/No/"+url;





            } else {
                $(':checkbox').each(function() {
                    document.getElementById("qualify").href="{% url 'qualified-applicant' jpk %} ";
                    document.getElementById("notqualify").href="{% url 'nonqualified-applicant' jpk%}";

                    this.checked = false;
                    this.title = "Select applicant";

                });
                for( var i = 0; i < ct.length; i++){



                                ct.splice(i, 1);


                        }


            }
        });




        </script>
