{% extends 'base.html'%}
{% load static %}
{% block content %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Jobs</title>
<link rel="stylesheet" href="{% static 'css/authenticated.css'%}">
<link rel="stylesheet" href="{% static 'css/jobs.css'%}">
<link rel="stylesheet" href="{% static 'css/profile-header.css'%}">


<div class="jobs-buttons">
    <div class="mutual-padding-of-div plus-div">
        <a href=""><img title="Add a Job" class="plus-icon-jobs"
                style="width: 18px; height: 18px; vertical-align: middle; border-radius: 50%; padding: 8px; background-color: white;"
                src="{% static 'img/add.png'%}" alt=""></a>
    </div>
    <div class="mutual-padding-of-div">
        <a href="{% url 'appliedJob' %}"><button title="Posted Jobs"
                class="posted-button-posted-jobs outline-none">Applied</button></a>
    </div>
    <a href="{% url 'postedJob' %}"><button title="Applied Jobs"
            class="applied-button-posted-jobs outline-none">Posted</button></a>
</div>
<div>

</div>

<div class="jobs-main-div" style="display: flex; justify-content: space-between; width: 100%;">
    <div class="jobs-left" style="display: flex; flex-direction: column; width: 50%; position: relative;">
        {% for i in app %}
        <a href="{% url 'appliedJobId' i.id %}" style="text-decoration: none;">
            <div class="jobs-rows-img"
                style="padding: 30px 0px 30px 30px; margin-right: 10px; margin-top: 20px; background-color: white;">
                <img class="experience-education-img" src="{{i.job_id.logo.url}}" alt="logo">
                <div class="experience-rows">
                    <div class="experience-first-row">{{i.job_id.job_title}}</div>
                    <div class="experience-second-row">{{i.job_id.company}}</div>
                    <div class="experience-third-row">{{i.job_id.city_j}}, {{i.city_j.country}}</div>
                    <div class="experience-fourth-row">{{i.job_id.program}}</div>
                </div>
            </div>
        </a>
        {% endfor %}


    </div>


    <div class="right-jobs" style="display: flex; flex-direction: column; width: 50%;">
        <div class="right-jobs-rows-img"
            style="padding: 30px 0px 30px 30px; margin-left: 10px; background-color: white;">
            <div class="experience-rows">
                <div class="first-row-jobs">{{apply.job_id.job_title}}</div>
                <div class="second-row-jobs">{{apply.job_id.company}}&nbsp;&nbsp;<span
                        style="color: #858585;">·&nbsp;&nbsp;{{apply.job_id.city_j}},
                        {{apply.job_id.city_j.country}}&nbsp;·&nbsp;23 applicants</span></div>
                <div class="experience-third-row jobs-third-row">${{apply.job_id.salary_per_hour}}/hour</div>
                <div class="experience-fourth-row jobs-mutual-margin-rows">{{apply.job_id.type_of_work}} ·
                    {{apply.job_id.hour_per_work}} hours/week</div>
                <div style="margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows">
                    {{apply.job_id.start_date|date:'d-m-Y'}} - {{apply.job_id.end_date|date:'d-m-Y'}}</div>
                <div style="margin-top: 5px; margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows">
                    {{apply.job_id.housing}} · ${{apply.job_id.housing_cost_per_week}}/week</div>
                <div style="margin-top: 5px; margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows">
                    {{apply.job_id.program}} · Program Cost: ${{apply.job_id.programCost}}</div>
                <div style="margin-top: 5px; margin-top: 20px; height: 100%;"
                    class="experience-fourth-row jobs-mutual-margin-rows">Posted on:
                    {{apply.job_id.postDate|date:'d-m-Y'}}</div>
            </div>
        </div>
        <div class="right-jobs-rows-img-second"
            style="padding: 30px 0px 0px 30px; margin-left: 10px; background-color: white; margin-top: 20px;">
            <div class="experience-rows">
                <div class="first-row-jobs first-row-second-div">Work and Travel</div>
                <div class="second-row-second-div">
                    <div style="padding-bottom: 10px;">{{apply.job_id.description}}</div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/profile_dropdown.js'%}"></script>
<script src="{% static 'js/js.js'%}"></script>

{% endblock content %}