{% extends 'base.html'%}
{% load static %}
{% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Jobs</title>
    <link rel="stylesheet" href="{% static 'css/authenticated.css'%}">
    <link rel="stylesheet" href="{% static 'css/jobs.css'%}">
    <link rel="stylesheet" href="{% static 'css/profile-header.css'%}">


    <div class="jobs-buttons">
        <div class="mutual-padding-of-div plus-div">
           <a href=""><img title="Add a Job" class="plus-icon-jobs" style="width: 18px; height: 18px; vertical-align: middle; border-radius: 50%; padding: 8px; background-color: white;" src="{% static 'img/add.png'%}" alt=""></a>
        </div>
        <div class="mutual-padding-of-div">
        <a href="jobs-applied.html"><button title="Applied Jobs" class="applied-button-posted-jobs outline-none">Applied</button></a></div>
        <div>
        <button title="Posted Jobs" class="posted-button-posted-jobs outline-none">Posted</button></div>
    </div>
     
    <div class="jobs-main-div" style="display: flex; justify-content: space-between; width: 100%;">
        <div class="jobs-left" style="display: flex; flex-direction: column; width: 50%; position: relative;">
            {% for i in job %}
            <div class="jobs-rows-img" style="padding: 30px 0px 30px 30px; margin-right: 10px; margin-top: 20px; border-radius: 40px; background-color: white;">
                <img class="experience-education-img" src="{{i.logo.url}}" alt="">
                <img title="Edit Job" style="width: 30px; height: 30px; position: absolute; right: 0; margin-right: 40px;" src="{% static 'img/Ikona_edit-01 56.png'%}" alt="">
                <div class="experience-rows">
                <div class="experience-first-row">{{i.job_title}}</div>
                <div class="experience-second-row">{{i.company}}</div>
                <div class="experience-third-row">{{i.city_j}}, {{i.city_j.country}}</div>
                <div class="experience-fourth-row">50 applicants · {{i.status}}</div>
                </div>
            </div>
            {% endfor %}
            
            
        </div>
        <div class="right-jobs" style="display: flex; flex-direction: column; width: 50%;">
            <div class="right-jobs-rows-img" style="padding: 30px 0px 30px 30px; margin-left: 10px; background-color: white;">
                <div class="experience-rows">
                <div class="first-row-jobs">Warehouse Associate</div>
                <div class="second-row-jobs">Amazon&nbsp;&nbsp;<span style="color: #858585;">·&nbsp;&nbsp;Texas, USA&nbsp;·&nbsp;23 applicants</span></div>
                <div style="" class="experience-third-row jobs-third-row">$12.00/hour</div>
                <div style="" class="experience-fourth-row jobs-mutual-margin-rows">Full time · 40 hours/week</div>
                <div style="margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows">01 June, 2022 - 31 August 2022</div>
                <div style="margin-top: 5px; margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows">Housing provided · $100.00/week</div>
                <div style="margin-top: 5px; margin-top: 20px;" class="experience-fourth-row jobs-mutual-margin-rows">Work and Travel · Program Cost: $600</div>
                <div style="margin-top: 5px; margin-top: 20px; height: 100%;" class="experience-fourth-row jobs-mutual-margin-rows">Posted on 01 May, 2022</div>
                </div>                
            </div>
            <div class="right-jobs-rows-img-second" style="padding: 30px 0px 0px 30px; margin-left: 10px; background-color: white; margin-top: 20px;">
                <div class="experience-rows">
                <div class="first-row-jobs first-row-second-div">Work and Travel</div>
                <div class="second-row-second-div">
                <div style="padding-bottom: 10px;">Work and Travel allows foreign students an opportunity to live and work in</div>
                <div style="padding-bottom: 10px;">Germany for 90 days during the summer vacation from university to</div>
                <div style="padding-bottom: 10px;">experience and to be exposed to work, people, and way of life in Germany.</div>
                <div>Learn more about the program <a class="here-link" style="" href="#">here</a>.</div>
                </div>
                <div class="jobs-third-row-second-div">
                <div class="first-row-jobs-third-row-second-div first-row-second-div">Job description</div>
                <div class="second-div-second-paragraph">
                    <div style="padding-bottom: 10px;">We are hiring driven Warehouse Associates! As a Warehouse Associate you</div> 
                    <div style="padding-bottom: 10px;">will be responsible for properly labeling and packing items to be shipped</div>
                    <div style="padding-bottom: 10px;">while also organizing and tracking warehouse inventory levels at all times.</div>
                    <div style="padding-bottom: 10px;">Join us and become part of a diverse and friendly team in a Logistics</div>
                    <div style="padding-bottom: 10px;">Warehouse in Germany. We provide in-house training so all you have to do is</div><div>Easy Apply!</div>  
                    </div>
                </div>
                <div class="jobs-third-row-second-div">
                    <div class="first-row-jobs-third-row-second-div first-row-second-div">What we offer:</div>
                    <div class="second-div-second-paragraph">
                        <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Easy Apply</div> 
                        <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Guaranteed employment</div>
                        </div>
                    </div>
                    
                    <div class="jobs-third-row-second-div">
                        <div class="first-row-jobs-third-row-second-div first-row-second-div">What you'll be doing:</div>
                        <div class="second-div-second-paragraph">
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Organize and track warehouse inventory</div> 
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Process, package, label and ship orders accurately</div>
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Maintain strict safety and quality standards</div>
                            <div style="margin-left: 10px;"><span style="margin-right: 10px;">·</span>Inspect products for defects and damages</div>
                        </div>
                    </div>
                    <div class="jobs-third-row-second-div">
                        <div class="first-row-jobs-third-row-second-div first-row-second-div">What we're looking for:</div>
                        <div class="second-div-second-paragraph">
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Currently enrolled as a university student</div> 
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Basic knowledge of English or German language</div>
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>No prior work experience is required</div>
                            <div style="padding-bottom: 10px; margin-left: 10px;"><span style="margin-right: 10px;">·</span>Physical endurance (Up to 8 hours standing/walking; Max: 20kg lifting)</div>
                            <div style="margin-left: 10px; padding-bottom: 30px;"><span style="margin-right: 10px;">·</span>Able to work independently and within a team</div> 
                            </div>
                    </div>    
                </div>
                                
            </div>
        </div>   
    </div>


    <script src="{% static 'js/profile_dropdown.js'%}"></script>

{% endblock content %}


