{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="profile-header">
    <div>
    <img class="pro-img" src="{{user.cover.url}}" alt="">

    </div>
    <div class="second-part-profile-header">
        <div class="profile-image-and-edit">
            <div class="profile-image-and-add-button">
                <a href="" title="Profile Picture" ><img class="profile-image" width="160" height="160" src="{{ user.profile.url }}" alt=""></a>
                <a href="" title="Add Profile Picture"><i id="plus-icon" class="fa-solid fa-circle-plus"></i></a>
            </div>
            <div>
            <a href="" title="Edit Profile"><img src="{% static 'img/Ikona_edit-01 56.png'%}" alt=""></a>
            </div>
        </div>
        <div class="profile-name">{{ user.first_name }} {{user.last_name}} </div>
        <div class="profile-birthplace">{{user.City}}</div>
    </div>

{% endblock content%}