{% extends 'base.html'%}
{% load static %}
{% block content%}
    <link rel="stylesheet" href="{% static 'css/authenticated.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile-header.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

        
       <div class="profile-header">
            <div id="example1">
            <img class="pro-img" src="{{ user.cover.url }}" alt="">
            </div>
            <div class="second-part-profile-header">
                <div class="profile-image-and-edit">
                    <div class="profile-image-and-add-button">
                        <a href="" title="Profile Picture" ><img class="profile-image" width="160" height="160" src="{{ user.profile.url }}" alt=""></a>
                        <a href="" title="Add Profile Picture"><img src="{% static 'img/Asset 3.png' %}" width="30" height="30" id="plus-icon" alt=""></a>
                    </div>

                    <img  class="edit-button" title="Edit Profile"  src="{% static 'img/Ikona_edit-01 56.png' %}" alt="">
                
                </div>
                <div class="profile-name"><span class="profile-firstname">{{ user.first_name }}</span> <span class="profile-surname">{{ user.last_name }}</span></div>
                <div class="profile-birthplace"><span class="profile-city">{{ user.City }}</span><span>,{{ user.Country }}</div>
            </div>
        </div>
        <div class="modal-bg">
            <div class="container">
                <div class="under-container">
                    <div class="exit-img">
                    <img class="exit-button" src="{% static 'img/Vector 81 (1).png' %}" alt="">
                    </div>
                    <h1 id="title">Edit Profile</h1>
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                           <div style="margin: 0;">
                           <p class="paragraph-of-name paragraphs-stats">First name</p>
                           {{form.first_name}}
                           </div>
                           <div>
                           <p class="paragraph-of-surname paragraphs-stats">Last name</p>
                           {{form.last_name}}
                           </div>
                           <div>
                           <p class="paragraph-of-country paragraphs-stats">Country of residence</p>
                           {{form.Country}}
                           </div>
                           <div>
                           <p class="paragraph-of-city paragraphs-stats">City of residence</p>
                           {{form.City }}
                           </div>
                           
                        
                          <div class="save-button">
                            <input name="save" type="submit" class="save-submit-input font-fam" value="Save">
                        </div>
                   
                </form> 
                </div>
            </div>
        </div>
    <script src="{% static 'js/profile_dropdown.js' %}"></script>

    <script src="{% static 'js/edit-button.js' %}"></script>

    <script src="{% static 'js/change-profile.js' %}"></script>

    <script src="{% static 'js/exit-button.js' %}"></script>
{% endblock content %}