{% extends 'base.html'%}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/addJobs.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
<style type="text/css">
	.next-none::placeholder{
		color:gray;
	}
	@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500&display=swap');
	body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Spline Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-add-a-job {
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    font-size: 18px;
    align-items: center;
    max-width: none;
    position: relative;
    margin: 20px 40px 20px 40px;

}

.register-form {
    width: 450px;
}

input::placeholder {
    color: black;
}

input, .select-options-input{
    border: 0.5px solid #9E9E9E;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.select-options-input {
    color: black;
}
.margin-left {
    margin-left: 10px;
}
.margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #9E9E9E;
    margin-left: 10px;
}
h1 {
    color: #1877F2;
    font-size: 40px;
    font-weight: 400;
    color: #1877F2;
    margin: auto;
    text-align: center;
}

.sel{
    border-radius: 40px;
    border: 0.5px solid #9E9E9E;
    background-color: white;
    /*width: 600px;*/
}

.mid{
    text-align: center;
    margin: 0;
}
.title-font-size {
    font-size: 40px;
}
.under-title-font-size {
    font-size: 20px;
    margin-top: 10px;
}
.form-group {
    margin: 0;
}	
.submit-button, .back-button {
    margin-top: 40px;
    border-radius: 30px;
    padding: 8px 35px;
    background-color: #1877F2;
    font-size: 18px;
}
.submit-button {
    background-color: #1877F2;
    color: white;
}
.back-button {
    background-color: white;
    color: #1877F2;
    border: 1px solid #1877F2;
}
.submit-button:hover, .back-button:hover {
filter: brightness(0.95);
}
.upload-file-div {
    border: 0.5px solid #9E9E9E;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    background-color: #1877F2;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: white;
    border: none;
}

.navbar-brand {
    padding: 0;
}

.modal-bg {
    width: 100%;
    height: 100%;
    position: relative;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: none;
}

.content {
    text-align: center;
    background-color: white;
    padding: 30px 40px 40px 40px;
    border-radius: 40px;
    box-sizing: border-box;
    position: absolute;
    /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.sign-up-pop-up-paragraph {
    margin: 0;
    margin-top: 40px;
    color: #858585;
    font-size: 18px;
}
.sign-up-pop-up-button {
    margin-top: 40px;
    background-color: #858585;
    color: white;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 30px;
}
.company-name {
    color: black;
}
.upload>input[type="file"] {
}
.dropdown {
    position: absolute;
}
.dropdown-content-text {
    text-decoration: none;
    color: gray;
}
.logo-label {
    width: 100%;
    margin-bottom: 0;
}
.input-form {
display: flex;
flex-direction: row-reverse;
align-items: center;
position: relative;
}

.icon {
    position: absolute;
    left: 10px;
    height: 22px;
    width: 22px;
    border-radius: 4px;
}

.under-main-modal-bg {
display: none;
margin: 20px 40px 20px 40px; 
padding: 40px; 
background-color: white; 
border-radius: 40px;
}
.submit-button, .back-button {
margin-top: 40px;
border-radius: 30px;
padding: 8px 35px;
background-color: #1877F2;
font-size: 18px;
cursor: pointer;
}
.submit-button {
background-color: #1877F2;
color: white;
border: none;
}
.back-button {
background-color: white;
color: #1877F2;
border: 1px solid #1877F2;
}
.submit-button:hover, .back-button:hover {
filter: brightness(0.95);
}
.imgs-over-textarea {
display: flex; 
width: calc(100% - 120px);
margin: auto;
}
.scroll {
width: calc(100% - 120px);
margin-left: 40px;
margin-right: 40px;
height: 400px; 
background-color: white; 
border-radius: 40px;
resize: none; 
border: 1px solid #9E9E9E; 
font-size: 18px; 
color: #757575; 
padding: 20px;
margin: auto;
outline: none;  
margin-top: 20px;
overflow-y: scroll !important;
}
.textarea-imgs {
display: flex;
flex-direction: column;
}
.margin-top-job-title {
padding-top: 30px;
}
.back-submit-buttons {
width: 450px;
display: flex;
justify-content: space-between;
margin: auto;
}
.back-button-description {
color: #1877F2;
}
.title-job-description {
padding-bottom: 40px; 
text-align: center; 
font-size: 40px;
}

.custom-select:focus {
  box-shadow: none !important;
}

input:focus, select:focus
	{
	    outline: none !important;
	}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .container-add-a-job {
        margin: 30px;
    }
    .imgs-over-textarea {
        width: calc(100% - 90px);
    }
    .scroll {
        width: calc(100% - 90px);
    }
    .back-submit-buttons {
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin: auto;

    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    .container-add-a-job {
        margin: 20px;
        height: auto;
    }
    .imgs-over-textarea {
        width: 100%;
    }
    .scroll {                     
        width: 100%;
    }
    .back-submit-buttons {
        width: 350px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}
@media screen and (max-width: 480px) {
    .container-add-a-job {
        margin: 10px;
        padding: 20px;
        height: auto;
    }
    .register-form {
        width: 100%;
    }
    .scroll {
        width: 100%;
        height: 300px;
    }
    .imgs-over-textarea {
        width: 100%;
    }
    .title-font-size {
        font-size: 30px;
    }
    img {
        height: 40px;
    }
    .first-form-group {
         /* margin-top ne llaptop: 10px 
                                        +
                             margin-top ne mobile: 10px
                                         =
                                        20px */								 
    }
    input {
    }
.back-submit-buttons {
    display: flex;
    justify-content: space-between;
}
.back-button-description {
    margin-right: 0;
}
.submit-button-description {
    margin-right: 0;
}
.back-submit-buttons {
    width: 100%;
}
.title-job-description {
    font-size: 30px;
    margin-top: 0;
}
}


@media screen and (max-width: 767px) and (min-width: 481px) {
    .container-add-a-job {
        margin: 20px;
        padding: 30px;
        height: auto;
    }
}
@media screen and (max-width: 480px) {
    .container-add-a-job {
        margin: 10px;
        padding: 20px;
        height: auto;
    }
    .title-font-size {
        font-size: 30px;
    }
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    img {
        height: 40px;
    }
    .first-form-group {
        margin-top: 10px; /* margin-top ne llaptop: 10px 
                                        +
                             margin-top ne mobile: 10px
                                         =
                                        20px */								 
    }
	.parent_container {
				height: 100%;
				width: 100%;
				position: absolute;
				padding-bottom: 20px !important;
			}

		.container-add-a-job {
			margin: 10px;
			padding: 20px;
			height: 100%;
			border-radius: 20px;
		}
		.register-form {
			width: 100%;
			height: 100%;
			overflow-y: scroll;
		}
		.register-form::-webkit-scrollbar {
			display: none;
		}
		.scroll {
			width: 100%;
			height: 300px;
		}
		.imgs-over-textarea {
			width: 100%;
		}
		.title-font-size {
			font-size: 30px;
		}
		img {
			height: 40px;
		}
		.first-form-group {
			 /* margin-top ne llaptop: 10px 
											+
								 margin-top ne mobile: 10px
								 			=
											20px */								 
		}
		input {
		}
    .back-submit-buttons {
		display: flex;
		justify-content: space-between;
    }
	.back-button-description {
		margin-right: 0;
	}
	.submit-button-description {
		margin-right: 0;
	}
	.back-submit-buttons {
		width: 100%;
	}
	.title-job-description {
		font-size: 30px;
		margin-top: 0;
	}
	input::placeholder, .male-sex, .female-sex {
		font-size: 16px;
	}
	.margin-top-bottom {
		font-size: 14px;
	}
	input, .padding-of-inputs, .back-button, .next-button, .submit-button {
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 16px;
	}
	.back-button, .next-button, .submit-button {
		padding-right: 30px;
		padding-left: 30px;
	}

	.back-and-next-buttons, .back-submit-buttons {
	margin-top: -10px;
}
	.title-job-description {
		font-size: 30px !important;
		margin-top: 10px;
		margin-bottom: -10px;
	}
	.bold-font-button {
		height: 16px !important;
	}
	.imgs-over-textarea {
		margin-bottom: -10px;
	}
}


    </style>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
<div class="parent_container">
<div class="container-add-a-job">
        <form class="register-form" id="form-id" method="post" action="{% url  'addJob'%}" enctype="multipart/form-data">
			{% csrf_token %}
		    <div class="inside-the-container" style="">
            <h1 class="next-none mid title-font-size f-title">Got an open spot?</h1>
            <h1 class="next-none mid title-font-size f-title">Post your job here!</h1>
      		<div class="form-group first-form-group">
            <label class="disabled margin-top-bottom next-none margin-top-job-title">Job title</label>
            {{form.job_title}}
				<label class="margin-top-bottom margin-left " id="JtitleErr" style="display: none;color:red;">This field is required</label>
      		</div>
      		<div class="form-group" style="margin: 0;">
          <label class="margin-top-bottom next-none">Company
          </label>
				{{form.company}}
				<label class="margin-top-bottom margin-left " id="CompErr" style="display: none;color:red;">This field is required</label>

      		</div>
      		<div class="form-group">
      				<label class="margin-top-bottom margin-left next-none">Country</label>
				<div>
					{{form.country_j}}
					<label class="margin-top-bottom margin-left " id="CountryErr" style="display: none;color:red;">This field is required</label>

					<datalist id="country_jList">
						{% for  i in country_j %}
						<option>{{i}}</option>
						{% endfor %}
					</datalist>
				</div>
      		  </div>

      		 <div class="form-group" style="margin: 0;">
      		 	<label class="margin-top-bottom margin-left next-none">City</label>
				 {{form.city_j}}
				 <label class="margin-top-bottom margin-left " id="CityErr" style="display: none;color:red;">This field is required</label>

				 <datalist id="city_jlist">
					{% for i in city_j%}
					<option>{{i.name}}</option>
					{% endfor %}
				 </datalist>
      	</div>
      		<div class="form-group" style="margin: 0;">
      			<label class="margin-top-bottom margin-left next-none">Salary per hour</label>
				{{form.salary_per_hour}}
				<label class="margin-top-bottom margin-left " id="SalErr" style="display: none;color:red;">This field is required</label>

      		</div>
      		<div class="form-group" style="margin: 0;">
      		    <label class="margin-top-bottom margin-left next-none" for="exampleFormControlSelect2">Type of work</label>
				  <select name="type_of_work" class="next-none" required="" id="id_type_of_work" onchange="checkForm()">
					<option value=""></option>
				  
					<option value="Full Time">Full Time</option>
				  
					<option value="Part Time">Part Time</option>
				  
				  </select>
				<label class="margin-top-bottom margin-left " id="TypeErr" style="display: none;color:red;">This field is required</label>

			</div>
            <div class="form-group" style="margin: 0;">
      			<label class="margin-top-bottom margin-left next-none">Hours per week</label>
				<input type="number" name="hour_per_work" placeholder="0" onchange="checkForm()" class="name-input mutual-stats font-fam next-none" required="" id="id_hour_per_work">

				<label class="margin-top-bottom margin-left " id="HourErr" style="display: none;color:red;">This field is required</label>

			</div>
              <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom margin-left next-none">Start date </label>
                <input id="id_start_date" class="next-none" name="start_date" onchange="checkForm();checkStartDate();"  type="tel" maxlength="10" placeholder="dd/mm/yyyy" required="" oninput="this.value = MMDDYYYY(this.value, event)" />
                <label class="margin-top-bottom margin-left " id="sdateError" style="display: none;color:red;">Date not valid</label>
				<label class="margin-top-bottom margin-left" id="SDErr" style="display: none;color:red;">This field is required</label>

            </div>
            <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom margin-left next-none">End date </label>
                <input id="id_end_date" class="next-none" name="end_date"  onchange="checkForm();checkEndDate();" type="tel" maxlength="10" placeholder="dd/mm/yyyy" required="" oninput="this.value = MMDDYYYY(this.value, event)" />
                <label class="margin-top-bottom margin-left " id="edateError" style="display: none;color:red;">Date not valid</label>
				<label class="margin-top-bottom margin-left " id="EdErr" style="display: none;color:red;">This field is required</label>

            </div>
      		  <div class="form-group" style="margin: 0;">
      		    <label class="margin-top-bottom margin-left next-none" for="exampleFormControlSelect2">Housing</label>
				  <select name="housing" class="next-none" required="" onchange="checkForm()" id="id_housing">
					<option value="" selected=""></option>
				  
					<option value="Provided">Provided</option>
					<option value="Not provided">Not provided</option>
				  
				  </select>
				  <label class="margin-top-bottom margin-left " id="HousingErr" style="display: none;color:red;">This field is required</label>

			  </div>
            <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom margin-left next-none">Housing cost per week</label>
				{{form.housing_cost_per_week}}
				<label class="margin-top-bottom margin-left " id="HousingCoErr" style="display: none;color:red;">This field is required</label>


            </div>
      		  <div class="form-group">
      		    <label class="margin-top-bottom margin-left next-none" for="exampleFormControlSelect2">Program</label>
      		    <select name="program" class="next-none" onchange="checkForm()" required="" id="id_program">
					<option value=""></option>
					<option value="Ausbildung">Ausbildung</option>
				  
					<option value="Internship">Internship</option>
				  
					<option value="Trainee">Trainee</option>
				  
					<option value="Work and Travel">Work and Travel</option>
				  
				  </select>
				  <label class="margin-top-bottom margin-left " id="ProgErr" style="display: none;color:red;">This field is required</label>

			  </div>
              <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom margin-left next-none">Program Cost</label>
				  {{form.programCost}}
				  <label class="margin-top-bottom margin-left " id="ProgCoErr" style="display: none;color:red;">This field is required</label>

            </div>
            <div class="margin-top-bottom margin-left-bottom next-none" >Logo</div>
            <div class="form-group upload next-none" style="margin: 0;">
                <label class="logo-label" for="id_logo" style="">
				<div class="input-form">
                	<div style="cursor: pointer; display: flex; align-items: center;" class="upload-file-div" id="logos_id"><img style="vertical-align: middle; margin-left: 5px;" class="icon" src="{% static 'img/gallery-upload.png'%}" alt=""><div style="margin-left: 37px;">Upload your file</div></div>
				</div>
                </label>
				<input type="file" name="logo" accept="image/*" onchange="checkForm()" required="" id="id_logo"  style="display:none;">
				<label class="margin-top-bottom margin-left " id="ImgErr" style="display: none;color:red;">This field is required</label>

            </div>
            <div style="width: 100%; display: flex; justify-content: space-between;">
            <a href="{% url 'postedJob'%}"  class="btn back-button next-none" style="color: #1877F2;">Back</a>
            <a style="color:white" class="btn submit-button next-button next-none" onclick="checkFormButton()" style="color: white;">Next</a>
            </div>
		</div>
		<div class="second-next-none" style="display: none; color: #1877F2; padding-bottom: 40px; text-align: center; font-size:40px;">
			Job Description
		</div>
		<div class="textarea-imgs" style="">
		<div class="imgs-over-textarea" style="">
			<img class="second-next-none" title="Bold" class="bold-font-button" style="display: none; height: 20px; margin-right: 20px; cursor: pointer;" src="{% static 'img/B .png'%}" alt="">
			<img class="second-next-none" style="display: none; height: 20px;" src="{% static 'img/bullets 1.png'%}" alt="">
		</div>
		{{form.description}}
			<div style="display:none;">
						{{form.status}}
						{{form.postDate}}
						{{form.approved}}
						{{form.user_id}}
						{{form.applicant}}
					</div>
		</div>
		<div class="back-submit-buttons" style="">
			<a class="back-button back-button-description second-next-none" style="display: none; color: #1877F2;">Back</a>
			<a id="sub" style="display: none; color: white;text-decoration: none;"  onclick="clickAndDisable(this);Post();" class="submit-button submit-button-description second-next-none"> Submit</a>
		</div>
    </form>
	</div>
</div>
<script>
   function clickAndDisable(link) {
     link.onclick = function(event) {
        event.preventDefault();
     }
   }
</script>

	<script>
		function MMDDYYYY(value, event) {
		  let newValue = value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');
		
		  const dayOrMonth = (index) => index % 2 === 1 && index < 4;
		
		  // on delete key.  
		  if (!event.data) {
			return value;
		  }
		
		  return newValue.split('').map((v, i) => dayOrMonth(i) ? v + '/' : v).join('');;
		  
		  ducument.getElementById("test").innerHTML(newValue)
		}
		
		</script>
	<script>
		function Post(){
			var textareaText = $('#myTextArea').val();
			var test = textareaText.replace(/\r?\n/g, '<br />');
			var x = document.getElementById('myTextArea');
            x.value = test;
			document.getElementById('form-id').submit();
		}
        
    </script>
	<script type="text/javascript">
		var dropdown = document.querySelectorAll(".dropdown");
		var work_and_travel_dropdown = document.querySelectorAll(".dropdown-work-and-travel");
		var profile = document.querySelectorAll("#profile-image-button");
		var work_and_travel_button = document.querySelectorAll('.button-work-and-travel');
		var mutual_button_div = document.querySelectorAll('.mutual-padding-of-div');
		var jobs_buttons_icon = document.querySelectorAll('.icon');
		var jobs_buttons_white_icon = document.querySelectorAll('.white-icon')
		var show_dropdown = document.querySelectorAll('.showDropdown');
		var button_content = document.querySelectorAll('.button-content');
		for (let i = 0; i < dropdown.length; i++) {
			profile[i].addEventListener("click", function () {
				if (dropdown[i].style.display == "block") {
					dropdown[i].style.display = "none";
				}
				else {
					dropdown[i].style.display = "block";
				}
			})
			document.addEventListener('click', function (e) {
				if (!dropdown[i].contains(e.target) && !profile[i].contains(e.target)) {
					dropdown[i].style.display = 'none';
				}
			});
	
		}
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="{% static 'js/second-next.js'%}"></script>
<script src="{% static 'js/CheckForm.js'%}"></script>
<script src="{% static 'js/back-job-description.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



{% endblock content%}