{% extends 'base.html'%}
{% load static %}
{% block content %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Jobs</title>
<link rel="stylesheet" href="{% static 'css/authenticated.css'%}">
<link rel="stylesheet" href="{% static 'css/jobs.css'%}">
<link rel="stylesheet" href="{% static 'css/profile-header.css'%}">
<link rel="stylesheet" href="{% static 'css/posted-jobs-media-queries.css'%}">

<div class="jobs-buttons">
    <div class="mutual-padding-of-div plus-div">

        <a href="{% url 'addJob'%}"><img title="Add a Job" class="plus-icon-jobs" src="{% static 'img/add.png'%}"
                alt=""></a>
    </div>
    <div class="mutual-padding-of-div">
        <input name="submit" type="submit" class="posted-button-posted-jobs" value="Applied"
            onClick="location.href ='{% url 'appliedJob' %}'">


    </div>
    <div class="mutual-padding-of-div">
        <input name="submit" type="submit" class="applied-button-posted-jobs " value="Posted"
            onClick="location.href ='{% url 'postedJob' %}'">
    </div>
</div>
{% if check %}

<div class="jobs-main-div" style="display: flex; justify-content: space-between; width: 100%;">
    <div class="jobs-left applied-jobs-left" style="margin-top: 0;">
        {% for i in job %}


        <div onclick="getNumber({{i.job_id.id}})"
            class="jobs-rows-img second-jobs margin-top-jobs-rows-img same-background-jobs pixel first-job-applied" id="select{{i.job_id.id}}">
            <img class="experience-education-img" src="{{i.job_id.logo.url}}" alt="">
            <div class="experience-rows">
                <div class="experience-first-row">{{i.job_id.job_title}}</div>
                <div class="experience-second-row">{{i.job_id.company}}</div>
                <div class="experience-third-row">{{i.job_id.city_j}}, {{i.job_id.country_j}}</div>
                <div class="experience-fourth-row">{{i.job_id.program}}</div>

            </div>
        </div>
        <div class="move"></div>




        {% endfor %}


    </div>
    <div class="right-jobs-main-div">
        <div class="right-jobs" id="detailsRow" style="display:none;flex-direction: column;">

        <div class="right-jobs-rows-img" style="padding: 3; margin-left: 10px; background-color: white;">
                    <div class="experience-rows" style="">
                        <img class="exit-job-description" title="Exit" style="float: left; cursor: pointer;"
                            src="{% static 'img/Vector 81 (1).png'%}" alt="">
                        <div class="first-row-jobs mobile-title-font-size" id="job_title"></div>
                        <div class="second-row-jobs mobile-under-title-font-size">
                            <span id="salary"></span>
                            <span style="color: #858585;">
                                &nbsp;·&nbsp;
                            <span id="totsalary" style="color:#00AA11;" ></span>&nbsp;&nbsp;·&nbsp;
                            <span id="countApplicant"></span></span></div>

                        <div style="" class="jobs-third-row mobile-rows-font-size"><span id="company"></span></div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size  jobs-mutual-margin-rows"><span id="city"></span></div>
                        <div  class="experience-fourth-row mobile-rows-font-size  jobs-mutual-margin-rows">
                            <span id="typeOfWork"></span>&nbsp;·&nbsp;
                            <span id="hourPerWork"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows" id="sDate"></div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span id="housing"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="housingCost"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span id="program"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="programCost"></span>
                        </div>
                        
                    </div>
                </div>
                <div class="right-jobs-rows-img-second">
                    <div class="experience-rows">
                        <span id="message" ></span>
                </div>
            </div>
    </div>
    

</div>
{% else %}
<div class="experience-first-row NoResult">You haven't applied for any job</div>


{% endif %}
<script type="text/javascript" src="{% static 'js/Ajax/applied-jobs-ajax.js'%}"></script>
<script type="text/javascript" src="{% static 'js/dropdown-jobs.js'%}"></script>
<script type="text/javascript">
    var dropdown = document.querySelectorAll(".dropdown");
    var work_and_travel_dropdown = document.querySelectorAll(".dropdown-work-and-travel");
    var profile = document.querySelectorAll("#profile-image-button");
    var work_and_travel_button = document.querySelectorAll('.button-work-and-travel');
    var mutual_button_div = document.querySelectorAll('.mutual-padding-of-div');
    var jobs_buttons_icon = document.querySelectorAll('.icon')
    var jobs_buttons_white_icon = document.querySelectorAll('.white-icon')
    var show_dropdown = document.querySelectorAll('.showDropdown');
    var button_content = document.querySelectorAll('.button-content');
    for (let i = 0; i < dropdown.length; i++) {
        profile[i].addEventListener("click", function () {
            if (dropdown[i].style.display == "block") {
                dropdown[i].style.display = "none";
            }
            else {
                dropdown[i].style.display = "block";
            }
        })
        document.addEventListener('click', function (e) {
            if (!dropdown[i].contains(e.target) && !profile[i].contains(e.target)) {
                dropdown[i].style.display = 'none';
            }
        });

    }
</script>

<!-- <script src="{% static 'js/main.js'%}"></script>-->
<script src="{% static 'js/jobs-img.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="{% static 'js/exit-job-description-button.js'%}"></script>



{% endblock content%}