{% extends 'base.html'%}
{% load static %}
{% block content %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Jobs</title>


<style>


/* /* :root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

 .wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.apply-button-description {
    display: inline-block;
    text-align: center;
    background: #1877F2;
    color: white;
    line-height: 1;
    border-radius: 40px;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.apply-button-description:before,
.apply-button-description:after {
    width: 2em;
    height: 1em;
    position: absolute;
    content: "";
    background: #1877F2;
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.apply-button-description:before {
    top: -25%;
    left: 20%;
}

.apply-button-description:after {
    bottom: -25%;
    right: 20%;
}

.apply-button-description:hover:before,
.apply-button-description:hover:after {
    transform: none;
} */

/* .apply-button-description::after {
    background-color: yellow;
    z-index: -1;
} */

 /* .apply-button-description:hover::after {
    transform: translate(0, 0);
} */
/* .apply-button-description {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: yellow;
  font-family: roboto;
  font-size: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
  apply-button-description::after {
    background-color: yellow;
    border-radius: 3rem;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    z-index: -1;
}*/
  .apply-button-description:hover::after {
        transform: translate(0, 0);
    }
  .apply-button-description:hover {
    transform: rotate(10deg);
    transition: .2s transform ease-in-out;
    will-change: transform;
    transform: scale(1.08);
    transform-origin: top left;
}
</style>
<div class="jobs-buttons">
    <div class="mutual-padding-of-div plus-div">

        <a href="{% url 'addJob'%}"><img title="Add a Job" class="plus-icon-jobs" src="{% static 'img/add.png'%}"
                alt=""></a>
    </div>

    <div class="mutual-padding-of-div">
        <input name="submit" type="submit" class="applied-button-posted-jobs" value="Posted"
            onClick="location.href ='{% url 'postedJob' %}'">
    </div>
</div>

{% if check %}
<div class="jobs-main-div" style="display: flex; justify-content: space-between; width: 100%;">

    <div class="jobs-left applied-jobs-left" style="margin-top: 0;height:auto !important;">
        {% for i in job %}

        <div onclick="getNumber({{i.id}})" class="jobs-rows-img second-jobs pixel" id="select{{i.id}}">
                <img class="experience-education-img" src="{{i.logo.url}}" alt="">
                <div class="experience-rows">
                    <div class="first-row-and-edit-img">
                        <div class="experience-first-row">{{i.job_title}}</div>
                        <div style="display: flex; flex-direction: column;">
                        <a onclick="testApp({{i.id}})"><img class="edit-job-button" title="Edit Job" style="z-index: 2;" src="{% static 'img/Ikona_edit-01 56.png'%}" alt=""></a>
                                <div class="edit_dropdown" id="edit_dropdown{{i.id}}" style="right: 30px;display:none;">
                                    <div class="dropdown-content"><a href="{% url 'editJob' i.id%}" class="dropdown-content-text">Edit Job</a></div>
                                    {% if i.status == "Open" %}
                                    <div class="dropdown-mid-content"><a href="{% url 'closeJob' i.id%}" class="dropdown-content-text">Close Job</a></div>
                                    {% else %}
                                    <div class="dropdown-mid-content"><a href="{% url 'openJob' i.id%}" class="dropdown-content-text">Open Job</a></div>

                                    {% endif %}
                                    <div style="margin-left: 20px; margin-right: 20px;" class="third-dropdown-content"><a href="{% url 'applicant' i.id %}" class="dropdown-content-text">View Applicants </a></div>
                                </div>
                        </div>
                    </div>
                    <div class="experience-second-row">{{i.company}}</div>
                    <div class="experience-third-row">{{i.city_j}}, {{i.country_j}}</div>
                    <div class="experience-fourth-row">{{i.total_applicant}} applicants · {{i.status}}</div>
                </div>
            </div>
            <div class="move"></div>
        {% endfor %}


    </div>
    <div class="right-jobs-main-div">
        <div class="right-jobs" id="detailsRow" style="display:none;flex-direction: column;">

        <div class="right-jobs-rows-img" style="padding: 3; margin-left: 10px; background-color: white;">
                    <div class="experience-rows" style="">
                        <img class="exit-job-description" title="Exit" style="float: left; cursor: pointer;"
                            src="{% static 'img/Vector 81 (1).png'%}" alt="">
                        <div class="first-row-jobs mobile-title-font-size" id="job_title"></div>
                        <div class="second-row-jobs mobile-under-title-font-size">
                            <span id="salary"></span>
                            <span style="color: #858585;">
                                &nbsp;·&nbsp;
                            <span id="totsalary" style="color:#00AA11;" ></span>&nbsp;&nbsp;·&nbsp;
                            <span id="countApplicant"></span></span></div>

                        <div style="" class="jobs-third-row mobile-rows-font-size"><span id="company"></span></div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size  jobs-mutual-margin-rows"><span id="city"></span></div>
                        <div  class="experience-fourth-row mobile-rows-font-size  jobs-mutual-margin-rows">
                            <span id="typeOfWork"></span>&nbsp;·&nbsp;
                            <span id="hourPerWork"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows" id="sDate"></div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span id="housing"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="housingCost"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span id="program"></span>&nbsp;&nbsp;·&nbsp;&nbsp;<span id="programCost"></span>
                        </div>
                        <div style="" class="experience-fourth-row mobile-rows-font-size jobs-mutual-margin-rows">
                            <span >Posted on</span>&nbsp;&nbsp;<span id="pos"></span>
                        </div>
                        
                    </div>
                </div>
                <div class="right-jobs-rows-img-second">
                    <div class="experience-rows">
                        <span id="message" ></span>
                </div>
            </div>
    </div>
    </div>
    </div>
<script>
    function testApp(id){


        var divID = "edit_dropdown"+id;
        const el = document.getElementById(divID);

        if(el.style.display == "block"){
            el.style.display = "none";
        }else{
            var divsToHide = document.getElementsByClassName("edit_dropdown"); //divsToHide is an array
            for(var i = 0; i < divsToHide.length; i++){

                divsToHide[i].style.display = "none"; // depending on what you're doing
            }
            el.style.display = "block";

        }


    }
</script>

    <script src="{% static 'js/Ajax/posted-jobs-ajax.js'%}"></script>
    <script src="{% static 'js/profile_dropdown.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{% static  'js/exit-job-description-button.js'%}"></script>
    <script src="{% static 'js/profile_dropdown_2.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/edit-job-dropdown.js'%}"></script>
<script>


    $(".jobs-rows-img a").click(function (e) {
        // Do something
        e.stopPropagation();
    });

</script>

    {% else %}

<div class="experience-first-row NoResult" >You haven’t posted any job</div>



    {% endif %}




    {% endblock content%}