
textarea {
    height:auto;
    resize: none;
    border:none;
    width:85%;
    background-color: white;
    font-size: 18px;
    color: #757575;
    overflow: scroll;
    font-family: 'Spline Sans', sans-serif;
    padding: 5px;
    box-sizing: border-box;
}
.scroll::-webkit-scrollbar { width: 0 !important }
.scroll { overflow: -moz-scrollbars-none; }
.scroll { -ms-overflow-style: none; }
.jobs-buttons {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 40px;
}
.mutual-padding-of-div {
    padding-right: 20px;
}
/* .move {
    margin-top: 20px;s
}                                                                         */
.jobs-rows-img {
    cursor: pointer;
}
.applied-button-jobs, .applied-button-posted-jobs {
    border: solid  1.2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.apply-button-description {
    height: 36px;
}
.right-jobs-main-div {
    width: 50%;
}
.applied-button-jobs, .posted-button-posted-jobs {
    color: white;
    background-color: #1877F2;
    border: none;
    z-index: 0;
}
.apply-button-description {
    margin-top: 10px;
}
.posted-button-jobs, .applied-button-posted-jobs {
    color: #65676B;
    background-color: white;
}
.plus-jobs-posted {
    padding-left: 0px;
    padding-right: 0px;
    width: 36px;
    font-size: 28px;
}
.applied-button-posted-jobs {
    border: none;
}
.outline-none:focus {
    outline: none;
}
.first-button-plus-jobs {
    padding-right: 20px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.different-background-jobs-button {
    background-color: #1877F2;
}
.posted-button-jobs, .posted-button-posted-jobs {
    border: solid  1.2px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    padding: 8px 30px 8px 30px;
    border: none;
}
.jobs-left, .right-jobs {
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 86vh;
}
.right-jobs {
    flex-direction: column;
}
.plus-icon-jobs {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
}
.jobs-left::-webkit-scrollbar {
    display: none;
}
.right-jobs::-webkit-scrollbar {
    display: none;
}
.jobs-left-content {
}
.edit-job-button {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.first-row-and-edit-img {
    display: flex;
}
.edit-job-button-different-margin {
}
.exit-job-description {
    margin-bottom: 50px;
    display: none;
    width: 8px;
    height: 8px;
}
.first-row-jobs, .first-row-second-div {
    color: #131419;
    padding-bottom: 10px;
}
.first-row-jobs {
    font-size: 24px;
}
.first-row-second-div {
    font-size: 24px;
}
.second-row-jobs {
    font-size: 20px;
    color: #1877F2;
}
.second-row-second-div, .second-div-second-paragraph {
    font-size: 20px;
    color: #858585;
    line-height: 35px;
}
.jobs-rows-img {
    padding: 30px;
    background-color: white;
    position: relative;
}
.move {
    margin-top: 20px;
}
.right-jobs-rows-img {
    font-size: 20px;
    padding: 30px;
}
.right-jobs-rows-img-second {
    padding: 30px;
    margin-left: 10px;
    background-color: white;
    margin-top: 20px;
}
.text-decoration-none {
    text-decoration: none;
}
.same-background-jobs {
    background-color: white;
}
.different-background-jobs {
    background-color: #E7F1FE;
}
.jobs-third-row {
    font-size: 20px;
    color: #858585;
}
.jobs-third-row, .first-row-jobs-third-row-second-div {
    margin-top: 50px;
}
.jobs-third-row-second-div {
    font-size: 20px;
}
.first-row-jobs-third-row-second-div {
    color: #131419;
}
.jobs-mutual-margin-rows {
    margin-top: 25px;
}
.first-paragraph-second-div, .second-div-second-paragraph {
    line-height: 35px;
}
.here-link {
    color: #1877F2;
    text-decoration-color: #1877F2;
}
.second-part {
    height: 400px;
    overflow-y: scroll;
}
.second-part::-webkit-scrollbar {
    display: none;
}
.jobs-left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 50%;
    z-index: 0;
}
body {
    -webkit-tap-highlight-color: transparent;
}
.last-selectOptions {
}
#mySelectOptions {

}
.last-selectOptions::-webkit-scrollbar {
}
        .jobs-buttons {
            /* position: relative; */
        }
        .form-group {}
        .multiselect {}
        .container-fluid {}
        .selectBox {}
        .selectBox select {}
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        #mySelectOptions::-webkit-scrollbar {
            display: none;
        }
        #mySelectOptions label {
            display: block;
            font-weight: normal;
            white-space: nowrap;
            min-height: 1.2em;
            background-color: #ffffff00;
            padding: 0px 20px;
            /* padding: .375rem 2.25rem .375rem .75rem; */
        }
        #mySelectOptions label:hover {}
        .search-input::placeholder {
            color: #b1b2b8;
            font-size: 18px;
        }
        .container-fluid {
            border: none;
        }
        .buttons-form {}
        .search-input {
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 20px;
            border: none;
            padding-left: 20px;
            font-size: 18px;
            margin-right: 10px;
            color: #65676B;
            outline: none;
            width: 198px;
            padding-right: 39px;
        }
        .search-input {
            transition: all 0.5s ease-in-out;
            display: none;
        }
        #mySelectOptions {
            border-bottom-left-radius: 16px;
            border-top-left-radius: 16px;
            border: none;
            box-sizing: border-box;
            cursor: auto;
            /* transition: all 0.5s ease-in-out; */
            -webkit-box-shadow: 0 0 5px #e7e7e7;
            box-shadow: 0 0 5px #e5e2e2;
            position: absolute;
            display: none;
            background-color: #ffffff;
            max-height: 140px;
            margin-top: 10px;
            overflow-y: scroll !important;
            overflow-x: hidden;
            z-index: 2;
            border-radius: 16px;
        }
        #mySelectOptions::-webkit-scrollbar {
            display: block;
        }
        .labels-stats {
            font-size: 18px;
            color: #65676B;
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 0px;
            padding-right: 0px;
            cursor: pointer;
            display: inline-block;
        }
        .first-label-margin {
        }
        input[type=checkbox] {
            accent-color: white;
            border: none;
            margin-right: 10px;
        }
        .input-form {}
        .scrolling-wrapper {
            overflow-x: auto;
        }
        .scrolling-wrapper::-webkit-scrollbar {
            display: none;
        }
        .card {
            display: inline-block;
            flex: 0 0 auto;
        }
        .scrolling-wrapper-flexbox {
            display: flex;
            flex-wrap: nowrap;
        }
        .main-buttons-div {
            position: relative;
        }
        .last-input-form {
            margin-right: 40px;
        }
        .form-select {
            font-size: 18px;
        }
        .input-form, .second-input-form {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            outline: none;
            align-items: center;
        }

        .inputs-right-margin, .last-input-form {
        }

        .main-buttons-div {
        }
        select {
        }

        .icon, .white-icon, .input-exit-button {
            position: absolute;
            right: 10px;
        }
        .input-exit-button {
            width: 12px !important;
            height: 12px !important;
            color: white;
            cursor: pointer;
            margin-right: 20px;
            padding: 5px !important;
            /* background-color: #1877F2 !important; */
        }
        .inputs-right-margin {
            margin-right: 20px;
        }
        .second-input-form {
            margin-right: -20px;
        }
        @media screen and (max-width: 480px) {
            .jobs-left {
                height: calc(100% - 120px);
                position: absolute;
            }
            .inputs-right-margin {
                margin-right: 10px;
            }
            .main-buttons-div {
                margin-top: -10px;
                margin-bottom: -10px;
            }
            .outline-none {
                padding-top: 8px !important;
                padding-bottom: 8px !important;
            }

                select  {
                    font-size: 16px !important;
                }
                .first-input-option {
                }
                .search-input::placeholder {
                    font-size: 16px;
                }
                .search-input {
                    width: 175px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                }
                .inputs-right-margin {
                }
                .second-input-form {
                    margin-right: -10px;
                }
                .input-exit-button {
                    width: 11px !important;
                    height: 11px !important;
                    margin-right: 10px;

                }
                .search-icon-jobs {
                    width: 16px;
                    height: 16px;
                }
                .labels-stats {
                    font-size: 16px;
                }
                .right-jobs-rows-img {
                    padding: 20px;
                }
                .right-jobs-rows-img-second {
                    padding: 20px;
                }
                .jobs-rows-img {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-radius: 20px !important;
                }
                .last-selectOptions {
                }
            }


