body {
    background-color: #f1f1f1;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
}



/* .header-border {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 99;
    top: 0;
}

.under-header-wishes {
}

#worki-image {
    margin-left: 40px;
    height: 35px;
    cursor: pointer;
}

#jobs-and-profile {
    float: right;
    display: flex;
    align-items: center;
}

.jobs-icon-button {
    margin-right: 20px;
    height: 36px;
    vertical-align: middle;
}

#profile-image-button {
    margin-right: 40px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 10px;
}

/* .activated:after {
    content: "";
  background-color: #71a6eb;
  display: block;
  opacity: 0;
  transition: all 0.8s;
}

.activated:active:after {
    opacity: 1;
    transition: 0s;
} */

 .dropdown, .dropdown-work-and-travel, .edit_dropdown, .all-applicants-dropdown, .all-my-jobs-dropdown {
    border: none;
    display: none;
    font-size: 18px; 
    background-color: white;   /*display: none = nuk mund te perdoret transition: ... */
    border-radius: 16px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.dropdown, .dropdown-work-and-travel, .edit_dropdown, .all-applicants-dropdown {
    text-align: center;
}
.all-applicants-dropdown {
}
.edit_dropdown {
    border: solid 1.2px #f1f1f1;
}
.edit_dropdown {
    right: 30px;
    top: 60px;
}
.dropdown-work-and-travel {
}
.dropdown-content, .edit-dropdown-content {
    padding: 20px 20px 15px 20px;
}
.dropdown-mid-content, edit.dropdown-mid-content {
    padding-bottom: 15px;
}


#penIc {
    font-weight: 620px;
    font-size: 15px;
    color: #65676B;
    cursor: pointer;
    margin-top: 5px;
    position: absolute;
    right: 10px;
}

#penIc:hover {
    color: black;
}

.newDivs {
    display: "flex";
    flex-direction: column;
    color: #65676B;
    cursor: pointer;
}
.newDivs:hover {
    color: black;
}
.newDivs:hover + .penClass {
    display: block;
}

.all-applicants-dropdown::-webkit-scrollbar {
    display: none;
}

.third-dropdown-content, .edit-third-dropdown-content {
    padding: 15px 0px 20px 0px;
}

.dropdown-content-text:hover {
    color: black;
}

/* .showDropdown{s
    height: auto;
    opacity: 1;
} */

.newInput {
    border-radius: 16px;
    border: none;
}
.newInput::placeholder {
    color: #b1b2b8;
}

.add-subphase-div:hover {
    color: black;
}

.replace-input-div {
    /* border: none;
    background-color: white;
    border-radius: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px; */
}
.all-applicants-under-main-input {
    display: flex;
    
}

.input-form-all-applicants{
    flex-direction: row-reverse;
    position: relative;
    outline: none;
    align-items: center;
}

.newClassDivSubphase::placeholder {
    font-size: 18px;
}

/* .move-phase-button {
    -webkit-box-shadow: 0 0 7px #d1d2d4;
    box-shadow: 0 0 7px #d4d1d1;
    color: white !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

} */
/* .move-phase-button:hover {
     filter: brightness(0.95) !important;

} */

 .move-phase-button {
    filter: blur(0.2px);
}
 

@media screen and (max-width: 1024px) and (min-width: 768px) {
    #worki-image {
        margin-left: 30px;
    }
    #profile-image-button {
        margin-right: 30px;
    }
}

@media screen and (max-width: 767px) and (min-width: 481px) {
    #worki-image {
        margin-left: 20px;
    }
    .jobs-icon-button {
        margin-right: 20px;
    }
    #profile-image-button {
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {
    #worki-image {
        margin-left: 10px;
    }
    .jobs-icon-button {
        margin-right: 20px;
    }
    #profile-image-button {
        margin-right: 10px;
    }
    .dropdown, .edit_dropdown {
        font-size: 16px;
    }
    .edit_dropdown {
        margin-right: -10px;        /* qe i bie margin-right: 20px */
        margin-top: -8px;    /* shenohet margin-top: 8px, sepse height i edit butonit ne mobile eshte height: 22px; keshtu qe per ta arrit margin-top: 10px nga butoni Edit, shenohet margin-top: 8px; */
    }
}