{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_in.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <title>Sign In</title>
</head>
<body>
    <header class="header_border">
        <div class="first_image">
            <img class="worki_image" src="{% static 'img/Worki_Logo.png'%}" title="Worki_Icon">
        </div>
    </header>

    <div class="container">
        <div class="under_container">
            <h1 id="title">Sign in to start</h1>




      <form method="POST" action="" class="two_inputs">
                            {% csrf_token %}

                <input name="username" type="email" class="third_input mutual_width mutual_stats" placeholder="Email" id="id_username"></input>
                <div class="input_form">
                    <input name="password" type="password" id="password" class="fourth_input" placeholder="Password"></input>
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                </div>
                <p class="first_paragraph same_color_of_paragraphs"><a class="password_link" href="{% url 'reset_password'%}">Forgot
                        password?</a></p>
                <div class="btn">
                    <input name="submit" type="submit" class="btn1" value="Sign in">
                </div>
            </form>
<p class="second_paragraph same_color_of_paragraphs">or</p>
            <div class="input_form">
               <a class="fifth_input mutual_stats" href="{% provider_login_url 'google' %}"><div class="">Sign in with Google</div>
               </a>
                <img class="icon" src="{% static 'img/google-01 8.png'%}">
            </div>
            <p class="third_paragraph same_color_of_paragraphs">Not a user? <a class="sign_up_link"
                    href="{% url 'register'%}">Create account</a></p>
        </div>
    </div>

</body>

<script src="{% static 'js/password_icon.js'%}"></script>

</html>
