{% load static %}
{% load socialaccount %}
<head>
    <meta charset="UTF-8">
    {% block metadata %}
    <title>{% block title %}Worki{% endblock %}</title>
      <meta
        name="description"
        content="Welcome to Worki. Find a temporary job abroad. Hire temporary employees abroad."
      />
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://js.stripe.com/v3/"></script>
    {% include "header-links.html" %}
    {% include 'header.html' %}
</head>
<body data-exclude-script="true">
    
    {% block content %}

    {% endblock content%}

</body>
    {% include 'scripts.html' %}

</html> 