{% load static %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RY6JNTZKWQ"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'G-RY6JNTZKWQ');
</script>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    Font Spline Sans-->
   <link href='https://fonts.googleapis.com/css?family=Spline Sans' rel='stylesheet'>
<!--    End of font link-->


  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


   <meta name="viewport" content="width=device-width, initial-scale=1.0">


   <link rel="stylesheet" href="{% static 'GigsCSS/base/header.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/base/filter.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/body.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/jobs-gigs/jobs-web.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/jobs-gigs/jobs-tablet.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/jobs-gigs/jobs-mobile.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/back-next-submit-buttons.css'%}">

   <link rel="stylesheet" href="{% static 'GigsCSS/maps.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/post-a-gig.css'%}">

   

   <!--    Profile links -->

   <link rel="stylesheet" href="{% static 'GigsCSS/Profile/profile-web.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/Profile/profile-mobile.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/Profile/profile-tablet.css'%}">





   <!-- online Links -->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGdAo48zrdXuutzUUc0fVSrWCzi0Kn5OE&libraries=places"></script>