{% load static %}
<!-- Google tag (gtag.js) -->
{{ analytics_code }}
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0YYCLJRQPV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0YYCLJRQPV');
    </script>
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3217621,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    Font Spline Sans-->
   <link href='https://fonts.googleapis.com/css?family=Spline Sans' rel='stylesheet'>
<!--    End of font link-->


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


   <meta name="viewport" content="width=device-width, initial-scale=1.0">


   <link rel="stylesheet" href="{% static 'GigsCSS/base/header.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/base/filter.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/body.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/jobs-gigs/jobs-web.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/jobs-gigs/jobs-tablet.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/jobs-gigs/jobs-mobile.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/back-next-submit-buttons.css'%}">

   <link rel="stylesheet" href="{% static 'GigsCSS/maps.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/post-a-gig.css'%}">

   

   <!--    Profile links -->

   <link rel="stylesheet" href="{% static 'GigsCSS/NewProfile/profile-web.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/NewProfile/profile-mobile.css'%}">
   <link rel="stylesheet" href="{% static 'GigsCSS/NewProfile/profile-tablet.css'%}">





   <!-- online Links -->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGdAo48zrdXuutzUUc0fVSrWCzi0Kn5OE&libraries=places"></script>
