{% extends "base.html"%}
{% load static %}
{% block content %}
<body>
    

    <div class="main-buttons-div">
        <div class="jobs-buttons second-jobs-buttons scrolling-wrapper">
            <form style="display: flex;" class="buttons-form card" method="Get" action="">
                    <div class="visitors-applicants-users" id="second_form_select">{{visitorNo}} visitors
                    </div>
                    <div class="visitors-applicants-users" id="second_form_select">{{appNo}} applicants
                    </div>
                    <div class="visitors-applicants-users" id="second_form_select">{{userNo}} users
                    </div>
                    <div class="visitors-applicants-users" id="second_form_select">{{jobs}} jobs
                    </div>
                    <div class="visitors-applicants-users" id="second_form_select">10,000 visitors
                    </div>
                
                    <div class="visitors-applicants-users" id="second_form_select">10,000 visitors
                    </div>
                    <div class="visitors-applicants-users" id="second_form_select">10,000 visitors
                    </div>
            </form>
        </div>
    </div>


    <div class="landing-page-first-form all-forms-outer-margin form-height-mobile">
        <h1 class="form-margin-bottom first-form-h1" style="text-align: center; font-weight: 100;">All Jobs. One Place</h1>
        <h2 class="form-margin-bottom" style="font-weight: 300;">Worki Global</h2>
        <div class="learn-more-margin-bottom learn-more-div" style="color: #1877f2;">Learn More</div>
        <div class="all-jobs-mockup-div">
        <img class="all-jobs-mockup" src="{% static 'img/landing-page/Mockup.png'%}" alt="">
        </div>
    </div>

    <div class="landing-page-second-form">
        <div class="second-form-left-part forms-border-radius-mobile form-height-mobile">
        <div class="under-form" style="">
            <h2 class="landing-page-second-form-title" style="font-weight: 200;">Pay Transparency</h2>
            <div class="landing-page-second-form-content landing-page-form-content">
                <div style="">You can see everything in<br>Worki including the rate of pay</div>
            </div>
            <div class="pay-transparency-over-main-div">
            <div class="pay-transparency-1-2-main-div" style="">
                <div class="pay-transparency-1-div">
                    <img class="pay-transparency-1" src="{% static 'img/landing-page/pay transparency_1.svg'%}" alt="">
                </div>
                <div class="pay-transparency-2-div">
                    <img class="pay-transparency-2" src="{% static 'img/landing-page/pay transparency_2.svg'%}" alt="">
                </div>
            </div>
            </div>
          </div>
        </div>

        <div class="second-form-right-part forms-border-radius-mobile form-height-mobile" style="">
            <div class="under-form">
            <h2 class="landing-page-second-form-title" style="font-weight: 200;" >Easy Apply</h2>
            <div class="landing-page-second-form-content landing-page-form-content">All you need to do to apply<br>is enter basic information</div>
            <div class="easy-apply-img-div mutual-width-mockup-div" style="">
            <img class="easy-apply-img mutual-width-mockup" style="" src="{% static 'img/landing-page/applymockup 1.png'%}" alt="">
        </div>
        </div>
        </div>
    </div>

    <div class="landing-page-third-form">
        <div class="third-form-left-part forms-border-radius-mobile form-height-mobile" style="">
            <div class="under-form">
            <h2 class="landing-page-second-form-title" style="font-weight: 200;" >Fast Reply</h2>
            <div class="landing-page-second-form-content landing-page-form-content">We make sure to reply within<br>72 hours after you apply</div>
            <div class="fast-reply-img-div mutual-width-mockup-div" style="">
            <img class="fast-reply-img mutual-width-mockup" style="height: max-content;" src="{% static 'img/landing-page/Reply Mockup 1.png'%}" alt="">
        </div>
        </div>
        </div>


        <div class="third-form-right-part forms-border-radius-mobile form-height-mobile">
            <div class="under-form">

            <h2 class="landing-page-second-form-title" style="font-weight: 200;" >Profile</h2>
            <div class="landing-page-second-form-content landing-page-form-content">View every step of the process<br>on your profile and manage it</div>
            <div class="right-profile-img-div">
            <img class="right-profile-img" style="height: max-content;" src="{% static 'img/landing-page/profile_.svg'%}" alt="">
        </div>
    </div>
    </div>

</div>

<div class="landing-page-fourth-form all-forms-outer-margin form-height-mobile">
    <h1 class="form-margin-bottom first-form-h1" style="text-align: center; font-weight: 100; ">Worki gives you superpowers</h1>
    <h2 class="form-margin-bottom" style="font-weight: 300;">Worki Global</h2>
    <div class="learn-more-margin-bottom learn-more-div" style="color: #1877f2;">Learn More</div>
    <img style="" class="lptop-mockup" src="{% static 'img/landing-page/lptp mockup 1.png'%}" alt="">
</div>


<div class="landing-page-fifth-form">
    <div class="fifth-form-left-part forms-border-radius-mobile form-height-mobile" style="">
        <div class="under-form">
        <h2 class="landing-page-second-form-title" style="font-weight: 200;" >Post your Job</h2>
        <div class="landing-page-second-form-content landing-page-form-content">You can post your job<br>and provide the info needed</div>
        <div style="">
        <div class="post-your-job-1-2-main-div" style="">
            <img class="post-your-job-img" src="{% static 'img/landing-page/post your job.svg'%}" alt="">
        </div>
    </div>
    </div>
    </div>


    <div class="fifth-form-right-part forms-border-radius-mobile form-height-mobile" style="">
        <div class="under-form">
        <h2 class="landing-page-fourth-form-title" style="font-weight: 200;" >Generate Applicants</h2>
        <div class="landing-page-second-form-content landing-page-fourth-form-content landing-page-form-content">It will be easier for you to generate<br>applicants with a few clicks</div>
        <div class="generate-applicants-hand-mockup-div">
            <img class="generate-applicants-hand-mockup hand-mockup-mutual-style mutual-width-mockup" style="height: max-content; border-bottom-left-radius: 40px;" src="{% static 'img/landing-page/hand mockup 2 1.png'%}" alt="">
        </div>
    </div>
    </div>

</div>

<div class="landing-page-sixth-form" style="">
    <div class="sixth-form-left-part forms-border-radius-mobile form-height-mobile" style="">
        <div class="under-form">
        <h2 class="landing-page-fourth-form-title" style="font-weight: 200;" >Qualify</h2>
        <div class="landing-page-second-form-content landing-page-fourth-form-content landing-page-form-content">It will be easier for you to generate<br>applicants with a few clicks</div>
        <div class="qualify-hand-mockup-div mutual-width-mockup-div">
            <img class="qualify-hand-mockup hand-mockup-mutual-style mutual-width-mockup" style="height: max-content; border-bottom-right-radius: 40px;" src="{% static 'img/landing-page/new hand mockup 1.png'%}" alt="">
        </div>
        </div>
    </div>

    <div class="sixth-form-right-part forms-border-radius-mobile form-height-mobile" style="">
        <div class="under-form">
        <h2 class="landing-page-sixth-form-title" style="font-weight: 200;">Match</h2>
        <div class="landing-page-sixth-form-content">
            <div class="landing-page-form-content" style="">Match specific jobs for specific<br>qualified applicants</div>
        </div>
        <div class="over-match-1-2-main-div">
        <div class="match-1-2-main-div" style="">
            <div class="match-first-img" style="">
                <img class="match-first-image" src="{% static 'img/landing-page/match_1.svg'%}" alt="">
            </div>
            <div class="match-second-img-div">
                <img class="match-second-image" src="{% static 'img/landing-page/match_2.svg'%}" alt="">
            </div>
        </div>
        </div>
    </div>
    </div>

</div>

<div class="landing-page-seventh-form all-forms-outer-margin form-height-mobile">
    <h1 class="form-margin-bottom seventh-form-h1">Questions? Answers.</h1>
    <div class="sixth-form-questions-div" style="">
        <div class="sixth-form-questions-content sixth-form-content-mutual">
            <div class="seventh-form-question">What is Work and Travel?</div>
            <img class="arrow-down-questions" style="vertical-align: middle; height: fit-content; cursor: pointer;" title="Show the answer" src="{% static 'img/landing-page/arrow-down.png'%}" alt="">
        </div>
        <div class="sixth-form-questions-content sixth-form-content-mutual">
            <div class="seventh-form-question">Do I have to be an active student?</div>
            <img class="arrow-down-questions" style="vertical-align: middle; height: fit-content; cursor: pointer;" title="Show the answer" src="{% static 'img/landing-page/arrow-down.png'%}" alt="">
        </div>
        <div class="sixth-form-questions-content sixth-form-content-mutual">
            <div class="seventh-form-question">How much does the program cost?</div>
            <img class="arrow-down-questions" style="vertical-align: middle; height: fit-content; cursor: pointer;" title="Show the answer" src="{% static 'img/landing-page/arrow-down.png'%}" alt="">
        </div>
        <div class="sixth-form-questions-content sixth-form-content-mutual">
            <div class="seventh-form-question">Can I choose the job?</div>
            <img class="arrow-down-questions" style="vertical-align: middle; height: fit-content; cursor: pointer;" title="Show the answer" src="{% static 'img/landing-page/arrow-down.png'%}" alt="">
        </div>
        <div class="sixth-form-questions-content sixth-form-content-mutual">
            <div class="seventh-form-question">Is the accommodation provided?</div>
            <img class="arrow-down-questions" style="vertical-align: middle; height: fit-content; cursor: pointer;" title="Show the answer" src="{% static 'img/landing-page/arrow-down.png'%}" alt="">
        </div>
        <div class="sixth-form-questions-content">
            <div class="seventh-form-question">What are the criteria?</div>
            <img class="arrow-down-questions" style="vertical-align: middle; height: fit-content; cursor: pointer;" title="Show the answer" src="{% static 'img/landing-page/arrow-down.png'%}" alt="">
        </div>

    </div>
</div>

<div class="landing-page-eighth-form all-forms-outer-margin form-height-mobile">
    <h1 class="form-margin-bottom first-form-h1 partners-h1" style="text-align: center; font-weight: 100; color: #FDFFFF; ">Partners</h1>
    <div class="form-margin-bottom our-partners-div">Our partners are</div>
    <div class="seventh-form-partners-div" style="display: flex; justify-content: center;">
        <div class="seventh-form-partners-under-div" style="">
            <img class="first-partner mutual-partners-style" width="fit-content" src="{% static 'img/landing-page/runtime white.png'%}" alt="">
            <img class="second-partner mutual-partners-style" src="{% static 'img/landing-page/geovisions white.png'%}" style="height: fit-content;" alt="">
            <img class="third-partner mutual-partners-style" src="{% static 'img/landing-page/AHA_Logo white 1.png'%}" alt="">
            <img class="fourth-partner mutual-partners-style" src="{% static 'img/landing-page/united white 1.png'%}" alt="">
            <img class="fifth-partner" src="{% static 'img/landing-page/IEE white 1.png'%}" alt="">
        </div>
    </div>
</div>

</body>
{% endblock content %}