
{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
function OpenJobs() {
  window.location.href = "{% url 'recruiter-open-jobs' %}";
}
function ClosedJobs() {
  window.location.href = "{% url 'recruiter-close-jobs' %}";
}
function MainJobs(){
  window.location.href = "{% url 'recuiter-all-jobs' %}";

}
</script>



<!--header script -->
<script src="{% static 'js/DropDown/profileDropDown.js' %}" ></script>
<script src="{% static 'js/Profile/profile-three-dots.js' %}" ></script>
<script src="{% static 'js/New-Ajax-Js/languages.js' %}" ></script>
<script src="{% static 'js/New-Ajax-Js/add-edit-get-edu-exp-lang.js' %}" ></script>
<!-- <script src="{% static 'gigsJS/backExpEduLangPage.js' %}" ></script> -->
<!--end of header script-->

<!--Online Script-->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'js/Applicant/all-applicants-meet-with-us-documents-work-permit.js' %}"></script>
<!--End of Online -->
<script src="{% static 'js/Ajax/Match/user-details-ajax.js'%}"></script>

<!--Main Jobs-->

<script src="{% static 'js/Ajax/right-jobs-ajax.js'%}"></script>
<script src="{% static 'js/Ajax/myjobs-right-ajax.js'%}"></script>
<script src="{% static 'js/Ajax/recuiter-right-ajax.js'%}"></script>
<script src="{% static 'js/Applicant/applicant-documents.js'%}"></script>


<script src="{% static 'js/jobs-img.js'%}"></script>

<!--Filter and Search-->
<script src="{% static 'js/dropdown-jobs.js'%}"></script>
<script src="{% static 'js/search-button.js'%}"></script>
<script src="{% static 'js/applicant-documents.js'%}"></script>
<!--End of Main Jobs-->


<!-- Recruiter scripts -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!--Drop Downs filter-->
<script>
    function testApp(id){


        var divID = "edit_dropdown"+id;
        const el = document.getElementById(divID);

        if(el.style.display == "block"){
            el.style.display = "none";
        }else{
            var divsToHide = document.getElementsByClassName("edit_dropdown"); //divsToHide is an array
            for(var i = 0; i < divsToHide.length; i++){

                divsToHide[i].style.display = "none"; // depending on what you're doing
            }
            var elements = document.getElementsByClassName("profileDropDown");

                // Loop through each element and set the display property to none
                for (var i = 0; i < elements.length; i++) {
                  elements[i].style.display = "none";
                }
            el.style.display = "block";

        }


    }
</script>

<script>
    const threeDotsMediaQuery = window.matchMedia('(max-width: 480px)');

if (threeDotsMediaQuery.matches) {
$(".job-left-row a").click(function (e) {
    // Do something
    e.stopPropagation();
});
}
</script>


<!--Profile Scripts-->
<script src="{% static 'js/presentJS.js'%}"></script>


 <script src="{% static 'js/edit-button.js'%}"></script>

    <script src="{% static 'js/change-profile.js'%}"></script>
 <!-- <script src="{% static 'js/edit-button.js'%}"></script> -->

    <script src="{% static 'js/add-button.js'%}"></script>

    <script src="{% static 'js/edit-experience-button.js'%}"></script>

    <script src="{% static 'js/edit-cover.js'%}"></script>
    <script src="{% static 'js/plus-languages.js'%}"></script>
    <script src="{% static 'js/plus-education.js'%}"></script>
    <script src="{% static 'js/plus-experience.js'%}"></script>


    <!-- <script src="{% static 'js/add-experience-education-language.js'%}"></script> -->
<script src="{% static 'js/exit-button.js'%}"></script>






<!---->


<!--forms Scripts-->

<script>
    function MMDDYYYY(value, event) {
      let newValue = value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');

      const dayOrMonth = (index) => index % 2 === 1 && index < 4;

      // on delete key.
      if (!event.data) {
        return value;
      }

      return newValue.split('').map((v, i) => dayOrMonth(i) ? v + '/' : v).join('');;

      ducument.getElementById("test").innerHTML(newValue)
    }
    </script>
<script>
    function Post(){
        var textareaText = $('#myTextArea').val();
        var test = textareaText.replace(/\r?\n/g, '<br />');
        var x = document.getElementById('myTextArea');
        x.value = test;
        document.getElementById('form-id').submit();
    }
</script>




        <script>

            var input_type = document.querySelectorAll(".input_type");
        $(".job-left-row input").click(function (e) {
            // Do something
            e.stopPropagation();
        });

        $(".job-left-row .label-all").click(function (e) {
            // Do something
            e.stopPropagation();
        });

        </script>

<!--Match-->
<script src="{% static 'js/Match/main.js' %}"></script>
<script src="{% static 'js/Match/all-applicants-dropdown.js'%}"></script>
<!--<script src="{% static 'js/select-all-button.js'%}"></script>-->







<script>
    const countries = ["Kosovo","Albania","Afghanistan",
"Algeria",
"Andorra",
"Angola",
"Antigua and Barbuda",
"Argentina",
"Armenia",
"Australia",
"Austria",
"Azerbaijan",
"The Bahamas",
"Bahrain",
"Bangladesh",
"Barbados",
"Belarus",
"Belgium",
"Belize",
"Benin",
"Bhutan",
"Bolivia",
"Bosnia and Herzegovina",
"Botswana",
"Brazil",
"Brunei",
"Bulgaria",
"Burkina Faso",
"Burundi",
"Cambodia",
"Cameroon",
"Canada",
"Cape Verde",
"Central African Republic",
"Chad",
"Chile",
"China",
"Colombia",
"Comoros",
"Republic of the Congo",
"Democratic Republic of the Congo",
"Costa Rica",
"Croatia",
"Cuba",
"Cyprus",
"Czech Republic",
"Denmark",
"Djibouti",
"Dominica",
"Dominican Republic",
"East Timor",
"Ecuador",
"Egypt",
"El Salvador",
"Equatorial Guinea",
"Eritrea",
"Estonia",
"Eswatini",
"Ethiopia",
"Fiji",
"Finland",
"France",
"Gabon",
"The Gambia",
"Georgia",
"Germany",
"Ghana",
"Greece",
"Grenada",
"Guatemala",
"Guinea",
"Guinea-Bissau",
"Guyana",
"Haiti",
"Holy See (Vatican City)",
"Honduras",
"Hungary",
"Iceland",
"India",
"Indonesia",
"Iran",
"Iraq",
"Ireland",
"Israel",
"Italy",
"Ivory Coast",
"Jamaica",
"Japan",
"Jordan",
"Kazakhstan",
"Kenya",
"Kiribati",
"North Korea",
"South Korea",
"Kosovo",
"Kuwait",
"Kyrgyzstan",
"Laos",
"Latvia",
"Lebanon",
"Lesotho",
"Liberia",
"Libya",
"Liechtenstein",
"Lithuania",
"Luxembourg",
"Madagascar",
"Malawi",
"Malaysia",
"Maldives",
"Mali",
"Malta",
"Marshall Islands",
"Mauritania",
"Mauritius",
"Mexico",
"Micronesia",
"Moldova",
"Monaco",
"Mongolia",
"Montenegro",
"Morocco",
"Mozambique",
"Myanmar (Burma)",
"Namibia",
"Nauru",
"Nepal",
"Netherlands",
"New Zealand",
"Nicaragua",
"Niger",
"Nigeria",
"North Macedonia",
"Norway",
"Oman",
"Pakistan",
"Palau",
"Palestine",
"Panama",
"Papua New Guinea",
"Paraguay",
"Peru",
"Philippines",
"Poland",
"Portugal",
"Qatar",
"Romania",
"Russia",
"Rwanda",
"Saint Kitts and Nevis",
"Saint Lucia",
"Saint Vincent and the Grenadines",
"Samoa",
"San Marino",
"São Tomé and Príncipe",
"Saudi Arabia",
"Senegal",
"Serbia",
"Seychelles",
"Sierra Leone",
"Singapore",
"Slovakia",
"Slovenia",
"Solomon Islands",
"Somalia",
"South Africa",
"South Sudan",
"Spain",
"Sri Lanka",
"Sudan",
"Suriname",
"Sweden",
"Switzerland",
"Syria",
"Tajikistan",
"Tanzania",
"Thailand",
"Togo",
"Tonga",
"Trinidad and Tobago",
"Tunisia",
"Turkey",
"Turkmenistan",
"Tuvalu",
"Uganda",
"Ukraine",
"United Arab Emirates",
"United Kingdom",
"USA",
"Uruguay",
"Uzbekistan",
"Vanuatu",
"Venezuela",
"Vietnam",
"Yemen",
"Zambia",
"Zimbabwe"
];

    var selectedCountry = "{{form.country.value}}";
    console.log(selectedCountry);
var select = document.getElementById("id_country");

// Function to populate the select element with countries
function populateCountries() {
for (var i = 0; i < countries.length; i++) {
    var option = document.createElement("option");
    option.text = countries[i];
    select.appendChild(option);
}

// Check if selectedCountry is not null
if (selectedCountry !== null) {
    // Loop through the <select> options
    for (var i = 0; i < select.options.length; i++) {
        // Check if the option's text matches the selectedCountry
        if (select.options[i].text === selectedCountry) {
            // Set the selected option
            select.selectedIndex = i;
            checkInputs();
            break; // Exit the loop
        }
    }
}
}



function populateCountries1() {
const select = document.getElementById("id_Country");

for (const country of countries) {
const option = document.createElement("option");
option.value = country;
option.text = country;
select.appendChild(option);
}
}
function populateCountries2() {
const select = document.getElementById("id_country_e");

for (const country of countries) {
const option = document.createElement("option");
option.value = country;
option.text = country;
select.appendChild(option);
}
}

// Call the function to populate the select element
populateCountries1();
populateCountries2();
// Call the function to populate the select element when the page loads
window.addEventListener("load", populateCountries);
</script>


<script>
    $(document).ready(function() {

            // Your script logic here
            $(".bg-add-and-edit").click(function() {
                $(this).hide();
            });

            $(".under-container-mutual-mutual-stats").click(function(event) {
                event.stopPropagation();
            });

    });
</script>





<script>

function searchUsers() {
    var input = document.getElementById("userSearchInput");
    var filter = input.value.toLowerCase();

    $(".job-left-row").each(function () {
        var userName = $(this).find(".job-left-title").text().toLowerCase();
        var userEmail = $(this).find(".job-left-salary").text().toLowerCase();
        var userdetails = $(this).find(".job-left-details").text().toLowerCase();
        if (!isMobileDevice()) {
        if (userName.includes(filter) || userEmail.includes(filter) || userdetails.includes(filter)) {
            $(this).css("display", "flex");
            $(".job-left-row").css("marginTop", "20px");
            if (filter !== "") {
                $(".job-left-row:visible:first").css("marginTop", "0px");

                // Check if screen width is greater than 480px
            }
            else if (filter === "") {
                $(".job-left-row:visible:first").css("marginTop", "0px");
            }
        }
        else {
            $(this).css("display", "none");
            $(".job-left-row:visible:first").css("marginTop", "0px");
        }
        }
        else if (userName.includes(filter) || userEmail.includes(filter) || userdetails.includes(filter)) {
            $(this).css("display", "flex");
            $(".job-left").css("marginTop", "20px");

            if (filter !== "") {
                $(".job-left-row:visible:first").css("marginTop", "0px");
                $(".job-left-row:last-child").css("marginBottom", "-10px");
                
                // Check if screen width is greater than 480px
            }
            else if (filter === "") {
                $(".job-left-row:visible:first").css("marginTop", "0px");
                $(".job-left-row:last-child").css("marginBottom", "-10px");
            }
        }
        else {
            $(this).css("display", "none");
            $(".job-left-row:visible:first").css("marginTop", "10px");
            $(".job-left").css("marginTop", "10px");
        }

    });
}

// Function to check if the device is a mobile device
function isMobileDevice() {
    // Use window.matchMedia to check screen width
    return window.matchMedia("(max-width: 480px)").matches;
    
}
</script>




<script>
    function MyJobsQualified(){
    window.location="{% url 'my-jobs-qualified'  %}";
  }
  function MyJobsNoQualified(){
    window.location="{% url 'my-jobs-not-qualified'  %}";
  }
  function MyJobsAll(){
    window.location="{% url 'my-jobs-all'  %}";
  }
  </script>





