
textarea {
    
    height:80vh;
    resize: none;
    border:none;
    width:85%;
    background-color: white;
    font-size: 18px;
    color: #858585;
    overflow: scroll;
    font-family: 'Spline Sans', sans-serif;
}
.scroll::-webkit-scrollbar { width: 0 !important }
.scroll { overflow: -moz-scrollbars-none; }
.scroll { -ms-overflow-style: none; }
.jobs-buttons {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 40px;
}
.mutual-padding-of-div {
    padding-right: 20px;
}
.applied-button-jobs, .applied-button-posted-jobs {
    border: solid  1.2px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 36px;
}
.applied-button-jobs, .posted-button-posted-jobs {
    color: white;
    background-color: #1877F2;
    border: none;
}
.posted-button-jobs, .applied-button-posted-jobs {
    color: #65676B;
    background-color: white;
}
.plus-jobs-posted {
    padding-left: 0px;
    padding-right: 0px;
    width: 36px;
    font-size: 28px;
}
.plus-icon-jobs {
    color: red;
}
.applied-button-posted-jobs {
    border: none;
}
.outline-none:focus {
    outline: none;
}
.first-button-plus-jobs {
    padding-right: 20px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.posted-button-jobs, .posted-button-posted-jobs {
    border: solid  1.2px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    border: none;
    height: 36px;
}
.jobs-left, .right-jobs {
    overflow-y: scroll;
    height: 85vh;
    margin-bottom: 20px;
}

.jobs-left::-webkit-scrollbar {
    display: none;
}
.right-jobs::-webkit-scrollbar {
    display: none;
}
.jobs-left-content {
}

.first-row-jobs, .first-row-second-div {
    color: #131419; 
    padding-bottom: 10px;
}
.first-row-jobs {
    font-size: 24px;
}
.first-row-second-div {
    font-size: 20px;
}
.second-row-jobs {
    font-size: 20px;
    padding-bottom: 5px; 
    color: #1877F2;
}
.second-row-second-div {
    font-size: 17px;
    color: #858585;
}
.right-jobs-rows-img {
    margin-left: 10px;
}
.jobs-third-row, .first-row-jobs-third-row-second-div {
    margin-top: 50px;
}
.jobs-third-row-second-div {
    font-size: 20px;
}
.first-row-jobs-third-row-second-div {
    color: #131419; 
}
.jobs-mutual-margin-rows {
    margin-top: 15px;
}
.second-div-second-paragraph {
    font-size: 17px;
}
.second-div-second-paragraph {
    color: #858585;
}
.here-link {
    color: #1877F2;
    text-decoration-color: #1877F2;
}
.second-part {
    height: 400px;
    overflow-y: scroll;
}
.second-part::-webkit-scrollbar {
    display: none;
}