{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<style>
    form{
        margin-bottom: 0;
    }

    #countrySelect {
        margin-top: 20px;
    }
    .iti{
        width:100% !important;
        margin-bottom: 20px;
    }
    .iti__selected-flag {
        padding: 0 5px 0 10px ;
    }
    .iti--allow-dropdown input {
        padding-left: 49px !important;
    }
    .loading-spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left: 4px solid #3498db;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
        margin-left: 10px;
        display: inline-block;
        float:right;
        margin-right:10px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>



<!-- Edit profile -->
<div class="edit-profile-bg">
        <div class="container-edit-profile under-container-mutual-mutual-stats">

            <div class="edit-profile-title user-mutual-titles-pop-ups-stats">Edit Profile</div>
            <form method="post" id="edit-user-details" autocomplete="off" enctype="multipart/form-data" class="sign-up-form edit-profile-form forms-inputs-placeholder">
                {% csrf_token %}

                 <div class="first-and-last-name-div" style="">
                        <div class="edit-profile-first-name edit-profile-first-last">
                            <input type="text"  name="first_name" class="name-input profile-all-inputs-option edit-profile-mutual-input " placeholder="First Name" maxlength="150" id="id_first_name">
                        </div>

                        <div class="edit-profile-first-last">
                            <input type="text" name="last_name" class="surname-input  profile-all-inputs-option edit-profile-mutual-input" placeholder="Last Name" maxlength="150" id="id_last_name">
                        </div>
                 </div>


                <div>
                            <div class="autocomplete" style="width:100%;">
                                <select name="country" id="id_country" class="profile-all-inputs-option edit-profile-selects" maxlength="255"></select>
                            </div>
                        </div>
                        <div>
                            <input type="text" name="city" class=" profile-all-inputs-option edit-profile-mutual-input" placeholder="City" maxlength="255" id="id_city" value="{% if user.city is not None %}{{ user.city }}{% endif %}">
                        </div>

                        <input type="text"  name="phone_number" class="profile-all-inputs-option edit-profile-mutual-input" oninput="addPlusPrefix(this);" maxlength="255" id="id_phone_number" data-intl-tel-input-id="0" placeholder="+383">                       

                <div class="save-button save-button-edit-profile-photo">
                            <input name="back" title="Back to Profile" type="button" class="back-input font-fam back-save-buttons" value="Back">
                            <input title="Save Profile Data" id="editProfileSave" name="save" type="submit" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="UpdateUserDetails(); ">
                        </div>


            </form>
    </div>
</div>

<!-- edit cover -->
<div class="bg-cover-edit">
    <div class="cover-edit">
        <div class="edit-profile-title user-mutual-titles-pop-ups-stats edit-profile-cover-photo-title">Edit Cover Photo</div>

        <form id="edit-user-cover" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="div-of-changed-cover">
                

                <label for="id_cover">
                    <img class="changed-cover" id="coverPic" height="250"  src="{{user.cover.url}}" title="Profile Cover" alt="" accept="image/*" size="20971520">
                </label>
                <input type="file" name="cover" class="upload_profile_pic" id="id_cover" onchange="document.getElementById('coverPic').src = window.URL.createObjectURL(this.files[0])" accept="image/*">
           
            </div>
                <div class="save-button save-button-edit-profile-photo">
                    <input name="back" title="Back to Profile" type="button" class="back-input font-fam back-save-buttons" value="Back">
                    <input title="Save Profile Data" name="save" type="submit" class="save-submit-input font-fam back-save-buttons" value="Save">
                </div>
        </form>


    </div>
</div>



<!-- edit profile -->
<div class="bg-change-profile-picture">
        <div class="change-profile-picture">

            <div class="edit-profile-title user-mutual-titles-pop-ups-stats edit-profile-cover-photo-title">Edit Profile Photo</div>
            <form id="edit-user-profile "method="post" enctype="multipart/form-data" class="forms-inputs-placeholder">
                {% csrf_token %}
                <div class="div-of-changed-cover">
                    

                    <label for="id_profile">
                        <img class="changed-profile changed-picture proImg" id="profilePic"  src="{{user.profile.url}}" title="Profile Cover" alt="">

                    </label>
                    <input type="file" name="profile" id="id_profile" onchange="document.getElementById('profilePic').src = window.URL.createObjectURL(this.files[0])" accept="image/*">
                </div>
                <div class="save-button save-button-edit-profile-photo">
                    <input name="back" title="Back to Profile" type="button" class="back-input font-fam back-save-buttons" value="Back">
                    <input title="Save Profile Data" name="save" type="submit" class="save-submit-input font-fam back-save-buttons " value="Save" onclick="editUserProfile();disableButton(this)">
                </div>
            </form>

        </div>
    </div>



<!-- add experience , education, languge -->
<div class="bg-add-and-edit">


    <!-- Add Experience -->
    <div class="add-experience under-container-mutual-mutual-stats">
            <div class="mutual-titles-pop-ups-stats">Add Experience</div>
            <form method="post" class="sign-up-form add-user-experience forms-inputs-placeholder" enctype="multipart/form-data" style="margin-bottom:0;" id="add-user-experience">
                {% csrf_token %}
                <input type="hidden" id="id-experience">
                <input type="text" name="title" class="name-input profile-all-inputs-option" placeholder="Job title" maxlength="500" required="" id="id_title">
<input type="text" name="company" class="name-input profile-all-inputs-option experience-mutual-input" placeholder="Company" maxlength="255" required="" id="id_company">
<select name="Country" class="profile-all-inputs-option experience-selects" maxlength="255" id="id_Country"></select>
<input type="text" name="city_usExp" class="name-input profile-all-inputs-option experience-mutual-input" placeholder="City" maxlength="255" id="id_city_usExp">
                    <div class="start-and-end-date-main-div">
                        <input id="id_start_date" class="start-date-input date-of-birth-input inputs-job-details start-end-date all-inputs profile-all-inputs-option experience-mutual-input"
                        name="start_date" onchange="checkForm();checkStartDate();" value="" type="text" maxlength="10"
                        placeholder="Start Date (dd/mm/yyyy)" oninput="this.value = MMDDYYYY(this.value, event)" />
                        <input id="id_end_date" class="end-date-input date-of-birth-input inputs-job-details start-end-date all-inputs profile-all-inputs-option "
                        name="end_date" onchange="checkForm();checkStartDate();" value="" type="text" maxlength="10"
                        placeholder="End Date (dd/mm/yyyy)" oninput="this.value = MMDDYYYY(this.value, event)" />
                        
                    </div>
                    <div style="float: right; border:0;width:auto;font-size: 16px;color: #858585;padding:0;" class="profile-all-inputs-option">
                        <label class="" style=""><input class="" id="experienceCheck" style="" onchange="present()"type="checkbox" > Present</label>
                    </div>
                    <div class="save-button save-button-edit-profile-photo">
                    <input name="back" title="Back to Profile" type="button"   class="back-input font-fam back-save-buttons" value="Back">

                    <input title="Save Experience Data" name="save"  id="addUserExp" type="submit" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="AddUserExperience(); ">
                    <input title="Save Experience Data" name="save" id="editUserExp" type="submit" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="editUserExperience(); ">
                </div>
            </form>
    </div>

    <!-- add Education -->
    <div class="add-education edit-education-parent-scroll under-container-mutual-mutual-stats edit-education-scroll">
        <div class="add-education-title mutual-titles-pop-ups-stats">Add Education</div>
        <form id="add-user-education" class="sign-up-form forms-inputs-placeholder add-user-education education-popup" >
            {% csrf_token %}
            <input type="hidden" id="id_edu">
            <input type="text" name="university" class="name-input profile-all-inputs-option education-mutual-input" placeholder="University" maxlength="255" required="" id="id_university">
            <input type="text" name="field_of_study" class="name-input profile-all-inputs-option education-mutual-input" placeholder="Field of Study" maxlength="255" required="" id="id_field_of_study">
            
            
            <select name="degree" required="" id="id_degree" class="profile-all-inputs-option education-selects">
                <option style="display: none;" selected="">Degree</option>
                <option value="Bachelor">Bachelor’s Degree</option>

                <option value="Master">Master’s Degree</option>
            </select>
            
            <select name="country_e" class="name-input profile-all-inputs-option education-mutual-input" list="EduCountryList" placeholder="Country" maxlength="255" id="id_country_e"></select>
            
            <input type="text" name="city_e" class="name-input profile-all-inputs-option education-mutual-input" list="EduCityList" placeholder="City" maxlength="255" id="id_city_e">
            
            <input type="number" name="total_examples_passed" value="" class="name-input profile-all-inputs-option education-mutual-input" placeholder="Total Exams Passed" required="" id="id_total_examples_passed">
            
            <input type="number" name="GPA" value="" class="name-input profile-all-inputs-option education-mutual-input" placeholder="GPA" step="any" required="" id="id_GPA">
            

            <div class="start-and-end-date-main-div">
                <input id="id_start_year" class="start-date-input date-of-birth-input inputs-job-details start-end-date all-inputs mutual-input education-mutual-input" 
                name="start_year" onchange="checkForm();checkStartDate();" value="" type="text" maxlength="10" 
                placeholder="Start Year (dd/mm/yyyy)" oninput="this.value = MMDDYYYY(this.value, event)" />
                <input id="id_end_year" class="end-date-input date-of-birth-input inputs-job-details start-end-date all-inputs mutual-input " 
                name="end_year" onchange="checkForm();checkStartDate();" value="" type="text" maxlength="10" 
                placeholder="End Year (dd/mm/yyyy)" oninput="this.value = MMDDYYYY(this.value, event)" />
                
            </div>
            <div style="float: right; border:0;width:auto;font-size: 16px;color: #858585;padding:0;" class="profile-all-inputs-option">
                <label class="" style=""><input class="" id="educationCheck" style="" onchange="presentEnd()"type="checkbox" > Present</label>
            </div>
            <div class="save-button save-button-edit-profile-photo save-button-add-education">
                <input name="back" title="Back to Profile" type="button" class="back-input font-fam back-save-buttons" value="Back">
                <input title="Save Profile Data" name="save" id="addUserEdu" type="submit" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="AddUserEducation(); ">
                <input title="Save Profile Data" name="save" id="editUserEdu" type="submit" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="EditUserEducation(); ">
            </div>

        </form>
    </div>

    <!-- add language -->
    <div class="add-languages under-container-mutual-mutual-stats">
    
        <div class="add-language-title mutual-titles-pop-ups-stats">Add Language</div>
        <form id="add-user-language" class="sign-up-form add-language-form add-user-language forms-inputs-placeholder">
            {% csrf_token %}
            <input id="id_lang" type="hidden">
            <div class="div-of-job-experience">
                <select name="language" required="" id="id_language" class="profile-all-inputs-option languages-selects">
                    <option value="" style="display: none;" disabled selected>Language</option>
                    
                </select>
            </div>
            
            <div>
            <select id="id_level" name="level" type="text" required class="surname-input mutual-stats font-fam languages-selects">
                <option style="display: none;" value="" disabled selected>Level</option>





                <option value="N/A">N/A</option>
                    <option value="Basic">Basic</option>
                    <option value="Low-Intermediate">Low-Intermediate</option>


                    <option value="High-Intermediate">High-Intermediate</option>

                    <option value="Advanced">Advanced</option>
            </select>
            </div> 
            <div class="save-button save-button-edit-profile">
                <input title="Back to Profile" name="back" type="button" class="back-input font-fam back-save-buttons" value="Back">
                <div class="loading-spinner" id="loading-spinner-languages" style="display: none;"></div>
                <input title="Save Profile Data" name="save" type="submit" id="AddUserLang" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="AddUserLanguages(); " >
                <input title="Save Profile Data" name="save" type="submit" id="EditUserLang" class="save-submit-input font-fam back-save-buttons disabled-save-buttons" value="Save" onclick="EditUserLanguages(); " >
            </div>
        </form>
    </div>

    <div class="delete-languages under-container-mutual-mutual-stats">
        <div class="add-language-title mutual-titles-pop-ups-stats" id="delete-title" ></div>
        <form method="POST" action="" class="sign-up-form add-language-form">
            {% csrf_token %}
            <input type="hidden" id="delete_id">
            <div class="save-button save-button-edit-profile">
                <input title="Back to Profile" name="back" type="button" class="back-input font-fam back-save-buttons" value="No">
                <input title="Delete Expe" name="save" type="submit" id="experience-delete-button" onclick="deleteUserExperience(); " style="display: none;" class="save-submit-input font-fam back-save-buttons " value="Yes">
                <input title="Delete Education" name="save" type="submit" id="education-delete-button" onclick="deleteUserEducation(); " style="display: none;" class="save-submit-input font-fam back-save-buttons " value="Yes">
                <input title="Delete Language" name="save" type="submit" id="language-delete-button" onclick="deleteUserLanguage(); " style="display: none;"class="save-submit-input font-fam back-save-buttons " value="Yes">
            </div>
        </form>
</div>


</div>

<script>
    
</script>


<script>
    function addPlusPrefix(input) {
        let inputValue = input.value;

        // Check if the input value already starts with "+"
        if (inputValue.charAt(0) !== '+') {
            input.value = '+' + inputValue;
        } else {
            // If there's more than one "+", remove additional "+" characters
            input.value = '+' + inputValue.replace(/\+/g, '');
        }
    }
</script>
{% if user.phone_number %}
<script>

    let fullPhoneNumber = "{{ user.phone_number}}";

if (!fullPhoneNumber.startsWith('+')) {
    fullPhoneNumber = '+' + fullPhoneNumber;
}

    function autoFill() {
        const input = document.querySelector("#id_phone_number");
        input.value = fullPhoneNumber;
    }

    autoFill();

    const phoneInput = document.querySelector("#id_phone_number");

    // Initialize intl-tel-input
    const iti = window.intlTelInput(phoneInput, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["xk", "al"], // Set your preferred countries here
        formatOnDisplay: false, // Disable auto-formatting
    });

    // Listen for changes to the selected country
    iti.promise.then(function () {
        iti.setNumber(fullPhoneNumber); // Set the full phone number including the country code
    });

    // Listen for input changes and update the formatted phone number
    phoneInput.addEventListener("input", function () {
        const phoneNumber = iti.getNumber();
    });
</script>

{% else %}
<script>
        const phoneInput = document.querySelector("#id_phone_number");

        // Initialize intl-tel-input
        const iti = window.intlTelInput(phoneInput, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            preferredCountries: ["xk", "al"], // Set your preferred countries here
            formatOnDisplay: false, // Disable auto-formatting
        });

        // Listen for changes to the selected country
        iti.promise.then(function () {
            const selectedCountryData = iti.getSelectedCountryData();

            // Update the input field with the country code when the country changes
            const countryCode = selectedCountryData.dialCode;
            phoneInput.value = "+" + countryCode;
        });

        // Listen for input changes and update the formatted phone number
        phoneInput.addEventListener("input", function () {
            const phoneNumber = iti.getNumber();
        });
    </script>

{% endif %}

<script>
        const countries = ["Kosovo","Albania","Afghanistan",
  "Algeria",
  "Andorra",
  "Angola",
  "Antigua and Barbuda",
  "Argentina",
  "Armenia",
  "Australia",
  "Austria",
  "Azerbaijan",
  "The Bahamas",
  "Bahrain",
  "Bangladesh",
  "Barbados",
  "Belarus",
  "Belgium",
  "Belize",
  "Benin",
  "Bhutan",
  "Bolivia",
  "Bosnia and Herzegovina",
  "Botswana",
  "Brazil",
  "Brunei",
  "Bulgaria",
  "Burkina Faso",
  "Burundi",
  "Cambodia",
  "Cameroon",
  "Canada",
  "Cape Verde",
  "Central African Republic",
  "Chad",
  "Chile",
  "China",
  "Colombia",
  "Comoros",
  "Republic of the Congo",
  "Democratic Republic of the Congo",
  "Costa Rica",
  "Croatia",
  "Cuba",
  "Cyprus",
  "Czech Republic",
  "Denmark",
  "Djibouti",
  "Dominica",
  "Dominican Republic",
  "East Timor",
  "Ecuador",
  "Egypt",
  "El Salvador",
  "Equatorial Guinea",
  "Eritrea",
  "Estonia",
  "Eswatini",
  "Ethiopia",
  "Fiji",
  "Finland",
  "France",
  "Gabon",
  "The Gambia",
  "Georgia",
  "Germany",
  "Ghana",
  "Greece",
  "Grenada",
  "Guatemala",
  "Guinea",
  "Guinea-Bissau",
  "Guyana",
  "Haiti",
  "Holy See (Vatican City)",
  "Honduras",
  "Hungary",
  "Iceland",
  "India",
  "Indonesia",
  "Iran",
  "Iraq",
  "Ireland",
  "Israel",
  "Italy",
  "Ivory Coast",
  "Jamaica",
  "Japan",
  "Jordan",
  "Kazakhstan",
  "Kenya",
  "Kiribati",
  "North Korea",
  "South Korea",
  "Kuwait",
  "Kyrgyzstan",
  "Laos",
  "Latvia",
  "Lebanon",
  "Lesotho",
  "Liberia",
  "Libya",
  "Liechtenstein",
  "Lithuania",
  "Luxembourg",
  "Madagascar",
  "Malawi",
  "Malaysia",
  "Maldives",
  "Mali",
  "Malta",
  "Marshall Islands",
  "Mauritania",
  "Mauritius",
  "Mexico",
  "Micronesia",
  "Moldova",
  "Monaco",
  "Mongolia",
  "Montenegro",
  "Morocco",
  "Mozambique",
  "Myanmar (Burma)",
  "Namibia",
  "Nauru",
  "Nepal",
  "Netherlands",
  "New Zealand",
  "Nicaragua",
  "Niger",
  "Nigeria",
  "North Macedonia",
  "Norway",
  "Oman",
  "Pakistan",
  "Palau",
  "Palestine",
  "Panama",
  "Papua New Guinea",
  "Paraguay",
  "Peru",
  "Philippines",
  "Poland",
  "Portugal",
  "Qatar",
  "Romania",
  "Russia",
  "Rwanda",
  "Saint Kitts and Nevis",
  "Saint Lucia",
  "Saint Vincent and the Grenadines",
  "Samoa",
  "San Marino",
  "São Tomé and Príncipe",
  "Saudi Arabia",
  "Senegal",
  "Serbia",
  "Seychelles",
  "Sierra Leone",
  "Singapore",
  "Slovakia",
  "Slovenia",
  "Solomon Islands",
  "Somalia",
  "South Africa",
  "South Sudan",
  "Spain",
  "Sri Lanka",
  "Sudan",
  "Suriname",
  "Sweden",
  "Switzerland",
  "Syria",
  "Tajikistan",
  "Tanzania",
  "Thailand",
  "Togo",
  "Tonga",
  "Trinidad and Tobago",
  "Tunisia",
  "Turkey",
  "Turkmenistan",
  "Tuvalu",
  "Uganda",
  "Ukraine",
  "United Arab Emirates",
  "United Kingdom",
  "USA",
  "Uruguay",
  "Uzbekistan",
  "Vanuatu",
  "Venezuela",
  "Vietnam",
  "Yemen",
  "Zambia",
  "Zimbabwe"
];

        var selectedCountry = "{{form.country.value}}";
        console.log(selectedCountry);
var select = document.getElementById("id_country");

// Function to populate the select element with countries
function populateCountries() {
    for (var i = 0; i < countries.length; i++) {
        var option = document.createElement("option");
        option.text = countries[i];
        select.appendChild(option);
    }

    // Check if selectedCountry is not null
    if (selectedCountry !== null) {
        // Loop through the <select> options
        for (var i = 0; i < select.options.length; i++) {
            // Check if the option's text matches the selectedCountry
            if (select.options[i].text === selectedCountry) {
                // Set the selected option
                select.selectedIndex = i;
                checkInputs();
                break; // Exit the loop
            }
        }
    }
}



function populateCountries1() {
  const select = document.getElementById("id_Country");

  for (const country of countries) {
    const option = document.createElement("option");
    option.value = country;
    option.text = country;
    select.appendChild(option);
  }
}
function populateCountries2() {
  const select = document.getElementById("id_country_e");

  for (const country of countries) {
    const option = document.createElement("option");
    option.value = country;
    option.text = country;
    select.appendChild(option);
  }
}

// Call the function to populate the select element
populateCountries1();
populateCountries2();
// Call the function to populate the select element when the page loads
window.addEventListener("load", populateCountries);
</script>