{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="profile-header">
        <div id="example1">
        <img class="pro-img" src="{{user.cover.url}}" alt="">
        <img class="edit-button-cover" title="Edit Cover Picture" onclick="disableScroll()" src="{% static 'img/pen.png' %}" alt="">
        </div>
        <div class="second-part-profile-header">
            <div class="profile-image-and-edit">
                <div class="profile-image-and-add-button">

                    <a href="" title="Profile Picture" ><img class="profile-image" src="{{user.profile.url}}" alt=""></a>

                    <img src="{% static 'img/Asset 3.png' %}" title="Add Profile" onclick="disableScroll()" id="plus-icon" alt="">
                </div>

                <img class="edit-button" title="Edit Profile" src="{% static 'img/Ikona_edit-01 56.png' %}" alt="">
            </div>
            <div class="profile-name"><span class="profile-firstname">{{user.first_name}}</span> <span class="profile-surname">{{user.last_name}}</span></div>
            {% if user.city != None and user.country != None %}
            <div class="profile-birthplace"><span class="profile-city">{{user.city}}</span><span>,</span> <span class="profile-country">{{user.country}} </span>
                {% else %}
                        <div class="profile-birthplace"><span class="profile-city"></span><span></span> <span class="profile-country"> </span>

                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% include "UserProfile/experience.html" %}
    {% include "UserProfile/education.html" %}
    {% include "UserProfile/language.html" %}
    {% include "UserProfile/add-exp-edu-lang.html" %}

{% endblock content %}

