{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Worki - Profile{% endblock %}</title>
{% block description %}One profile. Unlimited opportunities{% endblock %}

{% block content %}

    <div class="profile-header">
        <div id="example1">
            {% if user.cover %}
        <img class="pro-img" src="{{user.cover.url}}" alt="">
            {% else %}
            <img class="pro-img" src="{% static 'img/Vector 350.svg' %}">
            {% endif %}
        <img class="edit-button-cover" title="Edit Cover Picture"  src="{% static 'img/Vector 350.svg' %}" alt="">
        </div>
        <div class="second-part-profile-header">
        <div class="profile-image-and-edit">
                <div class="profile-image-and-add-button">
                    
                    <a  title="Profile Picture" ><img class="profile-image" src="{{user.profile.url}}" alt=""></a>

                    <img src="{% static 'img/Vector 609.svg' %}" title="Add Profile"  id="plus-icon" alt="">
                </div>

                <img class="edit-button" title="Edit Profile"   src="{% static 'img/Vector 350.svg' %}" alt="">
            </div>
            <div class="profile-name"><span class="profile-firstname">{{user.first_name}}</span> <span class="profile-surname">{{user.last_name}}</span></div>
            {% if user.city != None and user.country != None %}
            <div class="profile-birthplace"><span class="profile-city">{{user.city}}</span><span>,</span> <span class="profile-country">{{user.country}} </span>
                {% else %}
                        <div class="profile-birthplace"><span class="profile-city"></span><span></span> <span class="profile-country"> </span>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
    {% include "UserProfile/experience.html" %}
    {% include "UserProfile/education.html" %}
    {% include "UserProfile/language.html" %}
    {% include "UserProfile/add-exp-edu-lang.html" %}

<script>
 const ExperienceinputFields = Array.from(document.querySelectorAll('.experience-mutual-input'));
const EducationinputFields = Array.from(document.querySelectorAll('.education-mutual-input'));
const EditProfileinputFields = Array.from(document.querySelectorAll('.edit-profile-mutual-input'));
const ExperienceSelects = Array.from(document.querySelectorAll(".experience-selects"));
const EducationSelects = Array.from(document.querySelectorAll(".education-selects"));
const LanguagesSelects = Array.from(document.querySelectorAll(".languages-selects"));
const EditPorfileSelects = Array.from(document.querySelectorAll(".edit-profile-selects"));
const ExperienceSaveSubmitInput = document.getElementById('addUserExp') && document.getElementById('editUserExp');
const EducationSaveSubmitInput = document.getElementById('addUserEdu') && document.getElementById('editUserEdu');
const LanguagesSaveSubmitInput = document.getElementById('AddUserLang') && document.getElementById('EditUserLang');
const EditProfileSaveSubmitInput = document.getElementById('editProfileSave');



document.getElementById('editUserExp').disabled = false;
document.getElementById("editUserExp").classList.add("save-button-enabled");
document.getElementById('editUserEdu').disabled = false;
document.getElementById('editUserEdu').classList.add("save-button-enabled");
document.getElementById('EditUserLang').disabled = false;
document.getElementById('EditUserLang').classList.add("save-button-enabled");

function ExperienceCheckInputs() {
  const allInputsFilled = ExperienceinputFields.every(input => input.value.trim() !== '');
  const allSelectsFilled = ExperienceSelects.every(select => select.value.trim() !== '');

  const startExperienceDateValue = document.getElementById('id_start_date').value.trim();
  const endExperienceDateValue = document.getElementById('id_end_date').value.trim();
  const isCheckboxChecked = document.getElementById('experienceCheck').checked;

  const isExperienceStartDateValid = /^\d{2}\/\d{2}\/\d{4}$/.test(startExperienceDateValue);
  const isExperienceEndDateValid = /^\d{2}\/\d{2}\/\d{4}$/.test(endExperienceDateValue);

  if (isCheckboxChecked) {
    // If checkbox is checked, disable end date validation
    ExperienceSaveSubmitInput.disabled = !allInputsFilled || !allSelectsFilled || !isExperienceStartDateValid;
  } else {
    // If checkbox is not checked, include end date validation
    ExperienceSaveSubmitInput.disabled = !allInputsFilled || !allSelectsFilled || !isExperienceStartDateValid || !isExperienceEndDateValid;

    // Check if end date is fully filled, enable and add class
    if (isExperienceEndDateValid) {
      ExperienceSaveSubmitInput.disabled = false;
      ExperienceSaveSubmitInput.classList.add("save-button-enabled");
    } else {
      ExperienceSaveSubmitInput.classList.remove("save-button-enabled");
    }
  }

  if (ExperienceSaveSubmitInput.disabled === false) {
    ExperienceSaveSubmitInput.classList.add("save-button-enabled");
  } else {
    ExperienceSaveSubmitInput.classList.remove("save-button-enabled");
  }
}

window.onload = ExperienceCheckInputs;
ExperienceinputFields.forEach(input => input.addEventListener('input', ExperienceCheckInputs));
ExperienceSelects.forEach(select => select.addEventListener('change', ExperienceCheckInputs));
document.getElementById('experienceCheck').addEventListener('change', ExperienceCheckInputs);
document.getElementById('id_end_date').addEventListener('input', ExperienceCheckInputs);


function EducationCheckInputs() {
  const allInputsFilled = EducationinputFields.every(input => input.value.trim() !== '');
  const allSelectsFilled = EducationSelects.every(select => select.value.trim() !== '');

  const startEducationDateValue = document.getElementById('id_start_year').value.trim();
  const endEducationDateValue = document.getElementById('id_end_year').value.trim();
  const isCheckboxChecked = document.getElementById('educationCheck').checked;

  const isEducationStartDateValid = /^\d{2}\/\d{2}\/\d{4}$/.test(startEducationDateValue);
  const isEducationEndDateValid = /^\d{2}\/\d{2}\/\d{4}$/.test(endEducationDateValue);

  if (isCheckboxChecked) {
    // If checkbox is checked, disable end date validation
    EducationSaveSubmitInput.disabled = !allInputsFilled || !allSelectsFilled || !isEducationStartDateValid;
  } else {
    // If checkbox is not checked, include end date validation
    EducationSaveSubmitInput.disabled = !allInputsFilled || !allSelectsFilled || !isEducationStartDateValid || !isEducationEndDateValid;

    // Check if end date is fully filled, enable and add class
    if (isEducationEndDateValid) {
      EducationSaveSubmitInput.disabled = false;
      EducationSaveSubmitInput.classList.add("save-button-enabled");
    } else {
      EducationSaveSubmitInput.classList.remove("save-button-enabled");
    }
  }

  if (EducationSaveSubmitInput.disabled === false) {
    EducationSaveSubmitInput.classList.add("save-button-enabled");
  } else {
    EducationSaveSubmitInput.classList.remove("save-button-enabled");
  }
}

window.onload = EducationCheckInputs;
EducationinputFields.forEach(input => input.addEventListener('input', EducationCheckInputs));
EducationSelects.forEach(select => select.addEventListener('change', EducationCheckInputs));
document.getElementById('educationCheck').addEventListener('change', EducationCheckInputs);
document.getElementById('id_end_year').addEventListener('input', EducationCheckInputs);

  function LanguagesCheckInputs() {
    const allSelectsFilled = LanguagesSelects.every(select => select.value.trim() !== '');

    LanguagesSaveSubmitInput.disabled = !allSelectsFilled;

    if (LanguagesSaveSubmitInput.disabled === false) {
        // isValidEmail(email);
        LanguagesSaveSubmitInput.classList.add("save-button-enabled");
    } else {
        LanguagesSaveSubmitInput.classList.remove("save-button-enabled");
    }
}

window.onload = LanguagesCheckInputs;

LanguagesSelects.forEach(select => select.addEventListener('change', LanguagesCheckInputs));

function EditProfileCheckInputs() {
    const allInputsFilled = EditProfileinputFields.every(input => input.value.trim() !== '');
    const allSelectsFilled = EditPorfileSelects.every(select => select.value.trim() !== '');
    
    EditProfileSaveSubmitInput.disabled = !allInputsFilled || !allSelectsFilled;
  
    if (EditProfileSaveSubmitInput.disabled === false) {
      EditProfileSaveSubmitInput.classList.add("save-button-enabled");
    } else {
      EditProfileSaveSubmitInput.classList.remove("save-button-enabled");
    }
  }

  window.onload = EditProfileCheckInputs;

// Initially, the class is not added
// LanguagesSaveSubmitInput.classList.remove("save-button-enabled");
EditProfileinputFields.forEach(input => input.addEventListener('input', EditProfileCheckInputs));
EditPorfileSelects.forEach(select => select.addEventListener('change', EditProfileCheckInputs));
  
</script>
{% endblock content %}

