{% load static %}

<div class="jobs-left" style="" id="myDIV">
    {% for i in job %}
           <div onclick="getNumber({{i.id}},{{i.total_applicant}})" class="jobs-rows-img second-jobs margin-top-jobs-rows-img same-background-jobs pixel"  id="select{{i.id}}">
               <img class="experience-education-img" src="{{i.logo.url}}" alt="">
               <span class="experience-rows">
               <span class="experience-first-row">{{i.job_title}}</span>
               <span class="experience-second-row">{{i.company}}</span>
               <span class="experience-third-row">{{i.city_j}}, {{i.city_j.country}}</span>
               <span class="experience-fourth-row">{{i.program}}</span>
               </span>
           </div>
           <span class="move"></span>
   {% endfor %}
   {% for j in jobi %}
           <div onclick="getNumber({{j.id}})" class="jobs-rows-img second-jobs margin-top-jobs-rows-img same-background-jobs pixel"  id="select{{j.id}}">
               <img class="experience-education-img" src="{{j.logo.url}}" alt="">
               <span class="experience-rows">
               <span class="experience-first-row">{{j.job_title}}</span>
               <span class="experience-second-row">{{j.company}}</span>
               <span class="experience-third-row">{{j.city_j}}, {{j.city_j.country}}</span>
               <span class="experience-fourth-row">{{j.program}}</span>
               </span>
           </div>
           <span class="move"></span>
   {% endfor %}
</div>