{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Sign In</title>
</head>

<body>
    <header class="header-border">
        <div class="first-image">
            <img class="worki-image" src="{% static 'img/Worki_Logo.png'%}" title="Worki_Icon">
        </div>
    </header>

    <div class="container">
        <div class="under-container">
            <h1 id="title" style="width: 100%;">Password reset has been done!</h1>
            <p class="second-paragraph same-color-of-paragraphs">You can go to login now and we wish happy job hunting</p>
            <p class="second-paragraph same-color-of-paragraphs"><a class="sign-in-submit-input font-fam sign-up-link" href="{% url 'login' %}" style="padding-left:20px;padding-right: 20px;">Login</a></p>
   
        </div>
    </div>

</body>

<script src="{% static 'js/password_icon.js'%}"></script>

</html>