{% extends 'base.html'%}
{% load static %}
{% block content %}
 
 
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Experience</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'%}">
    <link rel="stylesheet" href="../css/authenticated.css'%}">
    <link rel="stylesheet" href="../css/profile-header.css'%}">
    <link rel="stylesheet" href="../css/add-experience.css'%}">

        <header class="header-border">
            <img id="worki-image" src="{% static 'img/Worki_Logo_Black.png'%}" title="Worki">
            <div id="jobs-and-profile">
            <a href="#"><img class="jobs-icon-button" title="Jobs" src="{% static 'img/JOBS_Icon.png'%}"></a>
                <img src="{% static 'img/Profile.png'%}" id="profile-image-button" title="Profile" alt="">
            </div>
        </header>
        <div class="dropdown">
            <div class="dropdown-content" ><a href="" class="dropdown-content-text">My profile</a></div>
            <div class="dropdown-mid-content"><a href="" class="dropdown-content-text">My jobs</a></div>
            <div class="dropdown-content"><a href="" class="dropdown-content-text">Sign out</a></div>
        </div>
        <div class="experience-main-div experience-education-languages different_exp">
        <div class="experience-div second-experience-div">
            <div class="experience-paragraph-img-rows">
                <div class="aaa">
                <p class="experience-paragraph">Experience</p>
                
                {% for i in userExp%}
                <div class="experience-rows-img">
                    <img class="experience-education-img" src="{% static 'img/Logo (8).png' %}" alt="">
                    <div class="experience-rows">
                    <div class="experience-first-row">{{i.title}}</div>
                    <div class="experience-second-row">{{i.company}}</div>
                    <div class="experience-third-row">{{i.city_usExp}}, {{i.Country}}</div>
                    <div class="experience-fourth-row">{{i.start_date|date:'d-m-Y'}}, {% if i.start_date == i.end_date%}Present
                        {%elif i.end_date == null %} Present {% else %} {{i.end_date|date:'d-m-Y'}}{% endif %} </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="add-and-edit-experience">
              <a href="profile.html"><img class="back-icon" title="Go Back" src="{% static 'img/Безымянный-1 (1).png'%}" alt=""></a>         
              <img class="add-experience-button plus-button-exp" title="Add Experience" src="{% static 'img/Vector 80.png'%}" alt="">
            </div>
        </div>
    </div>
    <div class="bg-edit-experience" style="display: flex;">

        <div class="edit-experience-pop-up">
            <div class="under-container">
                <div class="exit-img exit-img-edit-experience">
                       <a href="{% url 'editExprience' %}"> <img title="Exit" style="vertical-align: middle;" class="exit-button exit-button-edit-experience" src="{% static 'img/Vector 81 (1).png'%}" alt=""></a>
                </div>
                <h1 id="title-experience" class="second-title-experience">Edit Experience</h1>
                <form method="POST" action="" class="sign-up-form">
                    {% csrf_token %}
                    <div style="display: none;">
                        {{form}}
                        {{edit.user_id}}
                    </div>
                    <div class="div-of-job-experience">
                        <p class="paragraph-of-name paragraphs-stats">Job title *</p>
                        {{edit.title}}
                    </div>
    
                    <div>
                        <p class="paragraph-of-surname paragraphs-stats">Company *</p>
                        {{edit.company}}
                    </div>
                    <div>
                        <p class="paragraph-of-country paragraphs-stats">Country *</p>
                        {{edit.Country}}
                    </div>
                    <div>
                        <p class="paragraph-of-city paragraphs-stats">City *</p>
                        {{edit.city_usExp}}
                    </div>
                    <div>
    
                        <div style="display: flex; justify-content: space-between;">
                            <div style="width: 48%;">
                                <p class="paragraphs-stats paragraph-of-start-date">Start date</p>
                                {{edit.start_date}}
                            </div>
                            <div style="width: 48%;
                        float: right;">
                                <p class="paragraphs-stats paragraph-of-end-date">End date</p>
                                {{edit.end_date}}
                            </div>
                        </div>
                        <div class="save-button">
                            <input name="save" type="submit" class="save-submit-input save-picture font-fam" value="Save">
    
                        </div>
                </form>
            </div>
        </div>


    </div>
</body>

<script src="{% static 'js/profile_dropdown.js'%}"></script>
<script src="{% static 'js/edit-experience.js'%}"></script>

{% endblock content %}

