{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{form}}-->

<!--    <button type="submit" value="submit">Submit</button>-->
<!--</form>-->
<link rel="stylesheet" href="{% static 'css/ProfileSetup/second.css' %}">
<div class="container-add-a-job">
        <form class="register-form" method="post">
            {% csrf_token %}
		    <div class="inside-the-container" style="">
            <h1 class="next-none mid title-font-size f-title">Tell us about</h1>
            <h1 class="next-none mid title-font-size f-title">your education</h1>
            <label style="display: flex; justify-content: center;" class="disabled second-margin-top-bottom next-none margin-top-job-title">Part 2 of 3</label>

                <div class="form-group">
      				<label class="margin-top-bottom margin-left next-none">University</label>
				<div>
                    {{form.university}}
				</div>
      		  </div>

      		 <div class="form-group" style="margin: 0;">
      		 	<label class="margin-top-bottom margin-left next-none">Degree</label>
      		    {{form.degree}}
      	    </div>
              <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom next-none">Field of study</label>
                {{form.field_of_study}}
            </div>
            <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom margin-left next-none">University start year</label>
                {{form.start_year}}
           </div>
           <div class="form-group" style="margin: 0;">
            <label class="margin-top-bottom margin-left next-none">University end year</label>
               {{form.end_year}}
           </div>
           <div class="form-group" style="margin: 0;">
            <label class="margin-top-bottom next-none">Total exams passed</label>
               {{form.total_examples_passed}}
            </div>
            <div class="form-group" style="margin: 0;">
                <label class="margin-top-bottom next-none">GPA</label>
                {{form.GPA}}
            </div>
            <div style="display:none">{{form.user_id}}</div>
            <div style="width: 100%; display: flex; justify-content: space-between;">
            <a href="apply-for-job.html" class="btn back-button next-none" style="color: #1877F2;">Back</a>
            <button type="submit"  class="btn submit-button next-button next-none" style="color: white;">Next</button>
            </div>
		</div>
    </form>
	</div>

{% endblock content %}