

{% load static %}
{% block content %}

{% include 'header-links.html' %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


<style>


        #countrySelect {
            margin-top: 20px;
        }

        .iti__selected-flag {
            padding: 0 5px 0 10px ;
        }
        .iti--allow-dropdown input {
            padding-left: 49px !important;
        }
    </style>
    <form class="reserveForm" id="answerForm"  method="POST">
    {% csrf_token %}

<div id="reserve-form" class=" second-reserve-form reserve-form" method="POST">
    <div class="contact-information-form">
        <div class="under-c-i-f" style="">
        <div class="second-under-c-i-f under-c-i-f">
            <div class="program-duration-main-div" style="">
            <!-- <div class="program-duration-div pd-ci-cursor">Program Duration</div> -->
            </div>
            <div class="program-duration-under-div">

        <div class="contact-information-title">Contact Information</div>
        <div class="inputs-div contact-information-margin-bottom first-and-last-name" style="display: flex;">
            <input style="" name="first_name" placeholder="First Name" {% if user.first_name %}value="{{user.first_name}}"{% endif%} id="id_first_name" class="apply-first-name apply-name-surname all-inputs mutual-input"></input>


            <input placeholder="Last Name" name="last_name" id="id_last_name" class="apply-last-name apply-name-surname all-inputs mutual-input" {% if user.last_name %}value="{{ user.last_name }}"{% endif %}>

        </div>
        <div class="inputs-div second-inputs-div">
            <input type="email" name="email" id="id_email" placeholder="Email" value="{{user.email}}" class="all-inputs mutual-input contact-information-mutual-stats contact-information-margin-bottom" required>
            <!-- <input placeholder="Date of Birth" class="all-inputs contact-information-mutual-stats contact-information-margin-bottom mutual-input date-of-birth-input" style=""></input> -->
<!--            <input type="tel" placeholder="Phone Number" name="phone_number" {% if user.phone_number %} value="{{user.phone_number}}" {% endif %} pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="all-inputs2 contact-information-mutual-stats contact-information-margin-bottom mutual-input" required>-->

            <input type="tel" name="phone_number" id="phone-input" style="width:100%;margin-bottom:40px;" oninput="preventDeletion();addPlusIfEmpty();" class="all-inputs2 contact-information-mutual-stats contact-information-margin-bottom mutual-input"  placeholder="Phone number">
            <div class="contact-information-margin-bottom"></div>


<!--                   <input type="tel"  id="phone-input" style="width:100%;" placeholder="Phone number">-->

            <select name="country" id="id_country" class="all-inputs contact-information-mutual-stats mutual-input">
               <option value="" disabled selected>Select a Country</option>

            </select>
        </div>
                                                                                                                                            
        <div class="back-and-next-buttons" style="width: 100%; display: flex; justify-content: space-between;">
            <a href="{% url 'home' %}" class="btn back-button next-none contact-information-back-button" style="">Back</a>
            <a id="next-button" class="next-button btn submit-button next-none" style="" >Next</a>
        </div>
    </div>
    <div class="second-screening-question-div" style="padding-top: 20px; padding-bottom: 20px; border-bottom: 40px; margin-left: 30px; color: #D4D5D6;">
        <div class="screening-questions-title second-screening-question mutual-font-size-18px">Screening Questions</div>
    </div>
</div>


</div>

</div>
</div>
<div class="third-reserve-form reserve-form" style="display: none;">
    <div class="program-duration-form screening-question-form">
            <div class="program-duration-main-div">
            </div>
            <div class="contact-information-div-third-page">
                <div class="contact-information-third-page pd-ci-cursor font-size-18px-16px">Contact Information</div>
            </div>

        <div class="screening-question-only-form" style="">
            <div class="screening-question-third-page font-size-18px-16px">Screening Questions</div>


            {% for i in question %}
                {% if i.question_type == "Numeric" %}
                                    <div class="third-form-question">{{i.promp}}</div>
                            <input type="number" placeholder="0" value="" id="screening-question-select-options" class="custom-select" required>

                {%else %}
                                                <div class="third-form-question">{{i.promp}}</div>

                    <select title="{{i.promp}}"name="{{i.id}}" id="screening-question-select-options" style="" class="custom-select" >
                        <!-- <option disabled selected style="display: none;" value="">Are you an active student?</option> -->
                        <option disabled selected style="display: none;" value="">Select option</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                  </select>
                {% endif %}

            {% endfor %}


          <div class="under-select-university-student-status" style="margin-top: 5px; color: #1877F2; display: none; position: absolute;">You must be an active university student</div>
        <div class="back-and-next-buttons" style="width: 100%; display: flex; justify-content: space-between;">
            <a class="btn back-button next-none screening-question-back" style="">Back</a>
            <a id="next-button" type="submit" onclick="document.getElementById('answerForm').submit(); return false;" class="next-button third-next-button btn submit-button next-none" style="">Submit</a>
        </div>
    </div>


</div>
</div>

</form>
<!-- Calendly inline widget begin -->




<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/theacompany/green-card?hide_event_type_details=1&hide_gdpr_banner=1', text: 'Schedule time with me', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
<script>
  const input = document.getElementById("phone-input");
  let previousValue = input.value;

  function preventDeletion() {
    if (input.value.length < previousValue.length) {
      // If the input length is decreasing, it means a character is being deleted
      // Check if the cursor is at the beginning
      if (input.selectionStart === 0) {
        // Restore the previous value
        input.value = previousValue;
      }
    }
    // Update the previous value for the next input event
    previousValue = input.value;
  }
    function addPlusIfEmpty() {
  const phoneInput = document.getElementById("phone-input");
  if (phoneInput.value.trim() === "") {
    phoneInput.value = "+";
  }
}

</script>

{% if user.phone_number %}
<script>
    const fullPhoneNumber = "{{ user.phone_number }}";
    console.log(fullPhoneNumber);

    function autoFill() {
        const input = document.querySelector("#phone-input");
        console.log(input);
        input.value = fullPhoneNumber;
    }

    autoFill();

    const phoneInput = document.querySelector("#phone-input");

    // Initialize intl-tel-input
    const iti = window.intlTelInput(phoneInput, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["xk", "al"], // Set your preferred countries here
        formatOnDisplay: false, // Disable auto-formatting
    });

    // Listen for changes to the selected country
    iti.promise.then(function () {
        iti.setNumber(fullPhoneNumber); // Set the full phone number including the country code
    });

    // Listen for input changes and update the formatted phone number
    phoneInput.addEventListener("input", function () {
        const phoneNumber = iti.getNumber();
    });
</script>

{% else %}
<script>
        const phoneInput = document.querySelector("#phone-input");

        // Initialize intl-tel-input
        const iti = window.intlTelInput(phoneInput, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            preferredCountries: ["xk", "al"], // Set your preferred countries here
            formatOnDisplay: false, // Disable auto-formatting
        });

        // Listen for changes to the selected country
        iti.promise.then(function () {
            const selectedCountryData = iti.getSelectedCountryData();

            // Update the input field with the country code when the country changes
            const countryCode = selectedCountryData.dialCode;
            phoneInput.value = "+" + countryCode;
        });

        // Listen for input changes and update the formatted phone number
        phoneInput.addEventListener("input", function () {
            const phoneNumber = iti.getNumber();
        });
    </script>

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
        const countries = ["Kosovo","Albania","Afghanistan",
  "Algeria",
  "Andorra",
  "Angola",
  "Antigua and Barbuda",
  "Argentina",
  "Armenia",
  "Australia",
  "Austria",
  "Azerbaijan",
  "The Bahamas",
  "Bahrain",
  "Bangladesh",
  "Barbados",
  "Belarus",
  "Belgium",
  "Belize",
  "Benin",
  "Bhutan",
  "Bolivia",
  "Bosnia and Herzegovina",
  "Botswana",
  "Brazil",
  "Brunei",
  "Bulgaria",
  "Burkina Faso",
  "Burundi",
  "Cambodia",
  "Cameroon",
  "Canada",
  "Cape Verde",
  "Central African Republic",
  "Chad",
  "Chile",
  "China",
  "Colombia",
  "Comoros",
  "Republic of the Congo",
  "Democratic Republic of the Congo",
  "Costa Rica",
  "Croatia",
  "Cuba",
  "Cyprus",
  "Czech Republic",
  "Denmark",
  "Djibouti",
  "Dominica",
  "Dominican Republic",
  "East Timor",
  "Ecuador",
  "Egypt",
  "El Salvador",
  "Equatorial Guinea",
  "Eritrea",
  "Estonia",
  "Eswatini",
  "Ethiopia",
  "Fiji",
  "Finland",
  "France",
  "Gabon",
  "The Gambia",
  "Georgia",
  "Germany",
  "Ghana",
  "Greece",
  "Grenada",
  "Guatemala",
  "Guinea",
  "Guinea-Bissau",
  "Guyana",
  "Haiti",
  "Holy See (Vatican City)",
  "Honduras",
  "Hungary",
  "Iceland",
  "India",
  "Indonesia",
  "Iran",
  "Iraq",
  "Ireland",
  "Israel",
  "Italy",
  "Ivory Coast",
  "Jamaica",
  "Japan",
  "Jordan",
  "Kazakhstan",
  "Kenya",
  "Kiribati",
  "North Korea",
  "South Korea",
  "Kuwait",
  "Kyrgyzstan",
  "Laos",
  "Latvia",
  "Lebanon",
  "Lesotho",
  "Liberia",
  "Libya",
  "Liechtenstein",
  "Lithuania",
  "Luxembourg",
  "Madagascar",
  "Malawi",
  "Malaysia",
  "Maldives",
  "Mali",
  "Malta",
  "Marshall Islands",
  "Mauritania",
  "Mauritius",
  "Mexico",
  "Micronesia",
  "Moldova",
  "Monaco",
  "Mongolia",
  "Montenegro",
  "Morocco",
  "Mozambique",
  "Myanmar (Burma)",
  "Namibia",
  "Nauru",
  "Nepal",
  "Netherlands",
  "New Zealand",
  "Nicaragua",
  "Niger",
  "Nigeria",
  "North Macedonia",
  "Norway",
  "Oman",
  "Pakistan",
  "Palau",
  "Palestine",
  "Panama",
  "Papua New Guinea",
  "Paraguay",
  "Peru",
  "Philippines",
  "Poland",
  "Portugal",
  "Qatar",
  "Romania",
  "Russia",
  "Rwanda",
  "Saint Kitts and Nevis",
  "Saint Lucia",
  "Saint Vincent and the Grenadines",
  "Samoa",
  "San Marino",
  "São Tomé and Príncipe",
  "Saudi Arabia",
  "Senegal",
  "Serbia",
  "Seychelles",
  "Sierra Leone",
  "Singapore",
  "Slovakia",
  "Slovenia",
  "Solomon Islands",
  "Somalia",
  "South Africa",
  "South Sudan",
  "Spain",
  "Sri Lanka",
  "Sudan",
  "Suriname",
  "Sweden",
  "Switzerland",
  "Syria",
  "Tajikistan",
  "Tanzania",
  "Thailand",
  "Togo",
  "Tonga",
  "Trinidad and Tobago",
  "Tunisia",
  "Turkey",
  "Turkmenistan",
  "Tuvalu",
  "Uganda",
  "Ukraine",
  "United Arab Emirates",
  "United Kingdom",
  "United States",
  "Uruguay",
  "Uzbekistan",
  "Vanuatu",
  "Venezuela",
  "Vietnam",
  "Yemen",
  "Zambia",
  "Zimbabwe"
];
        console.log("--------------");
        console.log(countries.length);
        var selectedCountry = "{{ user.country }}";
var select = document.getElementById("id_country");

// Function to populate the select element with countries
function populateCountries() {
    for (var i = 0; i < countries.length; i++) {
        var option = document.createElement("option");
        option.text = countries[i];
        select.appendChild(option);
    }

    // Check if selectedCountry is not null
    if (selectedCountry !== null) {
        // Loop through the <select> options
        for (var i = 0; i < select.options.length; i++) {
            // Check if the option's text matches the selectedCountry
            if (select.options[i].text === selectedCountry) {
                // Set the selected option
                select.selectedIndex = i;
                break; // Exit the loop
            }
        }
    }
}

// Call the function to populate the select element when the page loads
window.addEventListener("load", populateCountries);
    </script>



<script src="{% static 'js/reserve/reserve-second-6-months.js' %}"></script>
<!-- <script src="reserve-second-otpion.html"></script> -->
<script src="{% static 'js/reserve/reserve-second-12-months.js' %}"></script>
<script src="{% static 'js/reserve/reserve-second-18-months.js' %}"></script>
<script src="{% static 'js/worki-icon-reload-page.js' %}"></script>
<script src="{% static 'js/reserve/reserve-effect-button.js' %}"></script>
<script src="{% static 'js/reserve/reserve-post-a-job-back-button.js' %}"></script>
<script src="{% static 'js/reserve/reserve-second-next.js' %}"></script>
<script src="{% static 'js/reserve/reserve-program-duration.js' %}"></script>
<script src="{% static 'js/reserve/reserve-valid-email.js' %}"></script>
<script src="{% static 'js/reserve/reserve-third-page.js' %}"></script>
<script src="{% static 'js/reserve/reserve-date-of-birth.js' %}"></script>
<script src="{% static 'js/reserve/reserve-created-program-duration-page.js' %}"></script>
<script src="{% static 'js/reserve/reserve-screening-question.js' %}"></script>

{% endblock content %}